@charset "UTF-8";


/* 공통 */
h3.tit_a{font-size: 1.75rem;font-weight: 500;margin-bottom: 1.5rem;}
h3.tit_a p{font-size: 1rem;font-weight: 200;margin-top: .5rem;}

.contents_div01{margin-bottom:4rem;}

.font_17px{font-size: 1.05rem;}
.font_18px{font-size: 1.125rem;}
.font_20px{font-size: 1.25rem;}
.font_28px{font-size: 1.75rem;}
