/* 베이직 팝업 */
.dft_popup .basic {
  width: 411px;
  text-align: center;
}

.dft_popup .basic article {
  color: #6b6b6b;
  font-weight: normal;
  font-size: 13px;
  padding: 40px 0;
  letter-spacing: -0.5px;
}

.dft_popup .basic article > span {
  font-weight: bold;
  color: #ff6c04;
  font-size: 12px;
}
.dft_popup .basic article .error {
  color: red;
}

.dft_popup .basic p {
  font-size: 15px;
  color: #272727;
}

.dft_popup .basic h4 {
  text-align: left;
}

.dft_popup .basic h4:before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 20px;
  background: url(../../theme/basic/img/icon4.png?3335);
  background-position: -64px -122px;
  vertical-align: middle;
}

.dft_popup .basic textarea {
  width: 318px;
  height: 82px;
  display: block;
  padding: 20px;
  background: #f6f6f6;
  border: 0;
  border-radius: 5px;
  outline: none;
  margin: 20px auto 10px;
  box-sizing: border-box;
}

.dft_popup .basic .btn_wrap {
  width: 206px;
  height: 40px;
  padding-top: 20px;
  margin: 0 auto;
}

.dft_popup .basic .btn_wrap button,
.dft_popup .basic .btn_wrap a {
  width: 95px;
  height: 40px;
  border-radius: 50px;
  line-height: 40px;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.dft_popup button,
.dft_popup a {
  cursor: pointer;
}
.dft_popup .basic .btn_wrap button:nth-child(1),
.dft_popup .basic .btn_wrap a:nth-child(1) {
  background-color: #ff6c04;
}
.dft_popup .basic .btn_wrap button:nth-child(2),
.dft_popup .basic .btn_wrap a:nth-child(2) {
  background-color: #b9c5d3;
}

/* 베이직 팝업 끝*/
/* 기존 팝업 가져옴 end*/

/* 엠블럼 조합/강화 20210506 start */
/* 조합 */
.item_forge_wrap * {
  font-family: "Noto Sans KR";
}
.item_forge_wrap,
.forge_popup {
  color: #333;
}
.item_forge_wrap > * {
  border: 1px solid #dcdde1;
  border-radius: 15px;
  height: 850px;
  box-sizing: border-box;
}
.item_forge_wrap .left {
  float: left;
  padding: 25px 0;
  width: 465px;
  background: #f8f9f9;
}
.item_forge_wrap .right {
  float: right;
  width: 365px;
  padding: 25px;
}
.item_combine .forge_board {
  position: relative;
  padding-top: 295px;
}
.item_forge_wrap .forge_top .txt {
  color: #ff6d00;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}
.forge_board .item_inner {
  position: relative;
  height: 88px;
  width: 88px;
  border: 1px solid #dcdde1;
  background: #fff;
  border-radius: 15px;
}
.forge_top .item_box .tit {
  color: #333;
  line-height: 1em;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  background: #f8f9f9;
}
.forge_board .item_inner button {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: #ff5409;
  text-shadow: 1px 1px 1px rgb(255 255 255 / 70%);
  border: 2px solid #ff6d00;
  text-align: center;
  background: rgba(255, 109, 0, 0.5);
  z-index: 1;
  width: 100%;
  border-radius: 15px;
  font-size: 16px;
}
.forge_board .item_inner.added:hover button {
  display: block;
}
.item_combine .forge_board .item_box {
  position: absolute;
  z-index: 1;
}
.item_combine .forge_board .item_box .tit {
  margin-bottom: 10px;
  padding: 4px 0;
}
.item_combine .item_box {
  bottom: 0;
  left: 75px;
}
.item_combine .item_box.main_item {
  left: 186px;
  top: 20px;
  bottom: auto;
}
.item_combine .item_box.sub_item2 {
  right: 75px;
  left: auto;
}
.forge_top [class*="bg_bar"] {
  position: absolute;
  width: 1px;
  height: 200px;
  background: #dedfe2;
  z-index: 0;
}
.forge_top .bg_bar1 {
  transform: rotateZ(35deg);
  top: 55px;
  left: 150px;
}
.forge_top .bg_bar2 {
  transform: rotateZ(-35deg);
  top: 55px;
  right: 150px;
}
.forge_top .bg_bar3 {
  bottom: 60px;
  width: 250px;
  height: 1px;
  left: 105px;
}
.forge_info {
  margin: 40px 0 50px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
}
.forge_info .info_row {
  font-weight: 500;
  color: #333;
}
.forge_info .info_row + .info_row {
  margin-top: 15px;
}
.forge_info .info_row span {
  margin: 0 10px;
}
.forge_info .item_opt_info {
  margin-top: 35px;
}
.forge_info .item_opt_info ul {
  margin-top: 20px;
}
.forge_info .item_opt_info li {
  color: #999;
  font-weight: 400;
}
.forge_info .item_opt_info li + li {
  margin-top: 15px;
}
.forge_info .item_opt_info .new_opt {
  font-weight: 500;
  color: #ff6d00;
}
.forge_btn {
  text-align: center;
  font-size: 0;
}
.forge_btn button {
  font-size: 18px;
  font-weight: 400;
  width: 200px;
  margin: 0 5px;
}
.forge_btn button.rest_btn {
  background: #323b4b;
}
.item_add_list {
  width: 365px;
}
.item_add_list {
  overflow-y: scroll;
}
.item_add_list::-webkit-scrollbar {
  width: 14px;
}
.item_add_list::-webkit-scrollbar-thumb {
  background-color: #cccdd2;
  border-radius: 7px;
}
.item_add_list::-webkit-scrollbar-track {
  background-color: #f5f6f8;
  border-radius: 7px;
  margin: 25px 0;
}
.item_add_list li {
  position: relative;
  float: left;
  width: 90px;
  height: 90px;
  border: 1px solid #dcdde1;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  cursor: pointer;
}
.item_add_list li:hover::after,
.item_add_list li[class^="selec"]::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-radius: 15px;
}
.item_add_list li:hover::after {
  border: 2px solid #ff6d00;
}
.item_add_list .item_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.item_add_list li:nth-child(3n) {
  margin-right: 0;
}
.item_add_list li[class^="selec"]::after {
  font-size: 16px;
  font-weight: 500;
  color: #ff5409;
  border: 2px solid #ff6d00;
  text-align: center;
  line-height: 88px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
  background: rgba(255, 109, 0, 0.3);
}
.item_add_list li.selec_main::after {
  content: "조합대상";
}
.item_add_list li.selec_sub::after {
  content: "조합재료";
}

/* 강화 */
.item_forge_wrap .item_enhance {
  padding-top: 65px;
  height: 780px;
}
.item_forge_wrap .item_enhance + .item_add_list {
  height: 780px;
}
.item_enhance .forge_board {
  position: relative;
  padding: 0 53px;
  overflow: hidden;
}
.item_enhance .forge_board .item_inner {
  width: 130px;
  height: 130px;
}
.item_enhance .forge_board .item_box {
  float: left;
}
.item_enhance .forge_board .sub_item1 {
  float: right;
}
.item_enhance .forge_top .item_box .tit {
  margin-bottom: 20px;
}
.item_enhance .forge_board .bg_plus {
  display: block;
  position: absolute;
  width: 25px;
  height: 5px;
  background: #333;
  bottom: 62px;
  left: 220px;
}
.item_enhance .forge_board .bg_plus:after {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  width: 5px;
  left: 10px;
  top: -10px;
  background: #333;
}

/* 엠블럼 조합 end */

/* 아이템 검색 리스트 */
.tab_cont_top.type2 {
  display: flex;
}
.tab_cont_top.type2 a {
  width: 135px;
  margin-right: 2px;
  font-size: 16px;
}
.board_serach.type2 {
  padding: 15px 0;
  height: auto;
}
.board_serach .search_left {
  float: left;
}
.board_serach.type2 .search_term_btn {
  display: inline-block;
  background: #3da2f0;
  color: #fff;
  font-size: 14px;
  width: 120px;
  height: 30px;
  border: 0 none;
  border-radius: 3px;
}
.board_serach.type2 .search_opt {
  display: inline-block;
  color: #333;
  font-size: 13px;
  margin-left: 13px;
}
.board_serach .search_right {
  float: right;
  width: 50%;
  font-size: 0;
}
.board_serach .search_right * + button {
  margin-left: 5px;
}
.board_serach .search_right a {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  padding: 0 22px;
  line-height: 58px;
  vertical-align: top;
  text-decoration: none;
}
.board_serach .search_right a:hover {
  background: #ffae71;
}
.board_serach .search_right a.active {
  color: #fff;
  background: #ff6d00;
}
.board_serach.type2 .search_input {
  display: inline-block;
  width: calc(100% - 190px);
  color: #cecece;
  font-size: 13px;
  border: 1px solid #ddd;
  padding: 6px 10px 7px 10px;
  border-radius: 3px;
  vertical-align: top;
  box-sizing: border-box;
}
.board_serach.type2 .search_input::placeholder,
.board_serach.type2 .search_input::-webkit-input-placeholder {
  color: #cecece;
  opacity: 1;
}
.board_serach.type2 .search_input:-ms-input-placeholder,
.board_serach.type2 .search_input:-moz-placeholder {
  color: #cecece;
  opacity: 1;
}
.board_serach.type2 .search_right button {
  height: 30px;
  font-size: 13px;
  border: 0 none;
  border-radius: 3px;
  vertical-align: top;
  padding-bottom: 2px;
}
.board_serach.type2 .search_btn {
  width: 120px;
  color: #fff;
  background: #ff6d00;
}
.board_serach.type2 .search_reset_btn {
  width: 60px;
  color: #fff;
  background: #363e51;
}
.item_search_list {
  border-top: 2px solid #2a333a;
  border-bottom: 2px solid #2a333a;
  padding: 30px 0;
}
.item_search_list .item_box {
  float: left;
  width: calc(50% - 5px);
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 14px 15px 15px 14px;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.item_search_list .item_box:nth-child(2n) {
  margin-left: 10px;
}
.item_search_list .item_box .item_img {
  position: relative;
  float: left;
  width: 128px;
  height: 128px;
  border-radius: 15px;
  border: 1px solid #dcdde1;
  overflow: hidden;
  background: #fff;
}
.item_search_list .item_box .type {
  margin-bottom: 5px;
}
.item_img .icon_new {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 16px;
  background: url(../images/icon_emblem_new.png) no-repeat 0 0;
}
.item_img .icon_lock {
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 10px;
  width: 18px;
  height: 20px;
  background: url(../images/icon_emblem_lock.png) no-repeat center 0;
}
.item_search_list .item_box {
  position: relative;
}
.item_search_list .item_box .info_box {
  float: right;
  width: calc(100% - 140px);
  padding: 20px 0 0 0;
  color: #666;
  line-height: 1.2em;
  font-size: 16px;
  box-sizing: border-box;
}
.item_search_list .item_box .info_box .item_common_btn,
.item_search_list .item_box .info_box .item_result {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 118px;
  height: 46px;
  background: #323b4b;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  line-height: 44px;
  border-radius: 5px;
  text-align: center;
  border: 0 none;
}
.item_search_list .item_box .info_box .item_result {
  background: none;
  color: #ff6d00;
  font-weight: 700;
  text-align: right;
  right: 30px;
}
.item_search_list .item_box .info_box .item_common_btn:disabled {
  background: #e8ebf0;
  color: #868b94;
  cursor: default;
}
/* 아이템 검색 팝업 */
.popup_type2.search {
  width: 690px;
  padding: 30px 48px;
}
.popup_type2.search .btn_wrap button {
  max-width: 210px;
}
.popup_type2.search .desc {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-bottom: 15px;
}
.popup_type2.search .search_row {
  margin-bottom: 45px;
}
.popup_type2.search .search_opt {
  display: flex;
  flex-wrap: wrap;
}
.popup_type2.search .search_opt li:nth-child(5n) {
  margin-left: 0;
}
.popup_type2.search .search_opt li:nth-child(n + 5) {
  margin-top: 7px;
}
.popup_type2.search .search_opt li + li {
  margin-left: 10px;
}
.popup_type2.search .search_terms input {
  width: 170px;
  height: 54px;
  border: 1px solid #dcdde1;
  background: #fff;
  border-radius: 5px;
}
.popup_type2.search .search_terms .wave {
  line-height: 54px;
  vertical-align: top;
  margin: 0 25px;
}
.popup_type2.search input[type="radio"] {
  display: none;
}
.popup_type2.search input[type="radio"] + p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #bbc2d3;
  height: 56px;
  line-height: 54px;
  width: 140px;
  text-align: center;
  border-radius: 5px;
}
.popup_type2.search input[type="radio"]:checked + p {
  background: #3ca3f0;
}

/* 아이템 구매 리스트 */
.item_search_list.type2 .item_box {
  float: none;
  width: 100%;
}
.item_search_list.type2 .item_box + .item_box {
  margin: 10px 0 0 0 !important;
}
.item_search_list.type2 .item_box .time {
  margin-right: 10px;
}
.item_search_list.type2 .item_box .info_box {
  display: flex;
}
.item_search_list.type2 .item_box .item_info1 {
  width: 38%;
}
.item_search_list.type2 .item_box .item_info2 {
  width: 43%;
}
.item_search_list.type2 .item_box .item_info3 {
  width: 19%;
  text-align: right;
}
.item_search_list.type2 .item_box .tit {
  height: 50px;
}
.item_search_list.type2.sell_list .item_box .item_info2,
.item_search_list.type2.buy_list .item_box .item_info2 {
  width: 62%;
  text-align: right;
}
.item_search_list.type2 .item_box p + p {
  margin-top: 5px;
}
.item_search_list.type2.buy_list .item_box {
  background: #f9f9f9;
  padding-right: 30px;
}

/* 우측 영역 인벤토리 팝업 */
.user_info li .inventory strong {
  max-width: unset;
  width: 130px;
}
.user_info li .inventory:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../images/common/user_info_img.png);
  background-position: -69px -1px;
  vertical-align: -2px;
}

.user_info li .inventory button {
  width: 129px;
  height: 24px;
  line-height: 23px;
  background: #ff6d00;
  border: 1px solid #fe5b00;
  border-radius: 3px;
  color: #fff;
}

div.user_in .inventory_info {
  position: absolute;
  z-index: 9;
  left: 10px;
  top: 140px;
}

/* 공통 아이템 상세 팝업 */
.item_detail_box {
  background: #f9f9f9;
  padding: 0px 25px 30px 25px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 10px;
  font-size: 14px;
  width: 435px;
}
.item_detail_box * {
  line-height: 1.2em;
  color: #333;
  font-size: 16px;
}
.item_detail_box [class*="tit"] {
  font-weight: 500;
}
.item_detail_box .detail_tit {
  font-size: 24px;
  font-weight: 500;
  color: #363f51;
  text-align: center;
  border-bottom: 1px solid #8c92a0;
  padding: 20px 0 20px 0;
}
.item_detail_box .item_top {
  display: flex;
  margin: 30px 0 45px 0;
}
.item_detail_box .item_img {
  position: relative;
  width: 130px;
  min-width: 130px;
  height: 130px;
  border: 1px solid #dfdee3;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}
.item_detail_box .item_img img {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.item_detail_box .item_top .item_info {
  width: 100%;
  padding: 15px 0 0 15px;
}
.item_detail_box .item_top .item_tit {
  font-size: 18px;
  min-height: 75px;
  color: #333;
}
.item_detail_box .item_top .item_value {
  font-weight: 500;
  margin-bottom: 3px;
}
.item_detail_box .item_top .item_etc {
  margin-top: 5px;
  overflow: hidden;
}
.item_detail_box .item_top .item_grade {
  float: left;
  font-size: 16px;
}
/* 아이템 등급 색상
일반, 희귀, 영웅, 전설  */
.item_grade.type1 {
}
.item_grade.type2 {
}
.item_grade.type3 {
}
.item_grade.type4 {
}
.item_detail_box .item_top .item_menu {
  float: right;
  font-size: 0;
}
.item_detail_box .item_top .item_menu > button {
  display: inline-block;
  width: 24px;
  height: 20px;
  border: 0 none;
  margin-left: 6px;
}
.item_detail_box .item_top .item_menu .star {
  background: url(../images/icon_emblem_star.png) no-repeat center 0;
}
.item_detail_box .item_top .item_menu .lock {
  background: url(../images/icon_emblem_lock.png) no-repeat center 0;
}
.item_detail_box .item_top .item_menu button:hover {
  background-position: center 100%;
}
.item_detail_box .item_top .item_menu button.active {
  background-position: center 100%;
}
.item_detail_box .item_opt {
  margin-top: 30px;
}
.item_detail_box [class*="mid_info"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_detail_box .item_mid_info + .item_mid_info {
  margin-top: 15px;
}
.item_detail_box .item_mid_info .num {
  font-weight: 500;
}
.item_detail_box .gaege {
  position: relative;
  width: 100%;
  height: 28px;
  border-radius: 50px;
  background: #fff;
  border: 1px solid #dddce1;
  overflow: hidden;
  margin-top: 10px;
}
.item_detail_box .gaege .bar {
  display: block;
  height: 28px;
  background: #ff6d00;
  color: #fff;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 15px;
}
.item_detail_box .gaege .num {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  height: 28px;
  width: 100%;
  z-index: 1;
}
.item_detail_box .opt_tit {
  margin-bottom: 15px;
  text-align: center;
}
.item_detail_box .opt_list {
}
.item_detail_box .opt_list input[type="radio"] {
  display: none;
}
.item_detail_box .opt_list input[type="radio"] + p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #dcdde0;
}
.item_detail_box .opt_list input[type="radio"] + p::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 11px;
  height: 11px;
  background: #fe6d01;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
}
.item_detail_box .opt_list label {
  cursor: pointer;
}
.item_detail_box .opt_list label p {
  position: relative;
  line-height: 30px;
  color: #666;
  text-align: left;
  padding-left: 45px;
}
.item_detail_box .opt_list input[type="radio"]:checked + p {
  color: #323b4c;
  font-weight: 500;
}
.item_detail_box .opt_list input[type="radio"]:checked + p::before {
  border: 1px solid #fe6d01;
}
.item_detail_box .opt_list input[type="radio"]:checked + p::after {
  opacity: 1;
}
.item_detail_box .opt_list.bg_type {
  background: #edefee;
  border-radius: 15px;
  padding: 20px 25px;
}
.item_detail_box .opt_list button {
  display: block;
  width: 100%;
  height: 32px;
  background: #323b4c;
  border: 0;
}
.item_detail_box .opt_list .active {
  border-radius: 50px;
  color: #fff;
  background: #323b4c;
}
.item_detail_box .opt_list li {
  color: #666;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.item_detail_box .opt_list li:last-child {
  margin-bottom: 0;
}
.item_detail_box .btn_wrap,
.popup_con_wrap .btn_wrap {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.item_detail_box .btn_wrap button,
.popup_con_wrap .btn_wrap button {
  width: 100%;
  height: 46px;
  color: #fff;
  background: #323b4c;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}
.popup_con_wrap .btn_wrap button {
  height: 55px;
  font-size: 18px;
}
.item_detail_box .btn_wrap button + button,
.popup_con_wrap .btn_wrap button + button {
  margin-left: 10px;
}
.item_detail_box .btn_wrap button:hover,
.popup_con_wrap .btn_wrap button:hover {
  opacity: 0.8;
}
.item_detail_box .btn_wrap .orange_btn,
.popup_con_wrap .btn_wrap .orange_btn {
  background: #ff6d00;
}
.item_detail_box .btn_wrap .gray_btn,
.popup_con_wrap .btn_wrap .gray_btn {
  background: #8c92a0;
}
.item_detail_box.type1 {
  width: 330px;
}
.item_detail_box.type1 .item_tit .item_value {
  display: block;
}
.item_detail_box .btn_wrap button {
  width: 194px;
}

/* 강화/조합 결과 팝업 */
.popup_type2 {
  width: 465px;
  background: #f8f9f9;
  border: 1px solid #dcdde1;
  border-radius: 15px;
  padding: 60px 45px 65px 45px;
  box-sizing: border-box;
}
.popup_type2 .btn_wrap {
}
.popup_type2 .btn_wrap button {
  width: 100%;
}
.popup_type2 h4 {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-bottom: 25px;
  line-height: 1em;
}
.popup_type2 .img_box {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 45px;
  border: 1px solid #dedfe3;
  margin: 0 auto;
}
.popup_type2 .info_row {
  font-size: 20px;
}

/* 인벤토리 리스트 */
.board_serach.inven {
  background: #fef9f6;
  padding: 0 0 0 20px;
  height: auto;
  overflow: hidden;
}
.board_serach.inven .search_left .txt {
  line-height: 58px;
  color: #333;
  font-weight: 14px;
  font-weight: 500;
}
.board_serach.inven .search_right {
  text-align: right;
}
.inven_item_list {
  border-top: 2px solid #2a333a;
  padding: 30px;
}
.inven_item_list .item_box {
  float: left;
  position: relative;
  margin-right: 10px;
}
.inven_item_list .item_box .item_img {
  width: 146px;
  height: 146px;
  border: 1px solid #dcdde1;
  border-radius: 15px;
  overflow: hidden;
}

.inven_item_list .item_box:nth-child(5n) {
  margin-right: 0;
}
.inven_item_list .item_box:nth-child(n + 6) {
  margin-top: 10px;
}
.inven_item_list .item_box:hover::after,
.inven_item_list .item_box.select::after,
.inven_item_list .item_box.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 4px solid #ff6d00;
  border-radius: 15px;
}
.inven_item_list .item_box.active::after {
  border: 4px solid #774415;
  background: rgba(218, 137, 21, 0.5) url(../images/txt_item_active.png)
    no-repeat center;
}
