/* 베이직 팝업 */
.dft_popup .basic {
  width: 411px;
  text-align: center;
}

.dft_popup .basic article {
  color: #6b6b6b;
  font-weight: normal;
  font-size: 13px;
  padding: 40px 0;
  letter-spacing: -0.5px;
}

.dft_popup .basic article > span {
  font-weight: bold;
  color: #ff6c04;
  font-size: 12px;
}
.dft_popup .basic article .error {
  color: red;
}

.dft_popup .basic p {
  font-size: 15px;
  color: #272727;
}

.dft_popup .basic h4 {
  text-align: left;
}

.dft_popup .basic h4:before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 20px;
  background: url(../../theme/basic/img/icon4.png?3335);
  background-position: -64px -122px;
  vertical-align: middle;
}

.dft_popup .basic textarea {
  width: 318px;
  height: 82px;
  display: block;
  padding: 20px;
  background: #f6f6f6;
  border: 0;
  border-radius: 5px;
  outline: none;
  margin: 20px auto 10px;
  box-sizing: border-box;
}

.dft_popup .basic .btn_wrap {
  width: 206px;
  height: 40px;
  padding-top: 20px;
  margin: 0 auto;
}

.dft_popup .basic .btn_wrap button,
.dft_popup .basic .btn_wrap a {
  width: 95px;
  height: 40px;
  border-radius: 50px;
  line-height: 40px;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.dft_popup button,
.dft_popup a {
  cursor: pointer;
}
.dft_popup .basic .btn_wrap button:nth-child(1),
.dft_popup .basic .btn_wrap a:nth-child(1) {
  background-color: #ff6c04;
}
.dft_popup .basic .btn_wrap button:nth-child(2),
.dft_popup .basic .btn_wrap a:nth-child(2) {
  background-color: #b9c5d3;
}

/* 베이직 팝업 끝*/
/* 기존 팝업 가져옴 end*/

/* 엠블럼 조합/강화 20210512 start */
/* 조합 */
.item_forge_wrap,
.forge_popup {
  color: #333;
  padding: 12px;
}
.item_forge_wrap h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}

.item_forge_wrap .item_combine,
.item_forge_wrap .item_enhance {
  background: #f8f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-bottom: 35px;
}
.item_forge_wrap div > .forge_close_btn {
  transform: none;
  top: 10px;
  right: 12px;
  left: auto;
}
.item_combine .forge_board {
  position: relative;
  height: 41vh;
  max-height: 310px;
  max-width: 400px;
  margin: 0 auto;
}
.item_forge_wrap .forge_top .txt {
  color: #ff6d00;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}
.forge_board .item_box {
  margin-top: 30px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.forge_board .item_inner {
  position: relative;
  height: 100px;
  width: 100px;
  border: 2px solid #dcdde1;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.forge_board .item_inner img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.forge_top .item_box .tit {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  color: #333;
  line-height: 1em;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}
.forge_board .item_box.added .item_inner {
  border: 2px solid #ff6c04;
}
.forge_board .item_box.added .item_inner * {
}
.forge_board .item_box.added .item_inner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ff6c04;
  text-align: center;
  background: rgba(255, 108, 4, 0.5);
  z-index: 1;
  box-sizing: border-box;
}
.forge_board .item_box .item_reset_btn {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #343434 url(../images/icon_popup_close_type1.png) no-repeat 6px
    6px;
  background-size: 10px;
  z-index: 2;
  box-sizing: border-box;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
/* .forge_board .item_inner.added:after {
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -1px;
  top: -1px;
  text-shadow: 1px 1px 1px rgb(255 255 255 / 70%);
  border: 2px solid #ff6c04;
  text-align: center;
  background: rgba(255, 108, 4, 0.5);
  z-index: 1;
  border-radius: 5px;
  font-size: 16px;
}
.forge_board .item_box .item_reset_btn {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #343434 url(../images/icon_popup_close_type1.png) no-repeat center;
  background-size: 9px;
  z-index: 2;
} */
.item_combine .forge_board .item_box {
  position: absolute;
  z-index: 1;
}
.item_combine .item_box {
  bottom: 0;
  left: 15px;
}
.item_combine .item_box.main_item {
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  bottom: auto;
}
.item_combine .item_box.sub_item2 {
  right: 15px;
  left: auto;
}
.forge_top [class*="bg_bar"] {
  position: absolute;
  width: 2px;
  height: 40vw;
  max-height: 170px;
  background: #dedfe2;
  z-index: 0;
}
.forge_top .bg_bar1 {
  transform: rotateZ(40deg);
  top: 30%;
  left: 30%;
}
.forge_top .bg_bar2 {
  transform: rotateZ(-40deg);
  top: 30%;
  right: 30%;
}
.forge_top .bg_bar3 {
  bottom: 15%;
  width: 90%;
  height: 2px;
  left: 5%;
}

.forge_info {
  margin: 20px 0 30px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2em;
}
.forge_info .info_row {
  font-weight: 500;
  color: #333;
}
.forge_info .info_row.gold {
  font-weight: 700;
}
.forge_info .info_row + .info_row {
  margin-top: 10px;
}
.forge_info .info_row span {
  margin: 0 5px;
}
.forge_info .item_opt_info {
  margin-top: 25px;
}
.forge_info .item_opt_info ul {
  margin-top: 12px;
}
.forge_info .item_opt_info li {
  color: #999;
  font-weight: 400;
}
.forge_info .item_opt_info li + li {
  margin-top: 10px;
}
.forge_info .item_opt_info .new_opt {
  font-weight: 500;
  color: #666;
}
.forge_info .item_opt_info .new_opt span {
  color: #ff6d00;
}
.forge_btn {
  text-align: center;
  font-size: 0;
}
.forge_btn button {
  width: 35%;
  min-width: 130px;
  max-width: 250px;
  margin: 0 5px;
  height: 42px;
  font-size: 13px;
  font-weight: 500;
  background: #ed762f;
  border-radius: 2px;
  cursor: pointer;
}
.forge_btn button.rest_btn {
  background: #303b4d;
}
/* 조합 재료 리스트 */
.item_list_popup {
  position: relative;
  max-width: 500px;
}
.item_list_popup * {
  font-size: 12px;
}
.item_list_popup .inner_box {
  width: 99%;
  border: 1px solid #7f7f7f;
  background: #f9f8f8;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto;
  height: calc(100vh - 55px);
  overflow-y: auto;
}
.item_list_popup h4 {
  font-size: 15px;
  margin: 5px 0 15px 0;
  text-align: center;
  font-weight: 500;
  color: #333;
}
.item_list_popup .item_box {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  padding: 10px;
}
.item_list_popup .item_box + .item_box {
  margin-top: 5px;
}
.item_list_popup .item_box.select::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  top: -1px;
  left: -1px;
  background: rgba(255, 109, 0, 0.5) url(../images/img_item_check.png) no-repeat
    center;
  background-size: 37px auto;
  z-index: 1;
  border-radius: 10px;
}
.item_list_popup .item_top_box {
  display: grid;
  grid-template-columns: 70px auto;
}
.item_list_popup .item_top_box .item_tit {
  margin: 5px 0 7px 0;
}
.item_list_popup .item_top_box .item_value {
  font-weight: 500;
  margin: 0 5px;
}
.item_list_popup .item_top_box .item_img {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  width: 70px;
  height: 70px;
}
.item_list_popup .item_top_box .item_img img {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.item_list_popup .item_top_box .item_info {
  padding-left: 10px;
}
.item_list_popup .item_gaege {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item_list_popup .item_gaege .gaege {
  position: relative;
  width: 100%;
  height: 24px;
  width: 100%;
  border: 1px solid #dedfe2;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 5px;
}
.item_list_popup .item_gaege .bar {
  height: 100%;
  background: #ff6d00;
}
.item_list_popup .item_gaege > p {
  font-size: 11px;
  color: #292929;
}
.item_list_popup .gaege .num {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 24px;
  z-index: 1;
  text-align: center;
  font-weight: 500;
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.35);
}
.item_list_popup .opt_list {
  margin-top: 10px;
}
.item_list_popup .opt_list li + li {
  margin-top: 7px;
}
.item_list_popup .opt_list li {
  padding: 0 !important;
}
.item_list_popup .opt_list li p {
  font-weight: 700;
  color: #292929;
}

/* 강화 */
.item_forge_wrap .item_enhance {
  padding-top: 30px;
}

.item_enhance .forge_board {
  position: relative;
  width: calc(100% - 70px);
  margin: 0 auto;
  max-width: 350px;
  overflow: hidden;
}
.item_enhance .forge_board .item_box {
  float: left;
}
.item_enhance .forge_board .sub_item1 {
  float: right;
}
.item_enhance .forge_board .bg_plus {
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  background: #333;
  bottom: 50px;
  left: 50%;
  border-radius: 10px;
  margin-left: -10px;
}
.item_enhance .forge_board .bg_plus::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 4px;
  left: 8px;
  top: -8px;
  background: #333;
  border-radius: 10px;
}

/* 엠블럼 조합 end */

/* 우측 영역 인벤토리 팝업 */
.user_info li .inventory strong {
  max-width: unset;
  width: 130px;
}
.user_info li .inventory:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../images/common/user_info_img.png);
  background-position: -69px -1px;
  vertical-align: -2px;
}

.user_info li .inventory button {
  width: 129px;
  height: 24px;
  line-height: 23px;
  background: #ff6d00;
  border: 1px solid #fe5b00;
  border-radius: 3px;
  color: #fff;
}

div.user_in .inventory_info {
  position: absolute;
  z-index: 9;
  left: 10px;
  top: 140px;
}

/* 공통 아이템 상세 팝업 */
.item_detail_box {
  position: relative;
  width: 275px;
}
.inner_box + .popup_close_btn,
.item_forge_wrap .forge_close_btn {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #7f7f7f url(../images/icon_popup_close_type1.png) no-repeat center;
  background-size: 12px 12px;
}
.inner_box + .popup_close_btn {
  height: 30px;
  width: 30px;
}
.item_detail_box .inner_box {
  background: #f9f9f9;
  padding: 15px 15px 30px 15px;
  box-sizing: border-box;
  border: 1px solid #dedfe2;
  border-radius: 10px;
  font-size: 14px;
}
.item_detail_box * {
  line-height: 1.2em;
  color: #333;
  font-size: 12px;
}
.item_detail_box [class*="tit"] {
  font-weight: 500;
}
.item_detail_box .detail_tit,
.item_search_popup h4.tit {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #333;
  padding: 0 0 15px 0;
  margin-bottom: 15px;
}
.item_detail_box .item_top {
  display: grid;
  grid-template-columns: 100px auto;
  margin: 0 0 20px 0;
}
.item_detail_box .item_img {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #dedfe2;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}
.item_detail_box .item_img .upgrade_num {
  top: 7px;
  left: 7px;
  font-size: 14px;
}
.item_detail_box .item_img img {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.item_detail_box .item_top .item_info {
  width: 100%;
  padding: 12px 0 0 6px;
  color: #292929;
}
.item_detail_box .item_top .item_tit {
  font-size: 15px;
  color: #292929;
  margin-bottom: 10px;
  font-weight: 500;
}
.item_detail_box .item_top .item_value {
  font-size: 15px;
  font-weight: 500;
}
.item_detail_box .item_top .item_etc {
  margin-top: 5px;
  overflow: hidden;
}
.item_detail_box .item_top .item_grade {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 17px;
}
.item_detail_box .item_top .item_menu {
  font-size: 0;
}
.item_detail_box .item_top .item_menu > button,
.inven_item_list .item_tit i {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 0 none;
  margin-right: 5px;
}
.item_detail_box .item_top .item_menu .star,
.inven_item_list .item_tit .star {
  background: url(../images/icon_emblem_star.png) no-repeat center 0;
  background-size: auto 31px;
}
.item_detail_box .item_top .item_menu .lock,
.inven_item_list .item_tit .lock {
  background: url(../images/icon_emblem_lock.png) no-repeat center 0;
  background-size: auto 31px;
}
.item_detail_box .item_top .item_menu button.active {
  background-position: center -15.5px;
}
.item_detail_box .item_opt {
  margin-top: 15px;
}
.item_detail_box [class*="mid_info"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_detail_box .item_mid_info + .item_mid_info {
  margin-top: 10px;
}
.item_detail_box .item_mid_info .num {
  font-weight: 500;
}
.item_detail_box .gaege {
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 50px;
  background: #fff;
  border: 1px solid #dddce1;
  overflow: hidden;
  margin-top: 7px;
}
.item_detail_box .gaege .bar {
  display: block;
  height: 32px;
  background: #ff6d00;
  color: #fff;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 15px;
}
.item_detail_box .gaege .num {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  width: 100%;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
  color: #000;
}
.item_detail_box .opt_tit {
  margin-bottom: 10px;
}
.item_detail_box .opt_list input[type="radio"] {
  display: none;
}
.item_detail_box .opt_list label {
  cursor: pointer;
}
.item_detail_box .opt_list label p {
  position: relative;
  color: #666;
  text-align: right;
  padding-left: 20px;
}
.item_detail_box .opt_list input[type="radio"]:checked + div {
  color: #fff;
  background: #323b4c;
  border-radius: 5px;
  margin: 0 -10px;
  padding: 0 10px;
}
.item_detail_box .opt_list input[type="radio"]:checked + div * {
  color: #fff;
  line-height: 35px;
}
.item_detail_box .opt_list.bg_type {
  background: #edefee;
  border-radius: 15px;
  padding: 20px 25px;
}
.item_detail_box .opt_list button {
  display: block;
  width: 100%;
  height: 32px;
  background: #323b4c;
  border: 0;
}
.item_detail_box .opt_list li,
.item_list_popup .opt_list li {
  color: #737373;
  line-height: 1.2em;
  text-align: right;
  padding: 0 10px;
  overflow: hidden;
}
.item_detail_box .opt_list li p {
  color: #292929;
  font-weight: 500;
}
.item_detail_box .opt_list li + li {
  margin-top: 10px;
}
.item_detail_box .opt_list li .value,
.item_list_popup .opt_list li .value {
  float: left;
  color: #292929;
}
.item_detail_box .opt_list li.active,
.item_list_popup .opt_list li.active {
  border-radius: 5px;
  color: #fff;
  background: #323b4c;
  height: 35px;
}
.item_detail_box .opt_list li.active > *,
.item_list_popup .opt_list li.active > * {
  line-height: 35px;
  color: #fff;
}
.item_detail_box .opt_list li .item_detail_box .opt_list li:last-child {
  margin-bottom: 0;
}
.inner_box .btn_wrap {
  display: flex;
  margin-top: 25px;
  padding: 0 10px;
  justify-content: center;
}
.inner_box .btn_wrap button {
  width: 100%;
  height: 40px;
  color: #fff;
  background: #323b4c;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
}
.inner_box .btn_wrap button + button {
  margin-left: 10px;
}
.inner_box .btn_wrap button:hover {
  opacity: 0.8;
}
.inner_box .btn_wrap .orange_btn {
  background: #ff6d00;
}
.inner_box .btn_wrap .gray_btn {
  background: #8c92a0;
}
.item_detail_box .btn_wrap button {
  width: 110px;
}

/* 강화/조합 결과 팝업 */
.popup_type2 {
  position: relative;
  width: 90%;
  max-width: 300px;
}
.popup_type2 .inner_box {
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  padding: 30px 15px 35px 15px;
  box-sizing: border-box;
}
.popup_type2 .btn_wrap button {
  max-width: 135px;
  height: 40px;
}
.popup_type2 h4 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-bottom: 25px;
  line-height: 1em;
}
.popup_type2 .img_box {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 7px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 45px;
  border: 2px solid #ddd;
  margin: 0 auto;
}
.popup_type2 .img_box img {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

/* 인벤토리 리스트 */
.board_serach.inven {
  background: #fef9f6;
  padding: 0 0 0 20px;
  height: auto;
  overflow: hidden;
}
.board_serach.inven .search_left .txt {
  line-height: 58px;
  color: #333;
  font-weight: 14px;
  font-weight: 500;
}
.board_serach.inven .search_right {
  text-align: right;
}
.inven_item_list,
.search_item_list {
  padding: 10px;
}

[class*="_item_list"] ul {
  margin-bottom: 15px;
}

[class*="_item_list"] .item_box {
  display: grid;
  grid-template-columns: 70px auto 50px;
  position: relative;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 7px;
}

[class*="_item_list"] .item_box.active {
  border: 2px solid #ed762f;
  padding: 14px;
}

[class*="_item_list"] .item_box + .item_box {
  margin-top: 5px;
}
[class*="_item_list"] .item_box .item_img {
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid #ddd;
  border-radius: 7px;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
}
.item_img .upgrade_num {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 11px;
  color: #3da3ee;
  font-weight: 700;
  line-height: 1em;
}
[class*="_item_list"] .item_box .item_info {
  padding: 0 10px;
}

[class*="_item_list"] .item_box .item_tit {
  min-height: 2.4em;
  margin: 2px 0 4px 0;
}

[class*="_item_list"] .item_box .item_tit i {
  vertical-align: text-top;
  margin: 0 0 0 5px;
}

[class*="_item_list"].item_box .item_tit .item_grade {
  margin-right: 3px;
}

[class*="_item_list"] .item_box .item_tit .item_value {
  margin-right: 3px;
  font-weight: 400;
}

[class*="_item_list"] .item_box button {
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  background: #323b4b;
  align-self: center;
}
.inven_item_list .item_box .item_use_btn.active {
  background: #ef9057;
}

[class*="_item_list"] .list_more_btn {
  display: block;
  width: 100%;
  background: #ddd;
  color: #666;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  height: 40px;
}

/* 아이템 검색 팝업 */
.item_search_popup {
  position: relative;
  width: calc(100% - 15px);
  max-width: 400px;
}
.item_search_popup .inner_box {
  border-radius: 10px;
  padding: 15px 15px 25px 15px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #f8f8f8;
}
.item_search_popup .opt_type_wrap {
  border: 5px solid #ddd;
  border-radius: 20px;
  height: 250px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.item_search_popup .opt_type_wrap .swiper-slide {
  display: grid;
  text-align: center;
  align-items: center;
  place-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.item_search_popup .opt_type_wrap .swiper-slide-active {
  font-size: 24px;
  color: #ff5e00;
  font-weight: 700;
}
.item_search_popup .opt_type_wrap .swiper-slide .img_box {
  position: relative;
  border: 1px solid #e1e1e3;
  background: #f8f8f8;
  height: 50px;
  width: 50px;
  transition: width 0.3s, height 0.3s;
}
.item_search_popup .opt_type_wrap .swiper-slide .img_box img {
  position: absolute;
  max-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item_search_popup .opt_type_wrap .swiper-slide-active .img_box {
  border: 2px solid #ff4300;
  height: 70px;
  width: 70px;
}
.item_search_popup .opt_type_wrap .swiper-slide-prev,
.item_search_popup .opt_type_wrap .swiper-slide-next {
  font-size: 18px;
  font-weight: 500;
}
.item_search_popup .opt_type_wrap > [class*="search_opt"] {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.item_search_popup .opt_type_wrap > .search_opt1 {
  border-radius: 15px 0 0 15px;
}
.item_search_popup .opt_type_wrap > .search_opt3 {
  border-radius: 0 15px 15px 0;
}
.item_search_popup .opt_type_wrap > .search_opt2 {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
.item_search_popup [class*="search_opt"] > [class*="swiper-button"] {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 50px;
}
.item_search_popup [class*="search_opt"] > [class*="swiper-button"]::after {
  display: none;
}
.item_search_popup [class*="search_opt"] .swiper-button-prev {
  top: 0;
  margin-top: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 1%,
    rgba(0, 0, 0, 0.4) 8%,
    rgba(0, 0, 0, 0)
  );
}
.item_search_popup [class*="search_opt"] .swiper-button-next {
  position: absolute;
  top: unset;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 1%,
    rgba(0, 0, 0, 0.4) 8%,
    rgba(0, 0, 0, 0)
  );
}

/* 아이템 검색 리스트 */
.item_search_box {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}
.item_search_box .search_left {
  margin-right: auto;
}
.item_search_box .search_term_btn {
  display: inline-block;
  background: #5178b1;
  color: #fff;
  font-size: 12px;
  width: 70px;
  height: 30px;
  border: 0 none;
  border-radius: 3px;
}
.item_search_box .search_opt span {
  display: inline-block;
  color: #5179ad;
  border: 1px solid #5179ad;
  border-radius: 15px;
  padding: 0 10px;
  height: 30px;
  box-sizing: border-box;
  line-height: 28px;
}
.item_search_box .search_right {
  float: right;
  width: 50%;
  font-size: 0;
}
.item_search_box .search_right * + button {
  margin-left: 5px;
}
.item_search_box .search_right a {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  padding: 0 22px;
  line-height: 58px;
  vertical-align: top;
  text-decoration: none;
}
.item_search_box .search_right a:hover {
  background: #ffae71;
}
.item_search_box .search_right a.active {
  color: #fff;
  background: #ff6d00;
}
.item_search_box .search_input {
  position: relative;
  width: 45%;
}
.item_search_box .reset_btn {
  height: 30px;
}
.item_search_box .search_input input {
  width: 100%;
  font-size: 13px;
  border-radius: 3px;
  padding: 6px 10px 7px 10px;
  border: 0 none;
  border: 1px solid #ddd;
  padding-right: 30px;
  height: 30px;
  font-size: 12px;
  vertical-align: top;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.item_search_box .search_input input::placeholder,
.item_search_box .search_input input::-webkit-input-placeholder {
  color: #cecece;
  opacity: 1;
}
.item_search_box .search_input input:-ms-input-placeholder,
.item_search_box .search_input input:-moz-placeholder {
  color: #cecece;
  opacity: 1;
}
.item_search_box .search_btn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/icon_item_search_btn.png) no-repeat center;
  text-indent: -9999px;
  overflow: hidden;
}
.search_item_list .item_box .type {
  margin-bottom: 5px;
}
.search_item_list ul .item_box {
  grid-template-columns: 70px auto 80px;
}
.search_item_list .item_box .item_common_btn {
  font-size: 13px;
  width: 80px;
  height: 40px;
}
.search_item_list .item_box .item_common_btn.type2 {
  height: 50px;
}
.search_item_list .item_box .time {
  margin-bottom: 10px;
  text-align: center;
}
.search_item_list .item_box .item_info {
  align-self: center;
}
.search_item_list .item_box .item_info p {
  width: 100%;
  min-height: auto;
  letter-spacing: -0.5px;
}
.search_item_list .item_box .item_info2 {
  align-self: center;
}
.search_item_list .item_box .item_info .price {
  margin-top: 5px;
}
.search_item_list .item_box .item_info .price + .price {
  margin: 0;
}
.search_item_list.type2 .item_box .type,
.search_item_list.type2 .item_box .item_tit {
  margin: 0;
}
.item_img .icon_lock {
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 10px;
  width: 18px;
  height: 20px;
  background: url(../images/icon_emblem_lock.png) no-repeat center 0;
}
.search_item_list .item_box {
  position: relative;
}
.search_item_list .item_box .info_box {
  float: right;
  width: calc(100% - 140px);
  padding: 20px 0 0 0;
  color: #666;
  line-height: 1.2em;
  font-size: 16px;
  box-sizing: border-box;
}
.search_item_list .item_box .info_box .item_common_btn,
.search_item_list .item_box .info_box .item_result {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 118px;
  height: 46px;
  background: #323b4b;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  line-height: 44px;
  border-radius: 5px;
  text-align: center;
  border: 0 none;
}
.search_item_list .item_box .item_info2 .item_result {
  background: none;
  color: #888;
  font-weight: 500;
  text-align: center;
  right: 30px;
  font-size: 13px;
}
