html {
  overflow-x: hidden;
}
.mt10 {
  margin-top: 10px;
}
.mt25 {
  margin-top: 25px;
}

/*헤더*/

/*.hdfix{
	position: fixed !important;*/
/*display: none;*/
/*	z-index: 11 !important;
}
.hdrel{
	position: relative !important;
}
.wrapper .hdon{
	display: block;
}*/
.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  margin-top: -1px;
  z-index: 10;
}
.header_fixed .e_header {
  position: relative;
  height: 72px;
  /* 색상 이벤트헤더 */
  background: #202916;

  /* 이하윤 이벤트 헤더 주황색 추석끝나면 다시 돌아갈거 */
  /* background: #fd991d url(../img/event_header/m_headerbanner2_bg.png) repeat; */

  /* 이벤트 헤더 그라데이션 배경 */
  /* background: linear-gradient(90deg, rgba(213,39,76,1) 0%, rgba(213,39,76,1) 50%, rgba(3,77,116,1) 51%, rgba(3,77,116,1) 100%); */
}
.header_fixed .e_header img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.header_fixed .e_header .xbtn {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 5px;
  background: url(../img/btn_close.png) no-repeat;
  background-size: 15px;
  cursor: pointer;
}
.header {
  height: 56px;
  width: 100%;
  position: relative;
}
.main_section {
  margin-top: 1px !important;
}
/*햄버거메뉴*/
.ham_container {
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0, -60%);
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.ham_container .line-top,
.ham_container .line-middle,
.ham_container .line-bottom {
  position: absolute;
  display: block;
  height: 2px;
  width: 23px;
  border-radius: 2px;
  background: #363f51;
}
.ham_container .line-top {
  top: 1px;
  -webkit-transform-origin: 21px 0px;
  transform-origin: 21px 0px;
}
.ham_container .line-middle {
  top: 9px;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.ham_container .line-bottom {
  bottom: 1px;
  -webkit-transform-origin: 28px 3px;
  transform-origin: 26px 1px;
}
.ham_container.is-open .line-top {
  -webkit-animation: line-top-out 600ms linear normal;
  animation: line-top-out 600ms linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.ham_container.is-open .line-middle {
  opacity: 0;
}
.ham_container.is-open .line-bottom {
  -webkit-animation: line-bot-out 600ms linear normal;
  animation: line-bot-out 600ms linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.ham_container.is-closed .line-top {
  -webkit-animation: line-top-in 600ms linear normal;
  animation: line-top-in 600ms linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.ham_container.is-closed .line-middle {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.ham_container.is-closed .line-bottom {
  -webkit-animation: line-bot-in 600ms linear normal;
  animation: line-bot-in 600ms linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes line-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes line-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes line-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@keyframes line-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes line-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes line-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes line-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes line-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.ham_menu {
  position: relative;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 999999;
}
/*헤더 로고*/
.header_logo {
  position: absolute;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}
.header_logo a {
  display: block;
}
.header_logo img {
  /*width:125px;*/
  width: 140px;
  margin-top: 5px;
  /*width: 140px;*/
  margin-top: 5px;
  z-index: 99;
}
/*헤더 이벤트*/
.event_go {
  position: absolute;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 75%;
}
.event_go img {
  width: 55px;
  z-index: 99;
}
/*헤더 로그인*/
.login_icon {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/*lnb*/
.lnb {
  width: 100%;
  height: 45px;
  line-height: 45px;
  clear: both;
  background: #fff;
  /* border-bottom: 1px solid #e9e9e9; */
}
.lnb > ul {
  width: 100%;
  height: 45px;
  position: relative;
}
.lnb > ul > li {
  text-align: center;
  float: left;
  box-sizing: border-box;
  font-size: 14px;
  width: 33.33%;
  /* 2개일때 */
  /* width:50%; */
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/*업뎃전 주석 끝*/
.lnb > ul > li:first-child {
  border-left: none;
}
.lnb > ul > li.tab-link > a > img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: -7px;
}
.lnb > ul > li.tab-link:nth-child(2) > a > img {
  margin-right: 0;
}
.lnb > ul .left_back {
  width: 4%;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.lnb > ul .right_back {
  width: 4%;
  float: right;
  margin-top: 5px;
}

.lnb > ul .left_back img,
.lnb > ul .right_back img {
  width: 30px;
  height: 30px;
}
.lnb > ul > li a {
  color: #565656;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
.lnb > ul > li.hit_lnb a:hover {
  color: #ff6d00;
}
.lnb > ul > li.hit_lnb img {
  width: 50px;
  height: 15px;
  vertical-align: -2px;
}
.lnb > ul > li.casual_lnb img {
  width: 60px;
  height: 15px;
  vertical-align: -2px;
}
.lnb > ul > li.casual_lnb a {
  color: #7d7d7d;
}

.lnb > ul > li.main_lnb img {
  vertical-align: -6px;
  width: 27px;
  height: 24px;
}
.lnb > ul > li.left_back img {
  vertical-align: 1px;
}
.lnb > ul > li.right_back img {
  vertical-align: 0px;
}
.lnb > ul > li.current {
  color: #ff6d00;
  height: 46px;
  border-bottom: 2px solid #ff6d00;
}
.lnb > ul > li.current a {
  color: #ff6d00 !important;
}
.lnb > ul > li a.current {
  color: #ff6d00;
}

.lnb > ul > li {
  transition: 0.3s ease;
  color: #ff6d00;
}
.lnb > ul > li a:hover {
  color: #ff6d00;
}
.lnb > ul > li:last-child {
  transition: 0.3s ease;
  color: #565656;
}
.lnb > ul > li:last-child a {
  color: #565656;
  cursor: pointer;
}
.lnb > ul > li:last-child a:hover {
  color: #ff6d00 !important;
}
/*2단메뉴*/
.lnb > ul > li > ul {
  position: absolute;
  left: 0;
  display: none;
  margin-top: 1px;
  background: #fff;
  color: #333;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}
.lnb > ul > li > ul > li {
  float: left;
  width: 23%;
  font-size: 12px;
  text-align: center;
}
.lnb > ul > li > ul > li:first-child {
  margin-left: 15px;
}
.lnb > ul > li > ul > li.current a {
  color: #fff;
  padding: 4px 5px;
  border-radius: 3px;
  background: #ff6d00;
  vertical-align: middle;
}
/**************************메인섹션********************************/
.main_section {
  overflow-x: hidden;
  /*overflow-x: visible;*/
}
.tab-content {
  position: relative;
  overflow-y: hidden;
  display: none;
  /*margin-top:135px;*/
  margin-top: 1px;
  background-color: #fff;
}
.tab-content.current {
  display: inherit;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/*메인슬라이드*/
#main_slide {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 850px;
  max-height: 350px;
}

.pcft_wrap {
  position: absolute;
  width: 120px;
  right: 5px;
  z-index: 5;
}
.pcft_wrap img {
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 350px) {
  .event_go {
    left: 78%;
  }
  .pcft_wrap {
    top: 0.2%;
  }
}
@media screen and (min-width: 395px) {
  .pcft_wrap {
    top: 0.2%;
  }
}
@media screen and (min-width: 428px) {
  .pcft_wrap {
    top: 0.3%;
  }
}
@media screen and (min-width: 478px) {
  .pcft_wrap {
    top: 0.3%;
  }
}
@media screen and (min-width: 533px) {
  .pcft_wrap {
    top: 0.5%;
  }
}
@media screen and (min-width: 633px) {
  .pcft_wrap {
    top: 0.6%;
  }
  .event_go {
    left: 76%;
  }
}
@media screen and (min-width: 733px) {
  .pcft_wrap {
    top: 0.8%;
  }
}
@media screen and (min-width: 850px) {
  .pcft_wrap {
    top: 1.9%;
  }
}
@media screen and (min-width: 851px) {
  .pcft_wrap {
    top: 105px;
  }
}
/*탭메뉴*/
#tab_menu li {
  float: left;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
#tab_menu li a {
  color: #a4a4a4;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
#tab_menu li.on a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
/*20191001 ul>div 메뉴수정*/

#tab_menu > div {
  width: 100%;
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
}
#tab_menu div.on {
  background: #ff6d00;
}
#tab_menu div.on a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  background: url(../images/btn_more.png) no-repeat right 30px top 10px;
  padding: 0 10px;
  background-size: 22px;
  font-size: 16px;
}
#tap_content {
  padding-top: 5px;
  clear: both;
  background-color: #fff;
}
/*탭메뉴 - 캐쥬얼게임*/
.casual_game_wrap {
  clear: both;
}

.casual_game_wrap .casual_slide .casual_game_txt p {
  margin: 3px 0 3px 15px;
  font-size: 0.9em;
  color: #a4a4a4;
  line-height: 1.267em;
  latter-spacing: -1;
}
.casual_game_wrap .casual_slide .casual_game_txt span {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-left: 15px;
  float: left;
}
.casual_game_wrap .casual_slide .casual_game_txt .balo {
  padding-left: 3px;
  width: 16px;
  height: 19px;
  background: url(../images/balo.png) no-repeat center 2px;
  float: left;
}
.casual_game_wrap .casual_slide .casual_game_txt .balo a {
  display: block;
}
.casual_game_wrap .casual_slide > li > ul > li {
  float: left;
  width: 47%;
  height: 178px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 5px;
}
.casual_game_wrap .casual_slide > li > ul > li:last-child {
  float: right;
  width: 47%;
  margin-right: 5px;
  margin-left: 0;
}
.casual_game_wrap .casual_slide > li > ul > li > a {
  width: 100%;
  height: 100px;
}

.casual_game_wrap .casual_slide > li > ul > li > a > .coin_game {
  height: 115px;
  width: 100%;
  background: url(../images/casual_game_coin.jpg) no-repeat center 2px;
  background-size: 100% 100%;
}
.casual_game_wrap .casual_slide > li > ul > li > a > .sungbu_game {
  height: 115px;
  width: 100%;
  background: url(../images/casual_game_sb.jpg) no-repeat center 2px;
  background-size: 100% 100%;
}
.casual_game_wrap .casual_slide > li > ul > li > a > .free_game {
  height: 115px;
  width: 100%;
  background: url(../images/casual_game_free.jpg) no-repeat center 2px;
  background-size: 100% 100%;
}
.casual_game_wrap .casual_slide > li > ul > li > a > .jum_game {
  height: 115px;
  width: 100%;
  background: url(../images/casual_game_jum.jpg) no-repeat center 2px;
  background-size: 100% 100%;
}
.casual_game_wrap {
  position: relative;
  width: 100%;
  height: 166px;
}
.casual_game_wrap .casual_slide {
  position: relative;
  /*width: 100%;*/ /**********/
  height: 185px;
  overflow: hidden;
}
.casual_game_wrap .casual_slide > li {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  /*margin-left: -1000px;*/
  opacity: 0;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.casual_game_wrap .casual_slide > li.current {
  opacity: 1;
}
.casual_game_wrap .casual_slide > li > img {
  /* max-width: 100%; */
}
.casual_game_wrap .direction_nav > li {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 13;
}
.casual_game_wrap .direction_nav > li.left {
  left: 10px;
}
.casual_game_wrap .direction_nav > li.right {
  right: 10px;
}

/*탭메뉴 - 캐쥬얼게임*/
.casual_game_wrap {
  clear: both;
}
.casual_game_wrap .casual_slide .casual_game_txt p {
  margin: 3px 0 3px 15px;
  font-size: 0.9em;
  color: #a4a4a4;
  line-height: 1.267em;
  latter-spacing: -1;
}
.casual_game_wrap .casual_slide .casual_game_txt span {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-left: 15px;
}
.casual_game_wrap .casual_slide .casual_game_txt .balo {
  vertical-align: -1px;
  padding-left: 3px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
.casual_game_wrap .casual_slide > li > ul > li {
  float: left;
  width: 47%;
  height: 178px;
  background-color: #fff;
  margin-left: 5px;
  border: 0px;
}
.casual_game_wrap .casual_slide > li > ul > li:last-child {
  float: right;
  width: 47%;
  margin-right: 5px;
  margin-left: 0;
  border: 0px;
}
.casual_game_wrap .casual_slide > li > ul > li > a {
  width: 100%;
  height: 100px;
}
.casual_game_wrap .casual_slide > li > ul > li > a > img {
  width: 100%;
  height: 65%;
}
.casual_game_wrap {
  position: relative;
  width: 100%;
  height: 166px;
}
.casual_game_wrap .casual_slide {
  position: relative;
  /*width: 100%;*/
  height: 185px;
  overflow: hidden;
}
.casual_game_wrap .casual_slide > li {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  /*margin-left: -1000px;*/
  opacity: 0;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.casual_game_wrap .casual_slide > li.current {
  opacity: 1;
}
.casual_game_wrap .direction_nav > li {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
}
.casual_game_wrap .direction_nav > li.left {
  left: 10px;
}
.casual_game_wrap .direction_nav > li.right {
  right: 10px;
}

/*다이아충전, 스포라이브 상점, 무료충전소*/
.main_charging {
  height: 100px;
  clear: both;
  padding: 10px 0;
  background-color: #f1f1f1;
}
.main_charging ul {
  height: 100px;
  background: #f1f1f1;
}
.main_charging ul li {
  float: left;
  width: 33%;
  margin-top: 12px;
  box-sizing: border-box;
  text-align: center;
}
.main_charging ul li a {
  display: block;
  position: relative;
  width: 85%;
  height: 75px;
  background: #fff;
  border: 1px solid #bebebe;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_charging ul li a img {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_charging ul li .diamond_img {
  width: 35px;
  height: 30px;
}
.main_charging ul li .store_img {
  width: 35px;
  height: 30px;
}
.main_charging ul li .free_img {
  width: 35px;
  height: 30px;
  padding-left: 10px;
}
.main_charging ul li.diamond_charging span {
  /*color:#b28c3b;*/
  font-size: 11px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}
.main_charging ul li.store_charging span {
  /*color:#518ef8;*/
  font-size: 11px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  /* line-height:12px; */
  width: 100%;
  transform: translate(-50%, 0);
}
.main_charging ul li.free_charging span {
  /*color:#e05b49;*/
  font-size: 11px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}
.main_section .main_charging ul li a span:first-child {
  position: absolute;
  display: block;
  width: 35px;
  height: 30px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_section .main_charging ul li a span.store_img {
  background: url(../images/store.png) no-repeat;
  background-size: 35px 30px;
}
/* 무료충전소 */
.main_section .main_charging ul li a span.free_img {
  background: url(../images/free.png) no-repeat;
  background-size: 35px 30px;
  margin-left: 8px;
}

.main_section .main_charging ul li a span.diamond_img {
  background: url(../images/diamond.png) no-repeat;
  background-size: 35px 30px;
}

.gnb_wrap {
  height: 40px;
  padding: 10px 0;
  border: 1px solid #000;
}
/*푸터 6개 메뉴*/
.main_footer_menu {
  height: 183px;
  clear: both;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.main_footer_menu ul {
  border: 1px solid #ddd;
  height: 90px;
  box-sizing: border-box;
}
.main_footer_menu ul:first-child {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  height: 91px;
}
.main_footer_menu ul:last-child {
  border-left: 0;
  border-right: 0;
  height: 91px;
}
.main_footer_menu ul li:last-child {
  border-right: 0;
}
.main_footer_menu ul li {
  float: left;
  width: 25%;
  height: 90px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #ddd;
  text-align: center;
}
.main_footer_menu ul li a {
  display: block;
  color: #515151;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.main_footer_menu ul li img {
  position: absolute;
  left: 50%;
  top: 18px;
  transform: translate(-50%, 0);
}
.main_footer_menu ul li p {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 18px;
  transform: translate(-50%, 0);
}

/*메인 하단8개 바로가기 아이콘*/
.main_section .main_footer_menu ul li a span {
  display: block;
  width: 33px;
  height: 33px;
  margin: 0 auto;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -16.5px;
}
.main_section .main_footer_menu ul:first-child li:nth-child(1) a span {
  background: url(../images/hit_off_img.png);
  background-size: 33px;
}
.main_section .main_footer_menu ul:first-child li:nth-child(2) a span {
  background: url(../images/cg_off_img.png);
  background-size: 33px;
}
.main_section .main_footer_menu ul:first-child li:nth-child(3) a span {
  background: url(../images/result_off_img.png);
  background-size: 33px;
}
.main_section .main_footer_menu ul:first-child li:nth-child(4) a span {
  background: url(../images/board_off_img.png);
  background-size: 33px;
}
.main_section .main_footer_menu ul:last-child li:nth-child(1) a span {
  background: url(../images/notice_off_img.png);
  background-size: 33px;
}
.main_section .main_footer_menu ul:last-child li:nth-child(2) a span {
  background: url(../images/bettingrules_off_img.png);
  background-size: 30px;
  width: 30px;
  height: 27px;
  margin-top: 3px;
}
.main_section .main_footer_menu ul:last-child li:nth-child(3) a span {
  background: url(../images/inquiry_off_img.png);
  background-size: 33px;
}
.main_section .main_footer_menu ul:last-child li:nth-child(4) a span {
  width: 33px;
  height: 30px;
  background: url(../images/free_charge_img.png);
  background-size: 33px;
  margin-top: 3px;
}

.tab_casual {
  height: 180px;
}
.calendar_btn .ui-datepicker-trigger {
  width: 63px;
  height: 33px;
  border: 1px solid #ddd;
  background: url(../images/datepicker2.png) no-repeat center center;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  background-size: 61px 31px;
  text-indent: -9999px;
  background-position: center;
}
.pagenation {
  clear: both;
  padding: 20px 15px;
  text-align: center;
}
.pagenation a,
.pagenation span {
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  box-sizing: border-box;
  color: #808a9f;
  text-decoration: none;
  vertical-align: top;
}
.pagenation span {
  color: #ff5a00;
  font-weight: bold;
}
.pagenation a:not(.btn_page):after,
.pagenation span:after {
  content: "l";
  position: absolute;
  top: 0;
  left: -3px;
  color: #d9dee5;
  font-weight: normal;
}
.pagenation .btn_page + a:after,
.pagenation .btn_page + span:after {
  display: none;
}
.pagenation a:hover {
  color: #000;
}
.pagenation .btn_page {
  width: 27px;
  border-radius: 3px;
  color: transparent;
  font-size: 0;
  line-height: 0;
  background: #bac5d3 url(/lib/images/common/board_btn_page.png) no-repeat
    center 7px;
  transition: background-color 0.3s;
}
.pagenation .btn_page:hover {
  background-color: #2a333a;
}
.pagenation .btn_page_next {
  background-position: center -23px;
}
#hit_main_tab {
  display: flex;
  height: 30px;
  padding: 10px 2px;
  border-bottom: 1px solid #dddddd;
}

#hit_main_tab button {
  float: left;
  width: 25%;
  font-size: 12px;
  text-align: center;
}
#hit_main_tab button.current {
  color: #fff;
  padding: 2px 3px;
  border-radius: 3px;
  background: #ff6d00;
}
.header_fixed > .notice_wrap {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

/*20191024 한경tv mobile main*/
.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 99;
}
.not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/*20191022 한경tv mobile*/
.hktvevt .vdiv1 .txt {
  width: 600px;
  text-align: center;
  margin: 30px auto;
  font-weight: normal;
  color: #565656;
  font-size: 14px;
}
.hktvevt .vdiv1 .txt p {
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  font-size: 19px;
  line-height: 30px;
  font-weight: bold;
  color: #565656;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.hktvevt .morevideo_m,
.hktvevt .morevideo {
  margin: 0 auto 50px !important;
}
.hktvevt .morevideo_m {
  width: 100%;
  background: #ededef;
  overflow: hidden;
  padding: 5px 0;
  border: 1px solid #e4e4e4;
}
.hktvevt .morevideo_m .swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hktvevt .morevideo_m .swiper-slide img {
  width: 90%;
}

.hktvevt .morevideo_m .swiper-container .swbtnbox2_m {
  position: relative;
}
.hktvevt .morevideo_m .swiper-container .swbtnbox2_m div {
  width: 26px;
  height: 33px;
}
.hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next {
  position: absolute;
  top: -50px;
  right: 10px;
  background: url(../images/btn_next.png) no-repeat;
}
.hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
  position: absolute;
  top: -50px;
  left: 10px;
  background: url(../images/btn_prev.png) no-repeat;
}
.hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-disabled {
  display: none;
}

.hktvevt .morevideo .swiper-container {
  overflow: hidden;
}
.hktvevt .morevideo .swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hktvevt .morevideo .swiper-slide img {
  cursor: pointer;
}
.hktvevt .morevideo .swiper-container .swbtnbox2 > div {
  width: 26px;
  height: 33px;
  text-indent: -9999px;
  outline: none;
}
.hktvevt .morevideo .swiper-container .swbtnbox2 .swiper-button-next {
  position: absolute;
  top: -50px;
  right: 13px;
  background: url(../images/btn_next.png) no-repeat;
}
.hktvevt .morevideo .swiper-container .swbtnbox2 .swiper-button-prev {
  position: absolute;
  top: -50px;
  left: 10px;
  background: url(../images/btn_prev.png) no-repeat;
}
.hktvevt .morevideo .swiper-container .swbtnbox2 .swiper-button-disabled {
  display: none;
}
.hktvevt .morevideo {
  width: 870px !important;
  background: #ededef;
  overflow: hidden;
  padding: 25px;
  border: 1px solid #e4e4e4;
}
.hktvevt .morevideo ul li {
  width: 212px !important;
  height: 151px;
  margin-left: 15px;
}
.hktvevt .morevideo .swbtnbox2 {
  position: relative;
}

/* 모바일 otp */
.membership_content {
  margin: 0 5%;
}
.membership_content .signup_id_tit {
  text-align: center;
}
.membership_content .signup_id_tit h2 {
  font-weight: 400;
  color: #3d4045;
}
.membership_content .signup_id_tit p {
  padding: 10px 0;
}
.membership_content .tb_board_write {
  border-top: 2px solid #2a333a;
  border-bottom: 1px solid #c4c8ce;
  background-color: #fff;
}
.membership_content .tb_board_write tr th {
  background-color: #f7f9fb;
  border: 1px solid #c4c8ce;
  border-left: 0;
}
.membership_content .tb_board_write tr td {
  width: 65%;
  min-height: 30px;
  padding: 10px;
  border-bottom: 1px solid #c4c8ce;
  color: #6c7381;
}
.membership_content .tb_board_write tr td.td_mycoin {
  text-align: right;
  font-size: 10px;
  color: #ff5a00;
}
.membership_content .tb_board_write tr input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #bebebe;
  background-color: #f2f6f9;
  color: #3d4045;
  box-sizing: border-box;
}

.membership_content .tb_board_write tr input#authkey {
  display: inline-block;
  width: 77% !important;
  margin-right: 3%;
  box-sizing: border-box;
}
.wrap_loginbox {
  border-top: 2px solid #2a333a;
  border-bottom: 2px solid #2a333a;
}
.loginbox_form {
  padding: 10px 0;
}
.loginbox_form input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #bebebe;
  background-color: #f2f6f9;
  color: #3d4045;
  box-sizing: border-box;
}

.membership_content .wrap_loginbox .loginbox_form .btn_board_write {
  width: 100% !important;
  padding: 5px;
  background-color: #ff6d00;
}
.btn_board_cancel,
.btn_board_write,
.btn_board_wait,
.btn_board_prev,
.btn_board_next,
.btn_board_tb {
  display: inline-block;
  width: 160px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.prev_next_btns li .btn_board_prev,
.prev_next_btns li .btn_board_next,
.prev_next_btns li .btn_board_write {
  width: auto;
}
.btn_board_cancel {
  background-color: #bac5d3;
  cursor: pointer;
}
#make_otp_form {
  margin-top: 10px;
}
#make_otp_form .board_btns {
  text-align: center;
  float: none;
  margin: 0 auto;
  padding: 0;
}

#make_otp_form .board_btns .btn_board_write {
  width: 125px;
  float: none;
  margin: 15px auto 0;
  text-align: center;
  background-color: #ff6d00;
  color: #fff;
  font-weight: normal;
  border: 0;
}

#make_otp_form tr .td_mycoin1 .otp_btn {
  height: 30px;
  float: right;
  text-align: center;
  display: inline-block;
  width: 20%;
  line-height: 11px;
  background-color: #ff6d00;
  border-radius: 5px;
  box-sizing: border-box;
}
#make_otp_form tr .td_mycoin1 .otp_btn a {
  color: #fff;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  display: block;
}
.profile_wrap .profile_list .otp_btn {
  float: right;
  display: inline-block;
}

.profile_wrap .profile_list .mypage_otpli .otp_btn a.btn_board_otp {
  display: inline-block;
  width: 60px;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
}
.otpCont_wrap {
  width: auto;
}
.otpCont_wrap .titText {
  padding-top: 10px !important;
  margin-top: 10px;
  font-size: 10px;
  border-top: 2px solid #2a333a;
}
.otpCont_wrap .titText > h4 {
  padding-bottom: 0px;
}
#otp_image {
  margin: 0;
}
.otpCont_wrap .otpBtn_store {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.otpCont_wrap .otpBtn_store:after {
  content: " ";
  display: block;
  clear: both;
}

.otpBtn_store > a {
  width: 50%;
}
.otpBtn_store > a img {
  width: 99%;
}
.otpCont_wrap .bottomText {
  margin: 20px 0 30px 0;
}
.otpCont_wrap > .boxArea {
  width: auto;
  height: auto;
}
.boxArea > .leftBox {
  width: 100%;
  height: 70px;
  background-color: #363f51;
  position: relative;
  float: none;
  text-align: center;
}
.boxArea > .leftBox > img {
  display: block;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  zoom: 0.65;
}
.boxArea > .leftBox > p {
  color: #fff;
  font-size: 13px;
  line-height: 115px;
  font-weight: bold;
}
.boxArea > .rightBox {
  width: 100%;
  height: auto;
  float: none;
  box-sizing: border-box;
}
.boxArea > .rightBox > ol {
  padding: 10px 10px 10px 20px;
  font-size: 10px;
  color: #232323;
  line-height: 20px;
}

.otpCont_wrap .otp_codelink_wrap,
.otpCont_wrap .otp_code_wrap {
  text-align: center;
}
.otp_code_wrap {
  margin-bottom: 15px;
}
.otp_codelink_wrap #otp_reg_app_link {
  display: inline-block;
  width: 140px;
  height: 30px;
  margin: 15px 0 5px 0;
  line-height: 31px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6d00;
  font-size: 12px;
}
.otp_codelink_wrap .otp_codelink_wrap {
  font-size: 10px;
}
.mypage_otpli.otp_on .otp_btn a {
  background: #6c7381;
}
.mypage_otpli.otp_off .otp_btn a {
  background: #009afc;
}

/* 모바일 otp 끝 */

@media screen and (min-width: 1000px) {
  .hktvevt .vdiv1 iframe {
    display: block;
    width: 870px;
    height: 489px;
    margin: 0 auto;
  }
  .hktvevt .morevideo {
    width: 870px !important;
    background: #ededef;
    overflow: hidden;
    padding: 25px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .hktvevt .morevideo_m {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .hktvevt .morevideo {
    display: none;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next {
    top: -110px;
    right: 35px;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
    top: -110px;
    left: 35px;
  }
  .hktvevt .morevideo_m {
    padding: 28px 0;
  }
  .hktvevt .morevideo_m .swiper-slide-active img {
    margin-right: -17px;
  }
  .hktvevt .morevideo_m .swiper-slide-next img {
    margin-left: -17px;
  }
}

@media screen and (max-width: 900px) {
  .hktvevt .vdiv1 iframe {
    height: 450px;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next,
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
    top: -90px;
  }
  .hktvevt .morevideo_m {
    padding: 28px 0;
  }
  .hktvevt .morevideo_m .swiper-slide-active img {
    margin-right: -13px;
  }
  .hktvevt .morevideo_m .swiper-slide-next img {
    margin-left: -13px;
  }
}
@media screen and (max-width: 800px) {
  .hktvevt .vdiv1 iframe {
    height: 394px;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next,
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
    top: -80px;
  }
  .hktvevt .morevideo_m {
    padding: 25px 0;
  }
  .hktvevt .morevideo_m .swiper-slide-active img {
    margin-right: -8px;
  }
  .hktvevt .morevideo_m .swiper-slide-next img {
    margin-left: -8px;
  }
}
@media screen and (max-width: 700px) {
  .hktvevt .vdiv1 iframe {
    height: 337px;
  }
  .hktvevt .vdiv1 .txt {
    width: 80%;
  }

  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next,
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
    top: -73px;
  }
  .hktvevt .morevideo_m .swiper-slide-active img {
    margin-right: -11px;
  }
  .hktvevt .morevideo_m .swiper-slide-next img {
    margin-left: -11px;
  }
  .hktvevt .morevideo_m {
    padding: 22px 0;
  }
  .hktvevt .morevideo_m .swiper-slide-active img {
    margin-right: -8px;
  }
  .hktvevt .morevideo_m .swiper-slide-next img {
    margin-left: -8px;
  }
}
@media screen and (max-width: 600px) {
  .hktvevt .vdiv1 iframe {
    height: 281px;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next {
    top: -63px;
    right: 25px;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
    top: -63px;
    left: 25px;
  }
  .hktvevt .morevideo_m {
    padding: 19px 0;
  }
  .hktvevt .morevideo_m .swiper-slide-active img {
    margin-right: -8px;
  }
  .morevideo_m .swiper-slide-next img {
    margin-left: -8px;
  }
}
@media screen and (max-width: 500px) {
  .hktvevt .vdiv1 iframe {
    height: 225px;
  }

  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next {
    top: -50px;
    right: 15px;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
    top: -50px;
    left: 15px;
  }
}
@media screen and (max-width: 400px) {
  .hktvevt .vdiv1 iframe {
    height: 169px;
  }

  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-next {
    top: -40px;
    right: 10px;
  }
  .hktvevt .morevideo_m .swiper-container .swbtnbox2_m .swiper-button-prev {
    top: -40px;
    left: 10px;
  }
}
/*한경tv끝*/

/*당구인트로팝업*/
.blind {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

/*20201013 캐주얼게임 페이지*/
.c_container {
  margin: 0 2%;
}
.c_container .casualgame_ul li {
  padding: 30px 0;
  border-bottom: 1px solid #d8d8d8;
}
.c_container .casualgame_ul li:last-child {
  border-bottom: 0;
}
.c_container .casualgame_ul li img {
  width: 100%;
  margin-bottom: 15px;
}
.c_container .casualgame_ul li p {
  font-weight: bold;
  color: #282f39;
  font-size: 18px;
}
.c_container .casualgame_ul li span {
  display: block;
  color: #6a6a6a;
  font-size: 15px;
  padding: 5px 0 15px;
}
.c_container .casualgame_ul li a {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #ff6d00;
}

.profile_list .gold_limit,
.profile_list .use_limit {
  position: relative;
}
.gold_limit span {
  margin: 0 70px 0 0;
}
.gold_limit a,
.use_limit a {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 25px;
  top: 12px;
  right: 15px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
  background: #009afc;
}

/*20201013 캐주얼게임 끝*/

/* 이용제한 설정페이지*/
.uselimit_wrap {
  margin: 0 3%;
  margin-top: 25px;
}
.uselimit_wrap h1 {
  color: #ff6a00;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.uselimit_wrap .txt {
  padding: 10px;
  background: #f0f0f0;
  color: #363e51;
}
.uselimit_wrap .txt .tit {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}
.uselimit_wrap .txt p b {
  color: #fe0002;
}
.uselimit_wrap table {
  width: 100%;
  border-spacing: 0;
  margin-top: 5%;
  border-top: 2px solid #2a333a;
}
.uselimit_wrap th {
  width: 70px;
  background-color: #f8f9fd;
  color: #1c1d21;
  border-right: 1px solid #e6eaed;
  border-bottom: 1px solid #e6eaed;
  font-weight: normal;
  font-size: 13px;
}
.uselimit_wrap td {
  padding: 15px 10px;
  border-bottom: 1px solid #e6eaed;
  color: #1c1d21;
  font-size: 13px;
}
.uselimit_wrap td input {
  width: 80px;
  height: 30px;
  padding: 0 10px;
  margin: 5px 5px 5px 0;
  box-sizing: border-box;
  border: 1px solid #d9dde0;
  background: #fcfdff;
}

.uselimit_wrap td .daybtn_wrap {
  margin-top: 5px;
}

.uselimit_wrap td .uselimit_day {
  color: #ff6a00;
  font-weight: bold;
  font-size: 14px;
}

.uselimit_wrap .daybtn_wrap button {
  width: 23%;
  height: 25px;
  border: 0;
  background-color: #b9c5d3;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.uselimit_wrap .daybtn_wrap button.on {
  background-color: #363e51;
}
.uselimit_wrap .board_btns {
  padding: 0;
  margin: 20px 0 30px;
}
.uselimit_wrap .board_btns button {
  width: 100%;
  height: 45px;
  font-size: 20px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #ff6d00;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 0;
}

/* 이용제한 설정페이지 끝*/

.live_waitimg {
  padding: 30px;
  text-align: center;
}
.live_waitimg img {
  display: block;
  width: 100%;
  /* height: 100%; */
}

/* 아이디 비밀번호 찾기 -> 아이디 선택 */

.list_signup_id {
  margin: 40px 0;
  border-top: 2px solid #2a333a;
  border-bottom: 2px solid #2a333a;
}

.list_signup_id li {
  height: 50px;
  line-height: 50px;
  padding: 5px 0;
  font-weight: bold;
  color: #2a333a;
}
.list_signup_id li:first-child ~ li {
  border-top: 1px solid #2a333a;
}
.list_signup_id li .em_myid {
  float: left;
  padding-left: 100px;
}
.list_signup_id li .em_date {
  float: right;
  padding-right: 100px;
  color: #ff6d00;
}
.list_signup_id li .em_idlist {
  float: left;
  width: 25%;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 12px;
}

.list_signup_id li .em_idlist:nth-child(1) {
  width: 13%;
}
.list_signup_id li .em_idlist:nth-child(3) {
  width: 40%;
}

.list_signup_id li .btn_board_write {
  width: 20%;
  float: right;
  height: 50px;
  line-height: 50px;
  background-color: #ff6d00;
}
.list_signup_id li .em_idresult {
  float: left;
  padding-left: 20px;
  box-sizing: border-box;
}
.list_signup_id li .em_idresult span {
  font-weight: normal;
}
.list_signup_id li .em_idresult span:after {
  content: "l";
  padding: 0 5px;
  color: #97a4ad;
}

.tit.password_lost2_id h2 {
  margin-top: 40px;
  text-align: center;
  font-weight: normal;
}

.membership_content.myinfo_find_success .signup_id_tit {
  margin-top: 40px;
}

.membership_content.myinfo_find_success .list_signup_id li .em_idresult {
  width: 50%;
  padding: 0;
  text-align: center;
}

.membership_content.myinfo_find_success .btn_board_write {
  display: block;
  margin: 0 auto 30px;
  line-height: 30px;
  background-color: #ff6d00;
}

/* 아이디 비밀번호 찾기 -> 아이디 선택 끝 */

/*모바일 소셜로그인*/

.m_sns_info_modify .page_wrap #reg_mb_icon {
  display: block;
  border: 1px solid #898989;
  background: #f8f8f8;
  padding: 3px;
  margin-top: 10px;
}

.m_sns_info_modify .page_wrap td .frm_info {
  line-height: 22px;
  font-size: 11px;
  height: 50px;
  display: block;
}
.m_sns_info_modify .page_wrap .mail_sms_ok div {
  line-height: 22px;
  font-size: 11px;
}
.m_sns_info_modify .page_wrap .mail_sms_ok div input {
  vertical-align: middle;
}
.m_sns_info_modify .page_wrap .mail_sms_ok .clr_b {
  line-height: 22px;
  font-size: 11px;
  display: block;
}

/*모바일 소셜로그인 끝*/
