@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*리셋*/
button,input,select,textarea {border:0 none;border-radius:0; background-color:transparent; vertical-align:middle; cursor:pointer; outline:none;}
img {vertical-align:top}
input[type=button],input[type=email],input[type=password],input[type=reset], input[type=search],input[type=submit],input[type=tel],input[type=text] {border-radius:0;-webkit-appearance:none;}
a {color:#333; text-decoration:none}
a:active, a:hover{text-decoration:none}
caption,legend {font-size:0;line-height:0;visibility:hidden}
input:focus,select:focus,textarea:focus { outline-width:thin; outline:none; }
input::-ms-clear { display:none }
input::-webkit-contacts-auto-fill-button {display:none !important;position:absolute;right:0 ; visibility:hidden;pointer-events:none;}
body {background-color:#fff;-webkit-text-size-adjust:none }
body,button,input,pre,select,table,textarea {color:#000;font-family:'Noto Sans KR', sans-serif; font-size:14px;line-height:1.4em;}

/*css초기셋팅*/
input { color:#555; }
input::placeholder{ color:#a0a0a0; } 
input::-webkit-input-placeholder { color:#a0a0a0; } 
input:-ms-input-placeholder { color:#a0a0a0; } 
input:-moz-placeholder { color:#a0a0a0; }
textarea::placeholder{ color:#a0a0a0; } 
textarea::-webkit-input-placeholder { color:#a0a0a0; } 
textarea:-ms-input-placeholder { color:#a0a0a0; } 
textarea:-moz-placeholder { color:#a0a0a0; }
a, a:hover, a:active, a:focus { color:#000;  }
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} */

/* check, radio */
input[type=checkbox], input[type=radio], input[type=file] { display: none !important; }
input[type=checkbox] + label,  input[type=radio] + label { position:relative; display: inline-block; color:#333; padding:0 0 0 20px; transition:0.2s; }
input[type=checkbox] + label:after { content:""; display: inline-block; position:absolute; left:0; top:1px; width:20px; height:20px; background:#fff; border:1px solid #b2b2b2; transition:0.1s; box-sizing:border-box; }
input[type=checkbox]:checked + label:after {  content:""; background:#f26e50 url(이미지주소) no-repeat center;  background-size:10px auto; border:1px solid #f26e50 !important;  }
input[type=radio] + label:after { content:""; display: inline-block; position:absolute; left:0; top:1px; width:20px; height:20px; border-radius:50%; background:#fff; border:1px solid #ccc; transition:0.1s; box-sizing: border-box;  }
input[type=radio]:checked + label:after {  content:""; background:#f26e50; border:1px solid #f26e50 !important;  }
/* select */
.select_div { position:relative; }
.select_div select { height:100%; width:100%; padding:0 20px; font-size:18px; vertical-align:top; color:#666; background:#fff; }
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select::-ms-expand { display:none; }
/* 텍스트 숨김, 마스크 */
.hidden, caption{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.mask { display:none; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.7); z-index:10;}

/*css시작*/
#skip_nav a { position:absolute; left:0; top:-40px; width:100%; height:40px;  text-align: center; padding:10px 0; background:#fff; z-index: 1; border:2px dotted #dc1920;  }
#skip_nav a:hover, #skip_nav a:focus { top:0; }

.header { position:relative; margin-bottom:50px;  background: #2ab5d3; border-radius: 0; background: #2ab5d3; background: -webkit-linear-gradient(-45deg, #57cfb0, #2ab5d3); background: -o-linear-gradient(-45deg, #57cfb0, #2ab5d3); background: -moz-linear-gradient(-45deg, #57cfb0, #2ab5d3); background: -webkit-linear-gradient(135deg, #57cfb0, #2ab5d3); background: -o-linear-gradient(135deg, #57cfb0, #2ab5d3); background: linear-gradient(-45deg, #57cfb0, #2ab5d3);}

.gnb {  padding:10px 0; }
.gnb li { display:inline-block }
.gnb button { padding:6px 10px;  margin:0 5px; color:#fff; transition: 0.3s; border-radius:5px;  }
.gnb button i { margin-right:5px; }
.gnb button:hover { color:#3abec6; background:#fff;  }

.double_arrow { position:absolute; bottom:5px; left:50%; margin-left:-17px;  }
.double_arrow i { position:absolute; top:0; font-size:40px; color:#3abec6;  animation: arrow_flash 1.2s 0s linear infinite; }
.double_arrow i:last-child { animation: arrow_flash 1.2s 0.6s linear infinite; }
@keyframes arrow_flash{
    0% { opacity:0; margin-top:0; margin-top:0;} 
    50% { opacity:0.7;} 
    100% { opacity:1; margin-top:25px; } 
}
.main { padding:20px; }
.pf_list_wrap { overflow:hidden; }
.list_item { float:left; margin:5px; width:calc(25% - 10px); } 
.list_item .item_inner { position: relative; border-radius:10px; border:1px solid #ddd; box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.3); padding-top:100%; overflow:hidden }
.list_item .item_inner:after, 
.list_item .item_inner:before { content:""; display: block; position:absolute; background:#000; transition:0.3s; width:200%; height:200%; opacity:0;  }
.list_item .item_inner:before { bottom:0; right:0; transform:skew(-30deg) translateX(150%); }
.list_item .item_inner:after { top:0; left:0; transform:skew(-30deg) translateX(-150%);  }
.list_item .item_inner:hover:before { transform:skew(-30deg) translateX(50%); opacity:0.1; }
.list_item .item_inner:hover:after { transform:skew(-30deg) translateX(-50%); opacity:0.1; }

.list_item .top_info { position:absolute; top:0; left:0; right:0; background:rgba(0,0,0,0.7); } 
.header > .inner_wrap, .main > .inner_wrap { max-width:1024px; margin:0 auto; }

@media  all and ( max-width:640px ){    
    .header > .inner_wrap, .main > .inner_wrap { width: }
    .pf_list_wrap ul { overflow:hidden; display:flex; flex-wrap:wrap; }
    .list_item { float:none;  margin:5px; width:calc(50% - 10px); } 
    .list_item .item_inner { width:100%; }

}