@charset "UTF-8";
/* 임상시험 */

.txt_blue { color: #004098; } 
.txt_orange { color: #ff8500; } 
.txt_green { color: #269e9e; } 
.bg_green { background: #e4f3f3; padding: 0 2px; } 
.txt_blue2 { color: #3986ee; } 
.bg_blue2 { background: #e1edfc; } 
.clear_both:after { content: ''; display: block; clear: both; } 
.inner_flex { display: flex; } 
.line_blue_box { border: 1px solid #004098; padding: 70px 0; } 
.icon_blue_arrow_right { display: inline-block; width: 4px; height: 6px; background:url(../images/icon_arrow_right_blue1.png) no-repeat 0 0; background-size: contain; } 

[class*=icon_arrow_circle_down] { display: inline-block; width: 19px; height: 19px; background: #3986ee url(../images/icon_arrow_down1.png) no-repeat center; border-radius: 50%; box-shadow: 0 0 0 8px rgba(57,134,238,0.1); } 
.icon_arrow_circle_down1 { background-color: #3986ee; } 
.icon_arrow_circle_down2 { background-color: #4db1b1; box-shadow: 0 0 0 8px rgba(77,177,177,0.1); } 
[class*=icon_arrow_circle_down].line-top { position: relative; } 
[class*=icon_arrow_circle_down].line-top:after { content:''; display: block; position: absolute; background: #dddddd; height: 87px; width: 1px; bottom:100%; left: 50%; margin-left: -1px; } 
[class*=icon_arrow_circle_right] { display: inline-block; width: 19px; height: 19px; background: #3986ee url(../images/icon_arrow_right1.png) no-repeat 8px center; border-radius: 50%; box-shadow: 0 0 0 8px rgba(57,134,238,0.1); } 
[class*=icon_arrow_circle_right].line-left { position: relative; } 
[class*=icon_arrow_circle_right].line-left:after { content:''; display: block; position: absolute; background: #dddddd; height: 1px; width: 28px; right:100%; top: 50%; margin-top: -1px; } 
.icon_arrow_circle_right1 { background-color: #3986ee; } 
.icon_arrow_circle_right2 { background-color: #164690; box-shadow: 0 0 0 8px rgba(77,177,177,0.1); } 


.ctrial_con_wrap ~ .ctrial_con_wrap { margin-top: 4rem; } 
.ctrial_con_wrap .con_tit { font-size: 1.75rem; font-weight: 600; background: url(../images/h3_icon.png) no-repeat left 0.5rem; padding-left: 2.3rem; margin-bottom: 1.5rem; } 
.ctrial_con_wrap .con_tit2 { display: flex; align-items: center;  line-height: 1; color: #004098; font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem; }
.ctrial_con_wrap .con_tit2:before { content: ''; display: inline-block; width: 5px; height:5px; border-radius: 50%; background: #004098; margin:0 8px 0 20px;} } 
.ctrial_intro_wrap .inner_flex { border-bottom: 2px solid #38496b; margin-bottom: 3rem; } 
.ctrial_intro_wrap .intro_msg { flex: 1; padding-bottom: 4rem; } 
.ctrial_intro_wrap .intro_msg .qouta_msg { font-size: 1.875rem; color: #000; line-height: 1.6; } 
.ctrial_intro_wrap .intro_msg .qouta_msg:after,
.ctrial_intro_wrap .intro_msg .qouta_msg:before { content: ''; display: inline-block; width: 62px; height: 51px; position: absolute; z-index: 0; } 
.ctrial_intro_wrap .intro_msg .qouta_msg:before { background:url(../images/icon_quot1_left.png) no-repeat 0 0; background-size: contain; transform: translate(0%, -40%); } 
.ctrial_intro_wrap .intro_msg .qouta_msg:after { content: ''; display: inline-block; width: 62px; height: 51px; background:url(../images/icon_quot1_right.png) no-repeat 0 0; background-size: contain; position: absolute; z-index: 0; transform: translate(-100%, 35%); } 
.ctrial_intro_wrap .intro_msg .qouta_msg strong { font-weight: 700; } 
.ctrial_intro_wrap .intro_msg .sub_msg { font-size: 1.25rem; color: #3986ee; font-weight: 500; margin-top: 1.8rem; } 
.ctrial_intro_wrap .intro_msg .sub_msg2 { font-size: 1.06rem; color: #222222; margin-top: 1.8rem; line-height: 2; } 
.ctrial_intro_wrap .intro_img { display: flex; align-items: flex-end; justify-content: flex-end; width: 400px; position: relative; }
.ctrial_intro_wrap .intro_img img { max-width: 85%; } 
.ctrial_intro_wrap .intro_img_label { position: absolute; bottom: 30px; right: 100%; color: #222222; width: max-content; } 
.ctrial_intro_wrap .intro_img_label strong { font-size: 1.25rem; } 

.ctrial_common_desc,
.ctrial_intro_desc { font-size: 1rem; color: #444444; line-height: 2; font-weight: 200; } 
.ctrial_intro_desc p { margin-bottom: 2rem; } 

.ctrial_page_tit { text-align: center; font-size: 1.875rem; color: #000; } 
.ctrial_page_tit strong { font-weight: 700; } 

.ctrial_blue_box1 { position: relative; border: 1px solid #e2e7eb; border-radius: 5px; background: #eff8ff; padding: 2rem 2rem 3rem 2rem; text-align: center; line-height: 2rem; font-weight: 200; color: #444444; margin-top: 2rem; } 
.ctrial_blue_box1 .icon_arrow_circle_down1 { position: absolute; left: 50%; margin-left: -10px; top:100%; margin-top: 50px; } 
.ctrial_diagram01 { margin: 70px 0 100px 0; position: relative; padding-bottom: 70px; border-bottom: 1px solid #38496b; } 
.ctrial_diagram01:after { content: ''; display: block; position: absolute; left: 0; right: 0; top:0; height: 210px; background: url(../images/sub01_02_01_bg01.png) no-repeat center 0; } 
.ctrial_diagram01 .icon_arrow_circle_down2 { position: absolute; left: 50%; margin-left: -10px; top:100%; margin-top: 50px; } 
.ctrial_diagram01 ul { justify-content: center; display: flex; gap: 22px; padding:15px 0 0 0; } 
.ctrial_diagram01 li { display: flex; flex-direction: column; align-items: center; } 
.ctrial_diagram01 .circle_number { width: 180px; height: 180px; border:1px solid #6cb1fe; border-radius: 50%; background: url(../images/sub01_02_icon01.png) no-repeat center 45%; display: flex; align-items: flex-end; justify-content: center; color: #6cb1fe; position: relative; z-index: 1; box-sizing: border-box; } 
.ctrial_diagram01 .circle_number strong { font-size: 1.25rem; font-family: "SUIT"; font-weight: 700; height: 50px; line-height: 50px; } 
.ctrial_diagram01 .circle_desc { width: 220px; height: 220px; background: #f0f7ff; border-radius: 50%; display: flex; line-height: 1.8; align-items: center; justify-content: center; text-align: center; color: #222; font-size: 1.06rem; font-weight: 500; margin-top: -50px; padding-top: 25px; box-sizing: border-box; } 

.ctrial_diagram01 .circle2 .circle_number { border-color: #3986ee; background: url(../images/sub01_02_icon02.png) no-repeat center 45%; } 
.ctrial_diagram01 .circle3 .circle_number { border-color: #1e63be; background: url(../images/sub01_02_icon03.png) no-repeat center 45%; } 
.ctrial_diagram01 .circle4 .circle_number { border-color: #164690; background: url(../images/sub01_02_icon04.png) no-repeat center 45%; } 
.ctrial_diagram01 .circle2 .circle_desc { background: #ebf3fd; } 
.ctrial_diagram01 .circle3 .circle_desc { background: #e8eff8; } 
.ctrial_diagram01 .circle4 .circle_desc { background: #e7ecf4; } 
.ctrial_diagram01 .circle2 .circle_number strong { color: #3986ee; } 
.ctrial_diagram01 .circle3 .circle_number strong { color: #1e63be; } 
.ctrial_diagram01 .circle4 .circle_number strong { color: #164690; } 

.ctrial_common_footer { text-align: center; } 
.ctrial_common_footer .ctrial_logo { margin-bottom: 2rem; } 
.ctrial_common_footer .footer_msg1 { color: #000000; font-size: 1.25rem; font-weight: 500; line-height: 2; } 
.ctrial_common_footer .footer_msg1 strong { line-height: 1; display: inline-block; padding: 1px 2px; } 

/* 연혁 */
.ctrial_history_top { display: flex; gap: 20px; height: 100px; } 
.ctrial_history_top :is(.prev_btn, .next_btn) { width: 40px; box-sizing: border-box; border: 1px solid #ddd; font-size: 0; overflow:hidden; line-height: 0; text-indent: -999px; transition: 0.3s; } 
.ctrial_history_top :is(.prev_btn, .next_btn):hover { border-color: #222; background-color: #fafafa; } 
.ctrial_history_top .prev_btn { background: url(../images/icon_arrow_left2.png) no-repeat center; } 
.ctrial_history_top .next_btn { background: url(../images/icon_arrow_right2.png) no-repeat center; } 
.ctrial_history_top .history_terms { flex: 1; display: flex; gap: 13px; } 
.ctrial_history_top .history_terms li { display: flex; align-items: center; justify-content: center; flex: 1; position: relative; color: #fff; font-family: "SUIT"; font-weight: 500; font-size: 1.25rem; } 
.ctrial_history_top .history_terms li img { position: absolute; width: 100%; height: 100%; z-index: -1; } 
.ctrial_history_top .history_terms li.current { flex: 2; font-weight: 700; font-size: 1.75rem; } 


.ctrial_history_box { display: flex; margin:3.5rem 0 3.75rem; } 
.ctrial_history_box .history_terms { flex: 1 1 29%; } 
.ctrial_history_box .history_list { flex: 1 1 71%; } 
.ctrial_history_box .history_terms { font-family: "SUIT"; color: #38496b; font-size:1.875rem; font-weight: 700; } 
.ctrial_history_box .history_terms strong { font-family: "SUIT"; font-size:2.625rem; font-weight: 700; color:#222; } 
.ctrial_history_box .history_list { border-top: 1px solid #38496b; } 
.ctrial_history_box .history_list > li { display: flex; border-bottom: 1px solid #dddddd; padding: 1.5rem 0; gap: 1.5rem; } 
.ctrial_history_box .history_list > li:nth-child(even) { background: #f4f5f8; } 
.ctrial_history_box .history_item_tit { flex: 0 1 110px; text-align: center; font-family: "SUIT"; font-weight: 700; font-size: 1.6rem; } 
.ctrial_history_box .history_item_list { flex: 1; } 
.ctrial_history_box .history_item_list > li { background: url(../images/icon_history_arrow1.png) no-repeat 0 0.3rem; padding-left: 25px; line-height: 1.6rem; display: block; font-size: 1rem; color:#222; font-weight: 200; } 
.ctrial_history_box .history_item_list > li ~ li { margin-top: 0.4rem; } 
.ctrial_chart_wrap { position: relative; } 
.ctrial_chart_wrap .chart_label { position: absolute; right:0; top:-3.5rem; color: #444444; } 
.ctrial_chart_wrap .chart_label li { margin-left: 15px;; } 
.ctrial_chart_wrap .chart_label i { display: inline-block; border-radius: 4px; width: 30px; height: 16px; background: #96a3bd; vertical-align: middle; margin-right: 5px; } 
.ctrial_chart_wrap .chart_label i.label_color0 { background: #38b4fa; } 
.ctrial_chart_wrap .chart_label i.label_color1 { background: #3986ee; } 
.ctrial_chart_wrap .chart_label i.label_color2 { background: #4db1b1; } 
.ctrial_chart_wrap .chart_label i.label_color3 { background: #164690; } 
.ctrial_chart_box { overflow-x: auto; } 
.ctrial_chart_box img { min-width: 800px } 
.corgan_head { background: #eff8ff; border:1px solid #e2e7eb; border-radius: 5px; height: 100px; display: flex; align-items: center; justify-content: center; } 
.corgan_dep_wrap { position: relative; overflow-x: auto; margin-top: -2px; padding-bottom: 45px; } 
.corgan_dep1 { position: relative; z-index: 1; } 
.corgan_dep1 > li { display: flex; position: relative; padding: 60px 0 0 35px; gap: 75px; align-items: center; } 
.corgan_dep1 > li:before { content:''; position: absolute; display: block; width: 1px; left: 0; top:0; bottom:0; background: #dddddd; } 
.corgan_dep1 > li:last-child:before { bottom: calc(50% - 30px); } 
.corgan_dep1 > li > p:not([class*=etc]) { position: relative; width: 180px; height: 180px; border-radius: 50%; box-sizing: border-box; background: #fff; border: 1px solid #3986ee; color: #164690; font-size: 1.375rem; font-weight: 700; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; gap: 0.5rem; flex: 0 0 180px; box-shadow:inset 0 0 0 9px #ebf3fd; } 

.corgan_dep1 > li > p [class*=icon_arrow] { top:50%; right: 100%; position: absolute; margin:-10px -10px 0 0; } 
.corgan_dep1 > li > p.type2 { background: #3986ee; color: #fff; font-weight: 500; } 
.corgan_etc { position: absolute; bottom:50%; left: 215px; background: #4db1b1; font-weight: 400; font-size: 1.06rem; color: #fff; writing-mode: vertical-rl; height: 216px; width: 55px; border-radius: 0 25px 0 0; margin-bottom: 63px; display: flex; align-items: center; justify-content: center; } 
.corgan_etc:after { content: ''; position: absolute; display: block; width: 1px; height: 94px; left: 50%; top: 100%; background: #dddddd; } 
.corgan_dep2 { position: relative; padding-left: 35px; flex: 1; } 
.corgan_dep2:after { content:''; position: absolute; display: block; width: 75px; height: 1px; background: #dddddd; left:-75px; top:50%; } 
.corgan_dep2 > li { position: relative; display: flex; gap: 85px; padding: 10px 0; align-items: center; } 
.corgan_dep2 > li:before { content:''; position: absolute; display: block; width: 35px; height: 1px; background: #dddddd; left:-35px; top:50%; } 
:is(.corgan_dep2, .corgan_dep3) > li:after { content:''; position: absolute; display: block; width: 1px; height: 100%; background: #dddddd; left:-35px; top:0; } 

:is(.corgan_dep2, .corgan_dep3) > li:first-child:nth-last-child(1):after { display: none; } 
:is(.corgan_dep2, .corgan_dep3) > li:first-child:after { top:50%; height: 50%; } 
:is(.corgan_dep2, .corgan_dep3) > li:last-child:after { top:0%; height: 50%; } 
.corgan_dep2 > li > p { position: relative; color: #fff; font-size: 1.06rem; font-weight: 500; background: #164690; width: 215px; height: 55px; line-height: 54px; text-align: center; transition: 0.2s; border-radius: 0 25px 0 0; } 
.corgan_dep2 > li > p .corgan_tel { display: none; border: 1px solid #d0dae1; border-radius: 4px; padding: 8px 10px; background: #fff; font-size: 0.8rem; box-shadow: 2px 2px 5px rgba(0,0,0,0.3); white-space: nowrap; background: #fff; color: #000; line-height: 1; } 
.corgan_dep2 > li > p:hover { background: #ff8500; text-decoration: underline; box-shadow: 0 7px 15px rgba(0,0,0,0.15)}
.corgan_dep2 > li > p:hover .corgan_tel { display: block; position: absolute; top: 70%; left: 50%; z-index: 1; } 
.corgan_dep3 { position: relative; display: flex; flex-direction: column; gap: 10px; flex: 1; } 
.corgan_dep3 > li { position: relative; display: flex; width: 100%; border:1px solid #d0dae1; border-radius: 5px; box-sizing: border-box; font-size: 1.06rem; } 
.corgan_dep3 > li:before { content: ''; position: absolute; display: block; width: 44px; height: 1px; background: #dddddd; top: 50%; left: -45px; } 
.corgan_dep3 > li:after { left: -45px; height: calc(100% + 20px); } 
.corgan_dep3 > li:first-child:after { height: 100%;}
.corgan_dep3:before { content: ''; position: absolute; display: block; width: 43px; height: 1px; background: #dddddd; top: 50%; left: -85px;}
.corgan_dep3 .dep3_tit { min-width: 195px; flex: 1 1 37%; background: #6cb1fe; color: #fff; border-radius: 5px; display: flex; align-items: center; justify-content: center; font-weight: 400; min-height: 55px; margin: -1px 0 -1px -1px; text-align: center; line-height: 1.6; padding: 12px 0; box-sizing: border-box; } 
.corgan_dep3 .dep3_desc { flex: 1 1 63%; display: flex; align-items: center; justify-content: center; font-weight: 200; color: #444444; text-align: center; line-height: 1.6; padding: 12px 0; box-sizing: border-box; min-width: 300px; } 
.corgan_noti { position: absolute; left: 303px; bottom: 40px; z-index: 0; border: 1px dashed #ff8500; width: 256px; border-radius: 20px; height: 885px; background: rgba(255,133,0,0.05); display: flex; justify-content: center; } 
.corgan_noti:before { content:''; display: block; position: absolute; left: -5px; top:-5px; width: 20px; height: 20px; background:url(../images/icon_tip2.png) no-repeat 0 0; } 
.corgan_noti p { position: absolute; top:100%; margin-top:10px; white-space: nowrap; font-size: 1rem; color: #666666; font-weight: 200; height: 20px; padding-left: 30px; background:url(../images/icon_tip1.png) no-repeat 0 0; } 

/* 테이블 */

.table_scroll_wrap3 { overflow-x:auto; margin-top: 2rem; }
.table_scroll_wrap3 thead tr:first-child > * { border-top:1px solid #38496b; background: #f4f5f8; color: #222222; }
.table_scroll_wrap3 tbody tr:first-child > * { border-top:1px solid #38496b; }
.table_scroll_wrap3 table { min-width: 100%; font-size: 1rem; color: #000; border-bottom:1px solid #ddd; text-align: center; color: #444; }
.table_scroll_wrap3 table :is(th, td) { height: 27px; border-right: 1px solid #ddd; border-top: 1px solid #ddd; line-height: 1.6; padding: 1rem 2rem; font-size: 1.06rem; word-break: keep-all; }
.table_scroll_wrap3 table :is(th:last-child, td:last-child){ border-right: 0 none;}
.table_scroll_wrap3 table strong { display: inline-block; }
.table_scroll_wrap3 table tr:last-child td { border-bottom: 0 none;}
.table_scroll_wrap3 table th { background: #f4f5f8; color: #222222; font-weight: 500; white-space: nowrap; }
.table_scroll_wrap3 tbody th { background: #f4f5f8; color: #164690; padding: 0 2rem;}
.table_scroll_wrap3 tbody td { font-weight: 200; }
.table_inner_list { min-width: 300px; text-align: left; padding-left:0.5rem; font-size: 1.07rem;}
.table_inner_list dt { font-weight: 500;}
.table_inner_list dd { font-weight: 200;}

/* 시설 및 장비현황 */
.ctrial_tab_menu { display: flex; background: #eff8ff; border-radius: 0 32px; height: 58px;}
.ctrial_tab_menu button { flex: 1; border-radius: 0 32px; }
.ctrial_tab_menu button.on { background: #3986ee; color: #fff; font-weight: 500; font-size: 1.18rem; box-shadow: 0 7px 15px rgba(22,70,144,0.25);  }



* + .ctrial_con_wrap { margin-top: 3.5rem; }

@media ( max-width:1200px){
  .corgan_dep_wrap { zoom: 0.9; }
}
@media (max-width:1100px){
  .corgan_dep_wrap { zoom: 0.85; } 
 }
@media (max-width: 1000px){
  .corgan_dep_wrap { zoom: 0.75; } 
  
  .ctrial_diagram01 { margin: 70px 0; padding-bottom: 50px; } 
  .ctrial_diagram01:after { display: none; } 
  .ctrial_diagram01 ul { flex-wrap: wrap; gap: 20px 10px; } 
  .ctrial_diagram01 .circle_number { width: 140px; height: 140px; box-shadow: 0 0 0 10px rgba(0,0,0,0.05); background-size: auto 28% !important; } 
  .ctrial_diagram01 .circle_desc { width: 180px; height: 180px; margin-top: -40px; font-size: 1rem; line-height: 1.6; } 
  .ctrial_diagram01 .circle_number strong { height: 40px; line-height: 40px; } 

  .ctrial_history_box .history_item_tit { flex: 0 1 80px; font-size: 1.4rem; } 
  .ctrial_history_box .history_terms { flex: 1 1 20%; font-size: 1.6rem; } 
  .ctrial_history_box .history_terms strong { font-size: 2.2rem; } 
  .ctrial_history_box .history_list > li { gap: 0.8rem; } 

  .ctrial_chart_wrap .chart_label { position: static; text-align: right; margin-bottom: 1rem; } 

 }
@media (max-width: 900px) {}
@media (max-width:800px) { 
  .ctrial_intro_wrap .inner_flex { flex-wrap: wrap; } 
  .ctrial_intro_wrap .intro_msg,
  .ctrial_intro_wrap .intro_img { flex: 1 1 100%; } 
  .ctrial_intro_wrap .intro_msg { margin: 1rem 0.5rem; } 
  .ctrial_intro_wrap .intro_msg .qouta_msg { font-size: 1.5rem; } 
  .ctrial_intro_wrap .intro_msg .qouta_msg:after, .ctrial_intro_wrap .intro_msg .qouta_msg:before { width: 40px; height: 35px; } 
  .ctrial_intro_wrap .intro_msg .sub_msg2 br { display: none; } 
  .ctrial_intro_wrap .intro_img_label { right: 10%; background: rgba(255,255,255,0.7); padding: 10px 20px; } 

  .ctrial_page_tit { font-size: 1.5rem; } 
  .ctrial_blue_box1 { font-size: 1.6rem; padding:1.5rem; } 
  .ctrial_diagram01 .icon_arrow_circle_down2,
  .ctrial_blue_box1 .icon_arrow_circle_down1 { margin-top: 20px; } 
  [class*=icon_arrow_circle_down].line-top:after { height: 40px; } 

  .ctrial_history_top { gap: 5px; height: 80px; } 
  .ctrial_history_top .history_terms { gap: 5px; } 
  .ctrial_history_box { flex-wrap:wrap; gap:1rem; margin: 2rem 0; } 
  .ctrial_history_box .history_terms { flex: 1 1 100%; } 
}
@media (max-width:640px){
  
  .ctrial_con_wrap .con_tit { font-size: 1.6rem; background-position: left 0.4rem; }
  .ctrial_con_wrap .con_tit2 { font-size: 1.4rem; }
  .ctrial_diagram01 .circle_number { width: 100px; height: 100px; } 
  .ctrial_diagram01 .circle_desc { width: 160px; height: 160px; margin-top: -30px; } 
  .ctrial_diagram01 .circle_number strong { height: 30px; line-height: 30px; } 
  .ctrial_history_top .history_terms li { font-size: 1rem; } 
  .ctrial_history_top .history_terms li.current { font-size: 1.3rem; } 
}