@charset "UTF-8";/* college */

.txt_blue { color: #004098; } 
.txt_blue2 { color: #3987ee; } 
.txt_orange { color: #ff8500; } 
.clear_both:after { content: ''; display: block; clear: both; } 
.inner_flex { display: flex; } 

.mcollege_con_wrap .con_tit { position: relative; font-size: 1.75rem; font-weight: 700; line-height: 1.6; padding-left: 27px; } 
.mcollege_con_wrap .con_tit:before { content: ''; display: inline-block; width: 17px; height: 17px; border-radius: 50%; border:1px solid #004098; background: #004098; box-shadow: inset 0 0 0 4px #fff; margin-right:10px; position:absolute; left: 0; top:13px; } 

.tab_menu01 { display: flex; border: 1px solid #cbcbcb; } 
.tab_menu01 .tab_menu_item { position: relative; flex: 1; height: 65px; display: flex; align-items: center; justify-content: center; font-size: 1.1875rem; padding-bottom: 3px; box-sizing: border-box; } 
.tab_menu01 .tab_menu_item:after { content: ''; position: absolute; font-weight: 300; left: 0; height: 7px; bottom: 0; right: 0; background: #16468f; display: none; } 
.tab_menu01 .tab_menu_item.on { color: #16468f; font-weight: 500; } 
.tab_menu01 .tab_menu_item.on:after { display: block; } 
.tab_menu01 .tab_menu_item + .tab_menu_item:before { content: ''; position: absolute; height: 20px; width: 1px; background: #cbcbcb; display: block;left: 0; top:50%; margin-top:-10px; } 


/* 테이블 */
.table_scroll_wrap { overflow-x:auto; margin-top: 2rem; } 
.table_scroll_wrap thead tr:first-child > * { border-top:1px solid #38496b; background: #f1f6fd; color: #222222; } 
.table_scroll_wrap tbody tr:first-child > * { border-top:1px solid #38496b; } 
.table_scroll_wrap table { min-width: 100%; font-size: 1rem; color: #000; border-bottom:1px solid #ddd; text-align: center; color: #444; line-height: 1.6; } 
.table_scroll_wrap table :is(th, td) { height: 27px; border-right: 1px solid #ddd; border-top: 1px solid #ddd; line-height: 1.6; padding: 1rem 2rem; font-size: 1.06rem; word-break: keep-all; } 
.table_scroll_wrap table :is(th:last-child, td:last-child) { border-right: 0 none; } 
.table_scroll_wrap table strong { display: inline-block; color:#222; } 
.table_scroll_wrap table tr:last-child td { border-bottom: 0 none; } 
.table_scroll_wrap table th { background: #f1f6fd; color: #222222; font-weight: 500; white-space: nowrap; } 
.table_scroll_wrap tfoot td,
.table_scroll_wrap tbody th { background: #f7f9fb; color: #222;  font-weight: 500; } 
.table_scroll_wrap tbody td { font-weight: 200; } 
.table_inner_list { min-width: 300px; text-align: left; padding-left:0.5rem; font-size: 1.07rem; } 
.table_inner_list dt { font-weight: 500; } 
.table_inner_list dd { font-weight: 200; } 

.table_common_list1 li { width: 100%; display: list-item; display: flex; } 
.table_common_list1 li ~ li { margin-top: 0.5rem; } 
.table_common_list1 li:before { content:''; display: inline-block; width: 4px; height: 4px; border-radius: 50%; background: #222; margin:0.7rem 8px 0 0; align-self: flex-start; } 

.mcollege_intro_box { display: flex; align-items: center; justify-content: space-between; position: relative; background: #f1f6fd; padding: 30px 30px 30px 130px; margin-top: 4rem; gap: 5rem; } 
.mcollege_intro_logo { width: 90px; height: 90px; background: #16468f; display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top:0; } 
.mcollege_intro_msg { font-family: 'Gmarket'; font-size: 1.625rem; font-weight: 500;}
.mcollege_intro_msg strong { text-transform: uppercase; font-size: 1.06rem; margin-top:1rem; display: block; }


@media (max-width:1200px) { } 
@media (max-width:1000px){
 .pc_map { display: none; } 
 .mobile_map { display: block; } 
}
@media (max-width:800px){
 .college_con_wrap .con_tit { font-size: 1.5rem; } 
 .college_con_wrap .con_tit:before { top: 9px; } 
 .college_con_wrap .con_tit ~ .con_box { padding-left: 5px; } 
 .college_con_wrap ~ .college_con_wrap { margin-top: 2rem; } 
 }
@media (min-width: 641px) and (max-width: 980px) { } 
@media (max-width:640px) { } 