@charset "UTF-8"; /* college */

.txt_blue { color: #3987ee; } 
.txt_blue2 { color: #2061c4; } 
.txt_blue3 { color: #16468f; } 
.txt_orange { color: #ff8500; } 
.clear_both:after { content: ''; display: block; clear: both; } 
.inner_flex { display: flex; } 
.txt_center { text-align: center; }
.icon_link01 { display: inline-block; width: 26px; height: 26px; border-radius: 50%; background: #3987ee url(../images/medicine/icon_link01.png) no-repeat center; } 
.icon_arrow_half01 { display: inline-block; width: 31px; height: 11px; background: url(../images/medicine/icon_arrow_right_half02.png) no-repeat 0 0; background-size: contain; } 
.icon_plus01 { display: inline-block; width: 30px; height: 30px; border-radius: 50%; background: #fff url(../images/medicine/icon_plus01.png) no-repeat center; } 


.mcollege_wrap { color: #000; }
* + .mcollege_con_wrap { margin-top: 3.5rem; } 
.mcollege_con_wrap .con_tit { position: relative; font-size: 1.75rem; font-weight: 700; line-height: 1.6; padding-left: 27px; } 
.mcollege_con_wrap .con_tit:before { content: ''; display: inline-block; width: 17px; height: 17px; border-radius: 50%; border:1px solid #004098; background: #004098; box-shadow: inset 0 0 0 4px #fff; margin-right:10px; position:absolute; left: 0; top:13px; } 
.mcollege_con_wrap .con_tit2 { display: flex; align-items: center; line-height: 1; color: #1e63be; font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem; } 
.mcollege_con_wrap .con_tit strong { font-weight: 700; }
.mcollege_con_wrap .con_desc { line-height: 2; font-size: 1.07rem; font-weight: 200; }
.mcollege_con_wrap * + .con_tit2 { margin-top: 1rem; } 
.mcollege_con_wrap .con_tit ~ .con_box + .con_box { margin-top: 4rem; } 

.tab_menu01 { display: flex; border: 1px solid #cbcbcb; margin-bottom: 3rem; } 
.tab_menu01 .tab_menu_item { position: relative; flex: 1; height: 65px; display: flex; align-items: center; justify-content: center; font-size: 1.1875rem; padding-bottom: 3px; box-sizing: border-box; transition: 0.3s; } 
.tab_menu01 .tab_menu_item:after { content: ''; position: absolute; font-weight: 300; left: 0; height: 7px; bottom: 0; right: 0; background: #16468f; display: none; } 
.tab_menu01 .tab_menu_item:hover { background: #eaeaea; } 
.tab_menu01 .tab_menu_item.on { color: #16468f; font-weight: 500; } 
.tab_menu01 .tab_menu_item.on:after { display: block; } 
.tab_menu01 .tab_menu_item + .tab_menu_item:before { content: ''; position: absolute; height: 20px; width: 1px; background: #cbcbcb; display: block; left: 0; top:50%; margin-top:-10px; } 



/* 테이블 */
.table_scroll_wrap { overflow-x:auto; margin: 1.5rem 0; }  
.con_tit + .table_scroll_wrap { margin-top: 0; }
.table_scroll_wrap table { min-width: 100%; font-size: 1rem; color: #000; border-bottom:1px solid #ddd; text-align: center; line-height: 1.6; } 
.table_scroll_wrap table :is(th, td) { height: 27px; border-right: 1px solid #ddd; border-top: 1px solid #ddd; line-height: 1.6; padding: 1rem 1.5rem; font-size: 1.06rem; word-break: keep-all; } 
.table_scroll_wrap tr:first-child > * { border-top:1px solid #38496b; } 
.table_scroll_wrap table :is(th,td):last-child { border-right: 0 none; } 
.table_scroll_wrap table :is(td,th).inner_bd { border-right: 1px solid #ddd; } 
.table_scroll_wrap table strong { display: inline-block; color:#222; font-weight: 500; } 
.table_scroll_wrap table tr:last-child td { border-bottom: 0 none; } 
.table_scroll_wrap table th { background: #f1f6fd; color: #222222; font-weight: 400;  } 
.table_scroll_wrap thead th { color: #273454; font-weight: 500; white-space: nowrap; } 
.table_scroll_wrap tfoot td,
.table_scroll_wrap tbody th { background: #f7f9fb; color: #222; } 
.table_scroll_wrap tbody td {  } 
.table_inner_list { min-width: 300px; text-align: left; padding-left:0.5rem; font-size: 1.07rem; } 
.table_inner_list dt { font-weight: 500; } 
.table_inner_list dd { }

.table_common_list1 li { width: 100%; display: list-item; display: flex; } 
.table_common_list1 li ~ li { margin-top: 0.5rem; } 
.table_common_list1 li:before { content:''; display: inline-block; width: 4px; height: 4px; border-radius: 50%; background: #222; margin:0.7rem 8px 0 0; align-self: flex-start; } 

.mcollege_intro_box { display: flex; align-items: center; justify-content: space-between; position: relative; background: #f1f6fd; padding: 28px 30px 28px 130px; margin: 4rem 0; gap: 1rem; flex-wrap:wrap; min-height: 90px; box-sizing: border-box; color: #000; } 
.mcollege_intro_logo { width: 90px; height: 90px; background: #16468f; display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top:0; } 
[class*=mcollege_intro_msg] { font-family: 'Gmarket'; font-size: 1.625rem; font-weight: 500; } 
.mcollege_intro_msg strong { display: block; text-transform: uppercase; font-size: 1.06rem; margin-top:1rem; display: block; } 
.mcollege_intro_img { margin-left: auto; } 
.mcollege_intro_msg2 { font-size: 1.125rem; display: flex; align-items: baseline; gap: 1rem; }
.mcollege_intro_msg2 strong { font-weight: 500; font-size: 1.625rem; }

p[class*=mcollege_notice] { display: flex; gap: 0.5rem; margin-top: 0.5rem; line-height: 1.6; font-weight: 200; } 
p[class*=mcollege_notice] * { vertical-align: middle; } 
p[class*=mcollege_notice]:before { content: ''; display: block; width: 26px; height: 26px; border-radius: 50%; background: #aaa url(../images/medicine/icon_notice01.png) no-repeat center; flex: 0 0 26px; } 
p.mcollege_notice01:before { background-color: #767676; } 
p.mcollege_notice02:before { background-color: #3987ee; } 

.mcollege_desc01 { padding: 3px; background: repeating-linear-gradient(-45deg, #fff 0px, #fff 3px, #e5e5e5 4px, #e5e5e5 8px ); font-size:1.07rem; margin: 1rem 0; } 
.mcollege_desc01 > div { padding: 1.2rem 2rem; background: #f7f9fb; }
.mcollege_desc01 .desc_item { display: flex; gap: 1rem; align-items: flex-start;} 
.mcollege_desc01 .desc_item dt { color: #2061c4; font-weight: 500;}
.mcollege_desc01 .desc_item dd { color: #000; font-weight: 200; margin-top:0.3rem; }
.mcollege_desc01 .desc_item dl { flex: 1; }
*:not([class*=con_tit]) + .mcollege_desc01 { margin-top: 3rem; }

.mcollege_diagram01 { display: flex; align-items: center; justify-content: center; flex-wrap:wrap; gap: 3rem; margin: 3.75rem 0; } 
.mcollege_diagram01_item01 { display: flex; gap: 2rem; } 
.mcollege_diagram01 .circle { width: 134px; height: 134px; border-radius: 50%; background: #3aaae9; color: #fff; font-size: 1.07rem; display: flex; align-items: center; justify-content: center; flex-direction: column; } 
.mcollege_diagram01 .circle strong { color: #ffd877; font-family: 'Gmarket'; font-size: 2.25rem; font-weight: 700; line-height: 1; } 
.mcollege_diagram01 .circle p { margin-top: 0.5rem; } 
.mcollege_diagram01_item02 { display: flex; width: 484px; height: 133px; border-radius: 70px;  position: relative; overflow: hidden;}
.mcollege_diagram01_item02:after,
.mcollege_diagram01_item02:before { content:''; display: block; position: absolute; top:0; height: 100%; z-index: 0;}
.mcollege_diagram01_item02:after { left:0; right:50%; background: #ffd877;}
.mcollege_diagram01_item02:before { right:0; left:50%; background: #3aaae9; }
[class*=mcollege_diagram01_inner] { position: relative; z-index: 1; flex: 1; }
.mcollege_diagram01_inner2 { display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 0.5rem; width: 133px; height: 133px; flex: 1 1 133px; max-width: 133px; border-radius: 50%; background: #ffe4a0; color: #000; font-size: 1.07rem; font-weight: 500;} 
.mcollege_diagram01_inner1 { padding: 0 10px 0 30px; box-sizing: border-box; }
.mcollege_diagram01_inner3 { padding: 0 30px 0 10px; box-sizing: border-box; }
:is(.mcollege_diagram01_inner1, .mcollege_diagram01_inner3) { display: flex; align-items: center; justify-content: center; gap: 0.5rem; }
:is(.mcollege_diagram01_inner1, .mcollege_diagram01_inner3) > div { display: flex; flex-direction: column; font-weight: 500; color: #000;}
:is(.mcollege_diagram01_inner1, .mcollege_diagram01_inner3) span { font-size: 1.375rem; }
:is(.mcollege_diagram01_inner1, .mcollege_diagram01_inner3) strong { font-size: 2.25rem; font-weight: 700; font-family: 'Gmarket'; }
.mcollege_diagram01_inner1 strong {color: #3aaae9; }
.mcollege_diagram01_inner3 strong {color: #ffd877; }

.txt_list01 { display: flex;}
.txt_list01 li { display: list-item; line-height: 1.5; margin-top:0.5rem; }

.box_list01 { display: flex; }
.box_list01 li { display: flex; align-items: center; justify-content: center; border-radius: 5px; background: #ffd877; min-width: 105px; height: 95px; box-sizing: border-box; position: relative; text-align: center; padding: 10px; font-weight: 700; }
.box_list01 li:after { content: ''; display:block;  position: absolute; top: 8px; left: 8px; right: 8px; bottom: 8px; border:1px solid #fff;}
.box_list01 li ~ li { margin-left:25px; }
.box_list01 li ~ li:before { content: ''; display:block; position: absolute; top:0; bottom: 0; width: 25px; left:-25px; background: url(../images/medicine/icon_arrow_right_half02.png) no-repeat center;}

@media (max-width:1200px){
 .mcollege_intro_box br { display: none; } 
 }
@media (max-width:1000px){
 .pc_map { display: none; } 
 .mobile_map { display: block; } 
 }
@media (max-width:800px){
 .mcollege_con_wrap .con_tit { font-size: 1.5rem; } 
 .mcollege_con_wrap .con_tit:before { top: 9px; } 
 .mcollege_con_wrap .con_tit ~ .con_box { padding-left: 5px; } 
 .mcollege_con_wrap ~ .college_con_wrap { margin-top: 2rem; } 
 .mcollege_con_wrap .con_tit ~ .con_box + .con_box { margin-top: 2rem;  }


 .mcollege_diagram01 { gap: 1.5rem; }
 .mcollege_diagram01 .circle { width: 110px; height: 110px;}
 .mcollege_diagram01_item02 { height: 110px; }
 .mcollege_diagram01_inner2 { height: 110px; }
 :is(.mcollege_diagram01_inner1, .mcollege_diagram01_inner3) strong { font-size: 1.8rem; }
}
@media (min-width: 641px) and (max-width: 980px) { } 
@media (max-width:640px) { } 