@charset "UTF-8";/* college */

.txt_blue { color: #004098; } 
.txt_orange { color: #ff8500; } 
.txt_red { color: #ec0d0d; } 
.clear_both:after { content: ''; display: block; clear: both; } 
.inner_flex { display: flex; } 
.line_blue_box { border: 1px solid #004098; padding: 70px 0; } 
.icon_blue_arrow_right { display: inline-block; width: 4px; height: 6px; background:url(../images/imc/icon_arrow_right_blue1.png) no-repeat 0 0; background-size: contain; } 
.icon_blue_arrow_right2 { display: inline-block; width: 36px; height: 36px; background:url(../images/imc/icon_arrow_right_blue2.png) no-repeat 0 0; background-size: contain; } 

/* 의과학연구소 */
.college_wrap2 { color: #000; } 
.college_wrap2_desc { margin-bottom: 40px; } 
.college_wrap2_desc span { display: inline; } 
.college_wrap2_tit { font-size: 2rem; font-weight: 700; color: #004098; margin-bottom: 2.5rem; } 
.college_wrap2_intro .intro_main_img { position: relative; float: right; margin-left: 3.5rem; max-width: 50vw; } 
.college_wrap2_desc,
.college_wrap2_intro .intro_main_msg { font-size: 1.75rem; margin:0 0 30px 0; line-height: 1.6; } 
.college_wrap2_intro .intro_main_msg strong { font-size: 1.75rem; } 
.college_wrap2_intro .intro_eng_tit { font-family: 'Agaramond'; font-size: 2.375rem; color:#004098; margin-top:0.5rem; line-height: 1.4; } 
.college_wrap2_intro .intro_link { margin: 50px 0 0 0; } 
.college_wrap2_intro .intro_link a { display: inline-flex; align-items: center; padding: 0 30px; color: #fff; background: #004098; height: 48px; transition: 0.3s; } 
.college_wrap2_intro .intro_link a:hover { opacity: 0.9; transform: translateY(-2px); } 
.college_wrap2_intro .intro_link .link_btn { padding-right: 80px; background-image:url(../images/imc/icon_link1.png); background-repeat: no-repeat; background-position: 90% center; } 
.college_wrap2_intro.center .intro_link { text-align: center; } 
.intro_main_msg span { display: inline; } 
.intro_sub_msg { font-size: 1.06rem; font-weight: 200; line-height: 2; } 
.college_con_wrap2 + .college_con_wrap2 { margin-top: 3.5rem; } 
.college_con_wrap2 :is(h3,h4).con_tit { font-size: 1.75rem; font-weight: 600; background: url(../images/imc/h3_icon.png) no-repeat left 0.5rem; padding-left: 2.3rem; margin-bottom: 2rem; } 
.college_con_wrap2 > .con_desc1 { font-weight: 200; line-height: 2; font-size: 1.06rem; } 
.college_con_wrap2 > .con_desc2 { font-weight: 200; line-height: 2; } 
.college_intro2 .main_intro_tit { color: #004098; font-size: 2.25rem; font-family: 'Agaramond'; font-weight: 400; margin:2.5rem 0; } 
.college_intro2 .main_intro_tit strong { font-weight: 700; text-transform: uppercase; font-size: 2.625rem; } 
.college_intro2 .inner_flex { gap: 5rem; flex-wrap: wrap; } 
.college_intro2 .inner_flex > div { flex:1 1 400px; } 
.college_intro2 .inner_flex img { margin: 0 auto; display: block; } 
.college_intro2 .main_intro_desc { font-size: 1.625rem; line-height: 1.5; margin-bottom: 30px; } 
.college_intro2 .sub_intro_desc { font-weight: 200; font-size: 1.06rem; line-height: 2; } 
.college_intro2 .sub_intro_desc + .sub_intro_desc { margin-top: 1.8rem; } 
.college_wrap2 .full_img { margin-top: 7.5rem; } 
.college_wrap2 .feature_box { display: flex; flex-wrap: wrap; margin-top: 3.75rem; border:1px solid #004098; } 
.college_wrap2 .feature_box .feature_item { flex: 1; padding: 2rem; } 
.college_wrap2 .feature_box .feature_item + .feature_item { border-left: 1px solid #004098; } 
.college_wrap2 .feature_box .feature_item_tit { text-align: center; font-size: 1.5rem; font-weight: 700; margin-top:2rem; } 
.college_wrap2 .feature_box .feature_item_img { margin: 1.5rem auto 2.5rem auto; display: block; } 
.college_wrap2 .feature_box .feature_bottom { display: flex; flex: 1 1 100%; align-items: center; justify-content: center; color: #fff; background: #004098; min-height: 125px; font-family: 'Agaramond'; font-weight: 700; font-size: 2.5rem; } 
.college_wrap2 .num_list2 { font-weight: 200; } 
.college_wrap2 .num_list2 li { display: flex; width: 100%; gap: 10px; } 
.college_wrap2 .num_list2 li + li { margin-top: 10px; } 
.college_wrap2 .num_list2 .list_num { display: inline-flex; align-items: center; justify-content: center; flex: 0 0 26px; border-radius: 50%; width: 26px; height: 26px; color: #fff; background: #004098; } 
.college_wrap2 .feature_gray_box { background: #fafafa; border:1px solid #d7e0e9; border-radius: 6px; font-weight: 200; text-align: center; padding:15px; line-height: 2; } 
.college_con_wrap2 .gray_box { background: #fafafa; border:1px solid #dadce0; padding: 35px 20px; margin:2rem 0 3rem 0; } 

.imc_map .organ_head { position: relative; width: fit-content; height: 84px; display: flex; align-items: center; justify-content: center; padding: 0 55px; font-size: 1.375rem; font-weight: 500; color: #fff; background: #004098; outline:1px dashed #004098; box-shadow: inset 0 0 0 10px #fff; margin:0 auto; } 
.imc_map .organ_head:after { content: ''; display: block; position:absolute; top:100%; margin-top:-5px; border-radius: 50%; background: #004098; width: 9px; height: 9px; } 
.imc_map :is(.organ_group1, .organ_group2) { display: flex; align-items: start; justify-content: center; } 
.imc_map :is(.organ_group1, .organ_group2) > li > p { display: flex; align-items: center; justify-content: center; background: #ffa415; font-weight: 500; color: #fff; font-size: 1.06rem; height: 48px; box-sizing: border-box; text-align: center; margin: auto; } 
.imc_map .organ_group1 { position: relative; padding: 50px 0; } 
.imc_map .organ_group1:before { content: ''; position: absolute; display: block; width: 1px; top:0; bottom:0; background: #004098; left: 50%; margin-left: -1px; } 
.imc_map .organ_group2 > li > p { background: #004098; width: 165px; position: relative; } 
.imc_map .organ_group1 > li { position: relative; flex: 1 1 50%; } 
.imc_map .organ_group2 ul p { display: flex; align-items: center; justify-content: center; border: 1px solid #004098; width: 105px; min-height: 48px; color: #004098; text-align: center; font-weight: 500; box-sizing: border-box; padding: 12px 0; background: #fff; } 

@media (min-width:901px){
 .imc_map .organ_group1 > li:before { content: ''; position: absolute; display: block; height: 1px; top:50%; background: #004098; width: 100px; } 
.imc_map .organ_group1 > li:last-child p { margin: 0 auto 0 100px; } 
.imc_map .organ_group1 > li:first-child p { margin: 0 100px 0 auto; } 
.imc_map .organ_group1 > li:last-child:before { right: 100%; } 
.imc_map .organ_group1 > li:first-child:before { left: 100%; } 
.imc_map .organ_group1 > li > p { width: fit-content; margin: 0 auto; padding:0 45px; } 
.imc_map .organ_group2 { padding: 0 10px; } 
.imc_map .organ_group2 > li { position: relative; padding: 50px 7px 0 7px; } 
.imc_map .organ_group2 > li:before { content: ''; position: absolute; display: block; height: 1px; top:0; left:0; right: 0; background: #004098; } 
.imc_map .organ_group2 > li:first-child:before { left: 50%; } 
.imc_map .organ_group2 > li:last-child:before { right: 50%; } 
.imc_map .organ_group2 > li:after { content: ''; position: absolute; display: block; width: 1px; top:0; height: 50px; left: 50%; background: #004098; } 
.imc_map .organ_group2 > li > p:after { content: ''; display: block; position:absolute; top:-50px; left: 50%; margin: -4px 0 0 -4px; border-radius: 50%; background: #004098; width: 9px; height: 9px; } 
.imc_map .organ_group2_1 { display: flex; justify-content: center; position: relative; } 
.imc_map .organ_group2_1 ul { display: flex; gap: 10px; } 
.imc_map .organ_group2_1 li { position:relative; padding: 45px 0 0 0; } 
.imc_map .organ_group2_1 > li { padding: 45px 5px 0 5px; } 
.imc_map .organ_group2_1 li:after { content: ''; position: absolute; display: block; width: 1px; top:0; height:45px; left: 50%; background: #004098; } 
.imc_map .organ_group2_1:after { content: ''; position: absolute; display: block; width: 1px; top:0; height:23px; left: 50%; background: #004098; } 
.imc_map .organ_group2_1 > li:after { height: 23px; top:23px; } 
.imc_map .organ_group2_1 > li:before { content: ''; position: absolute; display: block; height: 1px; top:22px; left:0; right: 0; background: #004098; } 
.imc_map .organ_group2_1 > li:first-child:before { left: 50%; } 
.imc_map .organ_group2_1 > li:last-child:before { right: 50%; } 
 }


.table_scroll_wrap2 { overflow-x:auto; } 
.table_scroll_wrap2 + .table_scroll_wrap2 { margin-top: 1.5rem; } 
.table_scroll_wrap2 thead tr:first-child > * { border-top:2px solid #004098; color: #004098; background: #ebf4fc; } 
.table_scroll_wrap2 tbody tr:first-child > * { border-top:1px solid #004098; } 
.table_scroll_wrap2 table { min-width: 100%; font-size: 1.07rem; color: #000; border-bottom:1px solid #004098; text-align: center; } 
.table_scroll_wrap2 table td,
.table_scroll_wrap2 table th { height: 27px; border-right: 1px solid #dadfe7; border-top: 1px solid #dadfe7; line-height: 1.6; padding: 1rem ; font-size: 1.06rem; word-break: keep-all; font-weight: 300; } 
.table_scroll_wrap2 table :is(th:last-child, td:last-child) { border-right: 0 none; } 
.table_scroll_wrap2 table strong { display: inline-block; } 
.table_scroll_wrap2 table tr:last-child td { border-bottom: 0 none; } 
.table_scroll_wrap2 table th { background: #f8fbfe; color: #011e46; font-weight: 500; white-space: nowrap; } 
.table_scroll_wrap2 tbody th { background: #f2f7fd; color: #004098; padding: 0 2rem; } 
.table_scroll_wrap2 tbody td { background: #fff; } 
.table_inner_list { min-width: 300px; text-align: left; padding-left:0.5rem; font-size: 1.07rem; } 
.table_inner_list dt { font-weight: 500; } 
.table_inner_list dd { font-weight: 200; } 
.table_scroll_wrap2 .table_pd_thin :is(th, td) { padding: 1rem 0.5rem; } 
.txt_noti_right { text-align: right; font-weight: 200; margin-top:0.5rem; } 


.college_con_wrap2 .table_scroll_wrap:not(:first-child) { margin:0; } 
.college_con_wrap2 .table_scroll_wrap2 { border-color:#004098; } 
/* .college_con_wrap2 .table_scroll_wrap table td { padding: 10px 5px; height: 35px; } */
.college_con_wrap2 .table_scroll_wrap2 table thead th { border-bottom-color: #004098; } 
.college_con_wrap2 .table_scroll_wrap2 table th { color: #004098; background: #ebf4fc; } 

.table_scroll_wrap2 .traffic_info td { text-align: left; } 

.map_address { font-size: 1.75rem; font-weight: 500; text-align: center; } 
.map_address img { margin-right:5px; } 
.map_box1 { border:1px solid #004098; margin-top: 50px; } 
.map_box1 .map_bot { display: flex; flex-wrap:wrap; border-top: 1px solid #004098; align-items: center; } 
.map_box1 .map_bot > * { height: 70px; } 
.map_box1 .map_tel { display: flex; align-items: center; padding-left: 55px; flex: 1; color: #004098; gap: 15px; font-size: 1.06rem; } 
.map_box1 .map_link { display: flex; align-items: center; justify-content: center; flex: 0 0 390px; border-left: 1px solid #004098; } 
.map_box1 .map_link a { font-size: 1.06rem; position: relative; } 
.map_box1 .map_link a + a { margin-left: 40px; } 
.map_box1 .map_link a + a:before { content: ''; display: block; position:absolute; height: 19px; width: 1px; background: #004098; left: -20px; top: 4px; } 

.find_way_box { display: flex; background: #f7f9fb; height: 100px; justify-content: center; align-items: center; margin-top:50px; font-size:1rem; color:#000; gap: 5px; padding: 0 20px; } 
.map_target_box { display: flex; gap: 7px; align-items: center; margin-left: 15px; } 
.map_target_box .change_target { font-size:0; line-height: 0; background: url(../images/imc/sub01_03_01_icon05.png) 0 0 / contain no-repeat; width: 33px; height: 31px; } 
.map_target_box input { flex: 0 1 200px; border:1px solid #d4d5d7; padding-left: 40px; color: #000; } 
.map_target_box input::placeholder { color: #000; opacity: 1; } 
.map_target_box .map_target1 { background: url(../images/imc/icon_depart1.png) 17px center / auto no-repeat #fff; } 
.map_target_box .map_target2 { background: url(../images/imc/icon_arrival1.png) 17px center / auto no-repeat #fff; } 
.map_target_box .search_way_btn { background: #004098; color: #fff; height: 47px; font-size: 1rem; width: 143px; } 

.inner_con_wrap1 { display: flex; flex-wrap: wrap; gap: 30px; } 
.inner_con_wrap1 + .inner_con_wrap1 { margin-top: 30px; } 
.inner_con_wrap1 .inner_tit_box1 { width: 180px; border-top: 6px solid #004098; padding-top: 30px; } 
.inner_con_wrap1 .inner_tit_box1 .con_tit { font-size: 1.8rem; font-weight: 500; } 
.inner_con_wrap1 .inner_tit_box1 .con_tit span { color: #004098; font-size: 1rem; display: block; font-weight: 300; } 
.inner_con_wrap1 .inner_tit_box1 > img { margin-top: 40px; } 
.inner_con_wrap1 .inner_con_box1 { flex: 1; } 
.inner_con_wrap1 .table_scroll_wrap:first-child { margin-top: 0; } 

.college_wrap2 .traffic_info td { padding: 15px 30px; line-height: 2; } 

.equip_listl { display: flex; flex-wrap: wrap; gap: 45px; } 
.equip_listl li { border:1px solid #cad0d8; padding:45px 42px; flex: 0 1 calc(50% - 25px); box-sizing: border-box; } 
.equip_listl .equip_img { background: #ebf4fc; display: flex; align-items: center; justify-content: center; height: 230px; margin-bottom: 28px; } 
.equip_listl .equip_img img { max-height: 85%; } 
.equip_listl .equip_name { font-family: 'Agaramond'; font-weight: 700; font-size: 1.625rem; margin-bottom: 20px; position: relative; padding-top:17px; } 
.equip_listl .equip_name:before { content: ''; position: absolute; display: block; left: 0; top:0; width: 27px; height: 4px; border-radius: 4px; background: #004098; } 
.equip_listl .equip_info { display: flex; gap: 5px; background: #fafafa; border:1px solid #d7e0e9; border-radius:5px; padding: 15px 25px; margin-top: 8px; } 
.equip_listl .equip_info span { color: #004098; font-weight: 500; width: 55px;padding-right: 2px;} 
.btn_box1 { margin-top: 75px; text-align: center; } 
.btn_download1 { display: inline-flex; align-items: center; padding:0 100px; height: 86px; background: #004098; color: #fff !important; border-radius:0 43px 0 43px; box-shadow: 7px 7px 14px 0 rgba(0,30,69,0.25); font-size: 1.19rem; font-weight: 700; transition: 0.3s; } 
.btn_download1:hover { transform: translateY(-2px); box-shadow: 0px 0px 20px 0 rgba(0,30,69,0.3); } 

.circle-list1 { display: flex; align-items: center; justify-content: center; gap: 50px; flex-wrap:wrap; } 
.circle-list1 li { display: flex; align-items: center; justify-content: center; min-width: 118px; height: 118px; border-radius: 60px; border: 6px solid #b9bec2; position: relative; text-align: center; font-weight: 500; box-sizing: border-box; padding:0 10px; flex-wrap:wrap; flex-direction: column; gap: 5px; } 
.circle-list1 li + li:before { content: ''; display: block; position: absolute; z-index: 0; height: 0; width: 50px; border-top:2px dotted #a7aeb4; right: 100%; margin-right: 3px; } 
.circle-list1 li + li:after { content: ''; display: block; position: absolute; left: -15px; z-index: 1; width: 20px; height: 20px; background: #a7aeb4 url(../images/imc/icon_arrow_half1.png) center no-repeat; border-radius: 50%; border:1px solid #fff; } 
.circle-list1 li.on { color: #004098; border-color:#004098 } 
.circle-list1 li.on:after { background-color:#004098; border-color:#000; } 
.circle-list1 li.type2 { padding: 0 20px; } 
.circle-list1 .txt_mini { font-size: 0.8rem; color: #000; font-weight: 500; line-height: 1.2; } 

.inner_con_tit { display: flex; align-items: center; line-height: 1; color: #004098; font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem; } 
.inner_con_tit:before { content: ''; display: inline-block; width: 5px; height:5px; border-radius: 50%; background: #004098; margin:0 8px 0 20px; } 
.inner_con_tit ~ .inner_con_tit { margin-top: 2.5rem; } 
.con_icon_wrap1 .con_main { align-self: center; flex:1; } 
.con_main > .inner_con_tit:before { margin-left:0; } 
.con_icon_wrap1 { display: flex; margin-top: 1.5rem; } 
.con_icon_wrap1 .con_icon_box { margin:0 50px 0 35px; } 
.con_icon_wrap1 .con_icon_box .icon { width: 155px; height: 155px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background: #ebf4fc; outline:1px dashed #004098; box-shadow: inset 0 0 0 10px #fff; } 
.con_icon_wrap1 .con_icon_box .icon img { max-width: 45%; } 
.con_icon_wrap1 .inner_con_desc { font-size: 1.06rem; font-weight: 200; line-height: 2; margin-bottom:0.5rem; } 
.con_icon_wrap1 .inner_con_desc:first-child { margin-bottom:1.5rem; } 
.con_list1 > li { display: flex; align-items: flex-start; font-size: 1.06rem; line-height: 1.6; font-weight: 200; } 
.con_list1 > li:before { content: ''; display: inline-block; width: 4px; height:4px; border-radius: 50%; background: #000; flex:0 0 4px; margin: 0.8rem 5px 0 0; } 
.con_list1 li ~ li { margin-top: 0.5rem; } 
.con_list1 li strong { font-weight: 500; } 
.con_list2 > li { display: flex; align-items: flex-start; font-size: 1.06rem; line-height: 1.6; font-weight: 200; gap: 10px; } 
.con_list2 .list_num { display: flex; width: 26px; height: 26px; background: #004098; color: #fff; font-size: 0.93rem; border-radius: 50%; align-items: center; justify-content: center; font-weight: 200; flex: 0 0 26px; margin-top: 2px; } 
.con_list2 li ~ li { margin-top: 0.5rem; } 
.inner_con_tit ~ .con_list2 { padding-left: 13px; } 
.inner_con_tit ~ .inner_con_desc { padding-left: 13px; } 
.con_list3 > li { display: flex; font-size: 1.06rem; line-height: 1.6; font-weight: 200; } 
.con_list3 > li:before { content: '-'; display: inline-block; margin-right: 10px; } 
.con_list3 li ~ li { margin-top: 0.5rem; } 
.con_list3 li a { margin-left: 5px; } 
.con_list3 li a:hover { text-decoration: underline; } 
.con_list3 > li strong:first-child { white-space: nowrap; } 


.con_list1 .con_list_inner_tit { font-weight: 500; margin-bottom: 0.5rem; } 
.con_list1 .con_list1_inner ul { margin-top: 10px; } 
.con_list1 .con_list1_inner li { display: block; } 

.college_terms_box1 { border: 1px solid #cad0d8; border-radius: 5px; padding: 3.125rem 4.375rem; margin-top:2.2rem; } 
.college_terms_box1 >ul> li { display: flex; font-size: 1.06rem; gap:10px; } 
.college_terms_box1 >ul>li ~ li { margin-top: 7px; } 
.college_terms_box1 .terms_tit { display: flex; align-items: center; justify-content: center; border-radius: 5px; background: #004098; color: #fff; width: 180px; } 
.college_terms_box1 .terms_con { flex: 1; background: #fafafa; border:1px solid #d7e0e9; border-radius: 5px; padding: 15px 30px; font-weight: 200; } 
.college_terms_box1 .terms_con.table_scroll_wrap2 { padding:0; border:0; border-radius: 0; } 
.college_terms_box1 .qr_img { margin-left: 20px; padding: 10px; border-radius: 5px; border: 1px solid #d7e0e9; background: #fff; margin: 0 0 0 10px; vertical-align: text-top; } 

.con_noti1 { width: 100%; margin-top: 2rem; } 
.con_noti1_tit { font-size: 1.18rem; font-weight: 500; } 
.con_noti1_desc { display: block; margin-top: 1rem; font-size: 1rem; border: 1px solid #004098; padding:1.3rem 0.5rem 1.3rem 2.5rem; align-items: center; justify-content: center; color: #004098; font-weight: 500; line-height: 1.8; } 
.con_noti1_desc > p { padding-left:35px; background:url(../images/imc/icon_notice1.png) no-repeat 0 0; font-weight: 200; } 
.con_noti1_desc > p ~ p { margin-top: 7px; } 
.noti_txt1 { padding-left:35px; background:url(../images/imc/icon_notice1.png) no-repeat 0 0; font-weight: 200; line-height: 1.8; } 
.noti_txt1 ~ .noti_txt1 { margin-top: 7px; } 

.icon_sub03_03_04_01 { display: inline-block; width: 105px; height: 75px; background:url(../images/imc/sub03_03_04_icon03.png) no-repeat 0 0; background-size: contain; } 
.icon_sub03_03_04_02 { display: inline-block; width: 90px; height: 64px; background:url(../images/imc/sub03_03_04_icon04.png) no-repeat 0 0; background-size: contain; } 
.icon_sub03_03_04_03 { display: inline-block; width: 45px; height: 77px; background:url(../images/imc/sub03_03_04_icon05.png) no-repeat 0 0; background-size: contain; } 
.icon_sub03_03_04_04 { display: inline-block; width: 90px; height: 64px; background:url(../images/imc/sub03_03_04_icon06.png) no-repeat 0 0; background-size: contain; } 

.con_box_list1 { display: flex; flex-wrap:wrap; margin-top:1.5rem; } 
.con_box_list1 li { flex: 1 1 49%; border:1px solid #004098; padding: 2.8rem 2rem 2rem 5rem; box-sizing: border-box; } 
.con_box_list1 .con_box_tit { position: relative; font-weight: 500; line-height: 1.8; } 
.con_box_list1 .con_box_tit .list_num { position: absolute; display: inline-flex; width: 26px; height: 26px; background: #004098; color: #fff; font-size: 0.93rem; border-radius: 50%; align-items: center; justify-content: center; font-weight: 200; flex: 0 0 26px; margin-top: 2px; left: -40px; } 
.con_box_list1 .con_box_tit { margin-bottom: 0.5rem; } 
.con_box_list1 .con_box_desc { font-weight: 200; line-height: 2; } 
.con_box_list1 li i { display: block; margin: 2rem 0 0 auto; } 
.con_box_list1 li:nth-child(even) { margin-left:-1px; } 
.con_box_list1 li:nth-child(n + 3) { margin-top:-1px; } 

.college_step_list1 { border:1px solid #004098; padding:3rem; margin-top:2rem; } 
.college_step_list1 .step_box { display: flex; position: relative; } 
.college_step_list1 .step_box ~ .step_box { margin-top: 19px; } 
.college_step_list1 .step_box ~ .step_box:before { content:''; display: block; position: absolute; left: 0; top:-10px; width: 100%; height: 1px; background: #004098; } 
.college_step_list1 .step_box > .step_tit { display: flex; align-items: center; justify-content: center; background: #004098; color: #fff; font-weight: 500; flex: 0 0 130px; } 
.college_step_list1 .step_box > .step_box_inner { flex: 1; } 
.college_step_list1 .step_row { display: flex; padding: 6px 12px; } 
.college_step_list1 .step_row ~ .step_row { border-top: 1px dashed #004098; } 
.college_step_list1 .step_row:first-child { padding-top: 0; } 
.college_step_list1 .step_row:last-child { padding-bottom: 0; } 
.college_step_list1 .step_desc { flex: 1; display: inline-flex; align-items: center; padding: 0 0 0 1rem; line-height: 1.8; } 
.college_step_list1 .label_box { display: flex; flex: 1; } 
.college_step_list1 .label_box > p { box-sizing: border-box; height: 80px; display: flex; align-items: center; justify-content: center; flex: 1 1 100%; height: 80px; text-align: center; position: relative; margin-right:10px; padding: 0 5px; } 
.college_step_list1 .label_box > p.full { max-width: calc(100% - 20px); } 
.college_step_list1 .label_box > p.halfhalf { max-width: calc(25% - 15px); } 
.college_step_list1 .label_box.type1 > p { flex: 1 1 50%; max-width: calc(50% - 10px); } 
.college_step_list1 .label_box.type2 > p { flex: 1; } 
.college_step_list1 .label_box > p:nth-child(2) { margin-left: 10px; } 

.college_step_list1 .label_box > p span { width: 100%; word-break: break-word; position: relative; z-index: 2; color: #004098; font-weight: 500; font-size: 1.06rem; } 
.college_step_list1 .label_box > p:before,
.college_step_list1 .label_box > p:after { content: ''; position: absolute; display: block; left: 0px; width: 100%; height: 40px; z-index: 0; box-sizing: border-box; } 
.college_step_list1 .label_box > p:before { top: 0; transform: skew(20deg); } 
.college_step_list1 .label_box > p:after { bottom: 0; transform: skew(-20deg); } 
.college_step_list1 .label_box > p.step_label_line1:before { border-top: 1px solid #004098; border-right: 1px solid #004098; border-left: 1px solid #004098; background: #fff; } 
.college_step_list1 .label_box > p.step_label_line1:after { border-left: 1px solid #004098; border-right: 1px solid #004098; border-bottom: 1px solid #004098; background: #fff; } 
.college_step_list1 .label_box > p:first-child:before,
.college_step_list1 .label_box > p:first-child:after { border-left: none; margin-left:10px; } 
.college_step_list1 .label_box > p.step_label1:first-child,
.college_step_list1 .label_box > p.step_label1:before,
.college_step_list1 .label_box > p.step_label1:after { background: #ebf4fd; } 
.college_step_list1 .label_box > p.step_label2:first-child,
.college_step_list1 .label_box > p.step_label2:before,
.college_step_list1 .label_box > p.step_label2:after { background: #d6eaff; } 
.college_step_list1 .label_box > p.step_label3:first-child,
.college_step_list1 .label_box > p.step_label3:before,
.college_step_list1 .label_box > p.step_label3:after { background: #d4e9ff; } 
.college_step_list1 .label_box > p.step_label4:first-child,
.college_step_list1 .label_box > p.step_label4:before,
.college_step_list1 .label_box > p.step_label4:after { background: #c0dfff; } 
.college_step_list1 .label_box > p.step_label5:first-child,
.college_step_list1 .label_box > p.step_label5:before,
.college_step_list1 .label_box > p.step_label5:after { background: #ffedd0; } 
.college_step_list1 .label_box > p.step_label6:first-child,
.college_step_list1 .label_box > p.step_label6:before,
.college_step_list1 .label_box > p.step_label6:after { background: #eeeeee; } 

.college_step_list2 { background: #f9f9f9; } 

.label_box_wrap { flex: 1; display: flex; gap: 10px; flex-wrap: wrap; } 
.label_box_wrap > div { flex: 1 1 100% !important; } 

.college_step_list2 { display: flex; justify-content: center; padding:4rem 2rem; font-size: 1.06rem; gap:4.3rem; margin: 2rem 0; } 
.college_step_list2 .inner_list { flex: 0 1 400px; } 
.college_step_list2 .inner_list dd { display: block; } 
.college_step_list2 .step_tit { display: flex; align-items: center; justify-content: center; color: #fff; font-weight: 500; background: #aaa; min-height: 55px; padding: 0.5rem; box-sizing: border-box; border-radius: 0 25px 0 0; margin-bottom:1.6rem; } 
.college_step_list2 .type1 .step_tit { background: #004098; } 
.college_step_list2 .type2 .step_tit { background: #001e45; } 
.college_step_list2 .step_order { position: relative; width: 100%; border:1px solid #95afd2; background: #fff; border-radius: 5px; min-height: 55px; padding: 1.2rem 0.5rem; box-sizing: border-box; text-align: center; font-weight: 200; } 
.college_step_list2 .step_order + .step_order { margin-top:1.6rem; } 
.college_step_list2 .step_order + .step_order:after { content:''; height: 1.6rem; width: 1px; display: block; position: absolute; bottom:100%; margin-bottom:1px; background: #dddddd; left: 50%; } 
.college_step_list2 .step_order + .step_order:before { content:''; height: 19px; width: 19px; display: block; position: absolute; bottom:100%; margin: 0 0 -4px -9px; background: #004098 url(../images/imc/icon_arrow_down1.png) no-repeat 7px 8px; left: 50%; box-shadow: 0 0 0 8px rgba(57, 134, 238,0.1); border-radius: 50%; z-index: 1; } 
.college_step_list2 .type2 .step_order + .step_order:before { background-color: #001e45; box-shadow: 0 0 0 8px rgba(0,30,69,0.1); } 

.line_blue_box.notice { padding: 22px 0; display: flex; margin: 70px 0; }
.line_blue_box.notice .left { display: flex; align-items: center; justify-content: center; position: relative; width: 27%; text-align: center; border-right: 1px solid #004098; padding: 13px 10px 10px 10px; }
.line_blue_box.notice .left i { position: absolute; right: 0; top:50%; margin: -16px -20px 0 0; }
.line_blue_box.notice .right { width: 73%; padding: 0 60px; display: flex; align-items: center; color: #004098; flex-wrap:wrap; box-sizing: border-box;}
.line_blue_box.notice .right p + p { margin-top: 15px; flex: 1 1 100%; }

@media ( max-width:1200px){
 .imc_map { zoom: 0.9; } 
 }
@media (max-width:1100px){
 .imc_map { zoom: 0.85; } 
 .imc_map .organ_group2 > li > p { width: 150px; } 
 }
@media (max-width: 1000px){
 .imc_map { zoom: 0.75; } 
 .equip_listl { gap: 30px; } 
 .equip_listl li { padding: 30px; } 
 .equip_listl .equip_img { height: 150px; } 
 .college_terms_box1 { padding:30px; } 
 .college_terms_box1 .terms_tit { flex: 1 } 
 .college_terms_box1 .terms_con { flex: 3; padding: 10px 15px; } 
 .college_step_list1,.college_step_list1 .label_box > p span { font-size: 0.9rem; } 
}
@media (max-width: 900px){
 .imc_map { zoom: 1; } 
 .imc_map li > p { position: relative; z-index: 1; } 
 .imc_map .organ_group1 { justify-content: center; position: relative; padding: 30px 20px 20px 20px; gap: 50px; } 
 .imc_map .organ_group1:after { content:''; position: absolute; display: block; left: 50%; top:0; bottom:0; width: 1px; background: #004098; margin-left: -1px;; } 
 .imc_map .organ_group1:before { content:''; position: absolute; display: block; top: 50%; left: 30%; right:30%; height: 1px; background: #004098; z-index: 0; } 
 .imc_map .organ_group1 > li { max-width: 250px; } 
 .imc_map .organ_group1 > li > p { width: 100%; padding: 0 5px; } 
 .imc_map .organ_group2 { flex-wrap:wrap; position: relative; padding: 15px 20px 0 60px; max-width: 600px; margin:0 auto; } 
 .imc_map .organ_group2:before { content:''; position: absolute; display: block; top:0; height: 1px; background: #004098; left: 35px; right:50%; } 
 .imc_map .organ_group2 > li { flex: 1 1 100%; position: relative; } 
 .imc_map .organ_group2 li:after { content:''; position: absolute; display: block; height: 1px; background: #004098; z-index: 0; top: 20px; left: -25px; width: 25px; } 
 
 .imc_map .organ_group2 li:before { content:''; position: absolute; display: block; top:-15px; bottom:0; width: 1px; background: #004098; left: -25px; } 
 .imc_map .organ_group2 li:last-child:before { bottom: unset; height: 36px; } 
 .imc_map .organ_group2 > li > p { width: 35%; min-width: 150px; margin: 0; } 
 .imc_map .organ_group2 > li > p:after { content: ''; display: block; position:absolute; left: -29px; top:50%; margin:-8px 0 0 0; border-radius: 50%; background: #004098; width: 9px; height: 9px; } 
 .imc_map .organ_group2_1 { flex-wrap: wrap; padding:15px 0 0 30px; } 
 .imc_map .organ_group2_1 li { position: relative; display: flex; flex-wrap: wrap; flex: 1 1 100%; } 
 .imc_map .organ_group2 li + li { margin-top: 15px; } 
 .imc_map .organ_group2_1 li:before { left: -15px; } 
 .imc_map .organ_group2_1 li:after { width: 15px; left: -15px; } 
 .imc_map .organ_group2_1 ul { padding: 15px 0 0 30px; flex-wrap:wrap; flex: 1 1 100%; } 
 
 .imc_map .organ_group2 ul p { width: 35%; min-width: 150px; } 
 .imc_map .organ_group2 ul br { display: none; } 
 .btn_download1 { padding: 0 30px; min-width: 30%; justify-content: center; height: 70px; } 
 .circle-list1 { gap: 10px 30px; } 
 .circle-list1 li + li:before { width: 30px; } 
 
 .con_box_list1 li { padding: 1rem; } 
 .con_box_list1 .con_box_tit .list_num { position: static; } 
 .con_box_list1 .con_box_desc { font-size: 0.9rem; } 
 .con_box_list1 li i { zoom: 0.8; } 

 .con_icon_wrap1 .con_icon_box .icon { width: 120px; height: 120px; } 
 }


@media (max-width:980px){
 .pc_map { display: none; } 
 .mobile_map { display: block; } 
 
 .college_terms_box1 .qr_img { margin: 20px auto 0; display: block; } 
 }
@media (max-width:800px){
 .table_scroll_wrap2 table :is(th, td) { padding: 0.5rem; font-size: 1rem; } 
 .table_scroll_wrap2 table strong { white-space:nowrap; } 

 .college_intro2 .main_intro_tit { font-size: 1.8rem; margin:1.5rem 0; } 
 .college_intro2 .main_intro_desc { font-size: 1.5rem; } 
 .college_wrap2 .full_img { margin-top:3rem; } 
 .college_wrap2 .feature_box.type2 .feature_item { flex: 1 1 100%; } 
 .college_wrap2 .feature_box .feature_item_tit { margin-top:0; } 
 .college_wrap2 .num_list2 li { gap: 5px; } 
 .college_wrap2 .num_list2 .list_num { font-size:0.8rem; width: 24px; height: 24px; flex: 0 0 24px; } 
 .college_wrap2 .feature_box .feature_bottom { font-size: 2rem; padding: 30px 20px; min-height: auto; text-align: center; } 
 .college_wrap2 .feature_box .feature_item + .feature_item { border: 0 none; border-top: 1px solid #004098; } 

 .map_address { font-size: 1.3rem; } 
 .map_address img { width: 32px; } 
 .map_box1 { margin-top: 30px; } 
 .map_box1 .map_bot > * { flex: 1 1 100%; height: 50px; justify-content: center; padding: 0; } 
 .map_box1 .map_link { border: 0 none; border-top: 1px solid #004098; } 
 .find_way_box { flex-wrap:wrap; padding: 20px 10px; margin-top: 30px; height: auto; gap:15px; } 
 .map_target_box { flex: 1 1 100%; margin:0; flex-wrap:wrap; } 
 .map_target_box input { flex: 1; } 
 .map_target_box .search_way_btn { flex: 1 1 100%; } 
 .inner_con_wrap1 .inner_tit_box1 { display: flex; flex: 1 1 100%; border-width: 3px; padding-top: 20px; } 
 .inner_con_wrap1 .inner_tit_box1 .con_tit { font-size: 1.5rem; } 
 .inner_con_wrap1 .inner_tit_box1 .con_tit span { margin-top: 5px; } 
 .inner_con_wrap1 .inner_tit_box1 > img { margin: 0 0 0 20px; max-width: 50px; align-self: center; } 
 .equip_listl li { flex: 1 1 100%; padding:20px; } 
 .equip_listl .equip_img { margin-bottom:20px; height: 180px; } 
 .btn_box1 { margin-top: 40px; } .line_blue_box.notice .left
 
 .con_icon_wrap1 .con_icon_box { margin: 0 15px; } 
 .con_icon_wrap1 .con_icon_box .icon { width: 100px; height: 100px; } 

 .college_terms_box1 { padding: 15px 15px 30px 15px; } 
 .inner_con_tit { font-size: 1.3rem; } 

 .con_list1 > li:before { margin-top:0.6rem; } 
 .con_noti1_tit { font-size: 1rem; } 
 .con_noti1_desc { padding: 1rem; } 

 .college_step_list1 { padding: 15px; overflow-x: auto; } 
 .college_step_list1 > ul { min-width: 700px; } 
 .college_step_list1 .step_box > .step_tit { flex: 0 0 80px; } 
 .college_step_list2 { gap: 2rem; } 
 
 .line_blue_box.notice .left img { zoom: 0.8; }
 .line_blue_box.notice .right { padding: 0 20px 0 30px; }
 }
@media (min-width: 641px) and (max-width: 980px) { } 
@media (max-width:640px){
 .college_wrap2_tit { font-size: 1.8rem; } 
 .college_con_wrap2 :is(h3,h4).con_tit { font-size: 1.6rem; background-position: left 0.4rem; } 
 .con_icon_wrap1 .con_icon_box { display: none; } 
 .con_icon_wrap1 .con_main { margin-left: 10px; } 
 .inner_con_tit:before { margin-left: 10px; } 
 .con_box_list1 { display: flex; flex-wrap:wrap; } 
 .con_box_list1 li { display: flex; width: 100%; flex: 1 1 100%; flex-wrap: wrap; } 
 .con_box_list1 li > * { flex: 1 1 100%; } 
 .con_box_list1 li i { flex: none; margin: 5px 0 0 auto; zoom: 0.6; } 
 .con_box_list1 li:nth-child(even) { margin: 0; } 
 .con_box_list1 > li ~ li { border-top: 0 none; } 
 .college_step_list2 { padding: 2rem 1rem; gap: 1rem; flex-wrap:wrap; } 
 .college_step_list2 .step_tit { margin-bottom:1rem; } 
 .college_step_list2 .step_order { min-height: 50px; } 
 .college_step_list2 .step_order + .step_order { margin-top: 1rem; } 
 .college_step_list2 .step_order + .step_order:after { height: 1rem; } 
 .college_step_list2 .step_order + .step_order:before { box-shadow: 0 0 0 4px rgb(57 134 238 / 10%); margin: 0 0 -10px -9px; } 
 }

 /* 추가 */
 .college_wrap2 .addition_top_title{display: flex;align-items: center;gap:40px;margin-bottom: 1.5rem;}
 .college_wrap2 .addition_top_title img{}
 .college_wrap2 .addition_top_title p{font-size: 1.05rem;line-height: 1.8;}
 ._laserdiv{margin-top: 3rem;}
 ._laserdiv .table_scroll_wrap2 table tr.point_tit td{background:#ffedd0 ;font-weight: 600;}

.example_div{margin: 1rem 0 3rem;}
.example_div > div{border: 1px solid #cad0d8;border-radius: 5px;padding: 2rem 3rem;box-sizing: border-box;margin: 1rem 0;}
.example_div .ul_list{}
.example_div .ul_list li{padding: 3px 0;display: flex;}
.example_div .ul_list li span.title{display: inline-block;font-weight: 600;position: relative;padding:0 0 0 8px;min-width: 78px;}
.example_div .ul_list li span.title::after{content: '';display: block;position: absolute;top:9px;left:0;width: 3px;height: 3px;background: #000;border-radius: 50%;}
.example_div .figure{display: flex;gap: 1rem;margin: 1rem 0;justify-content: space-around;}
.example_div .figure.exa01 > div{flex:1;}
.example_div .figure.exa02 div:nth-child(1){flex:1.5}
.example_div .figure.exa02 div:nth-child(2){flex:1}
.example_div .figure.exa03 div:nth-child(1){flex:2.5}
.example_div .figure.exa03 div:nth-child(2){flex:1}
.example_div .figure div{border: 1px solid #cad0d8;border-radius: 5px;}
.example_div .figure dt{background: #ebf4fd;color:#004098;font-weight: 500;text-align: center;padding: 1em ;border-bottom: 1px solid #cad0d8;}
.example_div .figure dd{padding: 1rem;display: flex;   justify-content: center;}

 @media (max-width:1080px){
    .college_wrap2 .addition_top_title p br{display: none;}
 }
 @media (max-width:960px){
   .example_div > div{padding:2rem;}
   .example_div .figure{flex-direction: column;}
   .example_div .ul_list li span.title{min-width: 70px}
 }
 @media (max-width:600px){
    .college_wrap2 .addition_top_title{gap:20px}
 }