@charset "UTF-8";

/* college */

.txt_blue { color: #004098; }
.txt_orange { color: #ff8500; }
.clear_both:after { content: ''; display: block; clear: both;}
.inner_flex { display: flex; }
.line_blue_box { border: 1px solid #004098; padding: 70px 0; }

/* 의과학연구소 */
.college_wrap2 { color: #000; }
.college_wrap2_tit { font-size: 2rem; font-weight: 700; color: #004098; margin-bottom: 2.5rem;}
.college_wrap2_desc { font-size: 1.75rem; margin-bottom:40px; line-height: 1.6; }
.college_wrap2_desc span { display: inline;}
.college_con_wrap2 + .college_con_wrap2 { margin-top: 3.5rem; }
.college_con_wrap2 :is(h3,h4).con_tit { font-size: 1.75rem; font-weight: 600; background: url(../images/h3_icon.png) no-repeat left center; padding-left: 2.3rem; margin-bottom: 2rem; }
.college_intro2 .main_intro_tit { color: #004098; font-size: 2.25rem; font-family: 'Agaramond'; font-weight: 400;margin:2.5rem 0; }
.college_intro2 .main_intro_tit strong { font-weight: 700; text-transform: uppercase; font-size: 2.625rem; }
.college_intro2 .inner_flex { gap: 5rem; flex-wrap: wrap;}
.college_intro2 .inner_flex > div {flex:1 1 400px; }
.college_intro2 .inner_flex img { margin: 0 auto; display: block;}
.college_intro2 .main_intro_desc { font-size: 1.625rem; line-height: 1.5; margin-bottom: 30px;  }
.college_intro2 .sub_intro_desc { font-weight: 200; font-size: 1.06rem; line-height: 2; }
.college_intro2 .sub_intro_desc + .sub_intro_desc { margin-top: 1.8rem; }
.college_wrap2 .full_img { margin-top: 7.5rem; }
.college_wrap2 .feature_box { display: flex; flex-wrap: wrap; margin-top: 3.75rem; border:1px solid #004098; }
.college_wrap2 .feature_box .feature_item { flex: 1; padding: 2rem; }
.college_wrap2 .feature_box .feature_item + .feature_item { border-left: 1px solid #004098; }
.college_wrap2 .feature_box .feature_item_tit {  text-align: center; font-size: 1.5rem; font-weight: 700; margin-top:2rem; }
.college_wrap2 .feature_box .feature_item_img { margin: 1.5rem auto 2.5rem auto; display: block;}
.college_wrap2 .feature_box .feature_bottom { display: flex; flex: 1 1 100%; align-items: center; justify-content: center; color: #fff; background: #004098; min-height: 125px; font-family: 'Agaramond'; font-weight: 700; font-size: 2.5rem; }
.college_wrap2 .num_list2 { font-weight: 200; }
.college_wrap2 .num_list2 li { display: flex; width: 100%; gap: 10px; }
.college_wrap2 .num_list2 li + li { margin-top: 10px;}
.college_wrap2 .num_list2 .list_num { display: inline-flex; align-items: center; justify-content: center; flex: 0 0 26px; border-radius: 50%; width: 26px; height: 26px; color: #fff; background: #004098;}
.college_wrap2 .feature_gray_box { background: #fafafa; border:1px solid #d7e0e9; border-radius: 6px; font-weight: 200; text-align: center; padding:15px; line-height: 2; }
.college_con_wrap2 .gray_box { background: #fafafa; border:1px solid #dadce0; padding: 35px 20px; }

.organ2 .organ_head { position: relative; width: fit-content; height: 84px; display: flex; align-items: center; justify-content: center; padding: 0 55px; font-size: 1.375rem; font-weight: 500; color: #fff; background: #004098; outline:1px dashed #004098; box-shadow: inset 0 0 0 10px #fff; margin:0 auto;}
.organ2 .organ_head:after { content: ''; display: block; position:absolute; top:100%; margin-top:-5px; border-radius: 50%; background: #004098; width: 9px; height: 9px; }
.organ2 :is(.organ_group1, .organ_group2) { display: flex; align-items: start;}
.organ2 :is(.organ_group1, .organ_group2) > li > p { display: flex; align-items: center; justify-content: center; background: #ffa415; font-weight: 500; color: #fff; font-size: 1.06rem;height: 48px; box-sizing: border-box;  text-align: center; margin: auto; } 
.organ2 .organ_group1 > li { flex: 1 1 50%; }
.organ2 .organ_group1 > li > p { width: fit-content; margin: 0 auto; padding:0 45px;   }
.organ2 .organ_group2 { gap: 15px; }
.organ2 .organ_group2 > li > p { background: #004098; width: 204px; position: relative;}
.organ2 .organ_group2 > li > p:after { content: ''; display: block; position:absolute; bottom:100%; margin-bottom: 37px; border-radius: 50%; background: #004098; width: 9px; height: 9px; }
.organ2 .organ_group2 ul p { display: flex; align-items: center; justify-content: center; border: 1px solid #004098; width: 126px; min-height: 48px; color: #004098;  text-align: center; font-weight: 500; box-sizing: border-box; padding: 12px 0; background: #fff; }
.organ2 .organ_group2_1 { display: flex; justify-content: center; gap: 10px; padding-top:45px;  }
.organ2 .organ_group2_1 ul { display: flex; padding-top: 30px; gap: 10px; }


.table_scroll_wrap table { min-width: 100%; font-size: 1.07rem; color: #000; }
.table_scroll_wrap table th { font-weight: 500; white-space: nowrap; padding: 0 0.5rem; }
.table_scroll_wrap table :is(th, td) { text-align: center; height: 55px; border-right: 1px solid #dadfe7; border-bottom: 1px solid #dadfe7; line-height: 1.6;}
.table_scroll_wrap table :is(th:last-child, td:last-child){ border-right: 0 none;}
.table_scroll_wrap table tr:last-child td { border-bottom: 0 none;}
.table_scroll_wrap thead th { background: #f8fbfe; color: #011e46;}
.table_scroll_wrap tbody th { background: #f2f7fd; color: #004098; }
.table_scroll_wrap table td { padding: 0.7rem 1rem;}
.table_inner_list { min-width: 300px; text-align: left; padding-left:0.5rem; font-size: 1.07rem;}
.table_inner_list dt { font-weight: 500;}
.table_inner_list dd { font-weight: 200;}

.college_con_wrap2 .table_scroll_wrap:not(:first-child) { margin:0; }
.college_con_wrap2 .table_scroll_wrap { border-color:#004098; }
/* .college_con_wrap2 .table_scroll_wrap table td { padding: 10px 5px; height: 35px; } */
.college_con_wrap2 .table_scroll_wrap table thead th { border-bottom-color: #004098; }
.college_con_wrap2 .table_scroll_wrap table th { color: #004098; background: #ebf4fc; }

.map_address { font-size: 1.75rem; font-weight: 500; text-align: center;}
.map_address img { margin-right:5px;}
.map_box1 { border:1px solid #004098; margin-top: 50px; }
.map_box1 .map_bot { display: flex;  flex-wrap:wrap; border-top: 1px solid #004098; align-items: center;}
.map_box1 .map_bot > * { height: 70px; }
.map_box1 .map_tel { display: flex; align-items: center; padding-left: 55px; flex: 1; color: #004098; gap: 15px; font-size: 1.06rem;  } 
.map_box1 .map_link { display: flex; align-items: center; justify-content: center; flex: 0 0 390px; border-left: 1px solid #004098;}
.map_box1 .map_link a { font-size: 1.06rem; position: relative; }
.map_box1 .map_link a + a { margin-left: 40px; }
.map_box1 .map_link a + a:before { content: ''; display: block; position:absolute; height: 19px; width: 1px; background: #004098; left: -20px; 
  top: 4px; }

.find_way_box { display: flex; background: #f7f9fb; height: 100px; justify-content: center; align-items: center; margin-top:50px; font-size:1rem; color:#000; gap: 5px; padding: 0 20px; }
.map_target_box { display: flex; gap: 7px; align-items: center; margin-left: 15px; }
.map_target_box .change_target { font-size:0; line-height: 0; background: url(../images/sub01_03_01_icon05.png) 0 0 / contain no-repeat ; width: 33px; height: 31px; }
.map_target_box input { flex: 0 1 200px; border:1px solid #d4d5d7; padding-left: 40px; color: #000; }
.map_target_box input::placeholder { color: #000; opacity: 1; }
.map_target_box .map_target1 { background: url(../images/icon_depart1.png) 17px center / auto no-repeat #fff; }
.map_target_box .map_target2{ background: url(../images/icon_arrival1.png) 17px center / auto no-repeat #fff; }
.map_target_box .search_way_btn { background: #004098; color: #fff; height: 47px; font-size: 1rem; width: 143px;  }

.inner_con_wrap1 { display: flex; flex-wrap: wrap; gap: 30px; }
.inner_con_wrap1 + .inner_con_wrap1 { margin-top: 30px;}
.inner_con_wrap1 .inner_tit_box1 { width: 180px; border-top: 6px solid #004098; padding-top: 30px;}
.inner_con_wrap1 .inner_tit_box1 .con_tit { font-size: 1.8rem; font-weight: 500; }
.inner_con_wrap1 .inner_tit_box1 .con_tit span { color: #004098; font-size: 1rem; display: block; font-weight: 300;}
.inner_con_wrap1 .inner_tit_box1 > img { margin-top: 40px;  }
.inner_con_wrap1 .inner_con_box1 { flex: 1; }
.inner_con_wrap1 .table_scroll_wrap:first-child { margin-top: 0; }

.college_wrap2 .traffic_info td { padding: 15px 30px; line-height: 2;}

.equip_listl { display: flex; flex-wrap: wrap; gap: 45px; }
.equip_listl li { border:1px solid #cad0d8; padding:45px 42px; flex: 0 1 calc(50% - 25px); box-sizing: border-box; }
.equip_listl .equip_img { background: #ebf4fc; display: flex; align-items: center; justify-content: center; height: 230px; margin-bottom: 28px; }
.equip_listl .equip_img img { max-height: 85%;}
.equip_listl .equip_name { font-family: 'Agaramond'; font-weight: 700; font-size: 1.625rem; margin-bottom: 20px; position: relative; padding-top:17px;}
.equip_listl .equip_name:before { content: ''; position: absolute; display: block; left: 0; top:0; width: 27px; height: 4px; border-radius: 4px; background: #004098; }
.equip_listl .equip_info { display: flex; gap: 5px; background: #fafafa; border:1px solid #d7e0e9; border-radius:5px;  padding: 15px 25px; margin-top: 8px;  }
.equip_listl .equip_info span { color: #004098; font-weight: 500;}
.btn_box1 { margin-top: 75px; text-align: center; }
.btn_download1 { display: inline-flex; align-items: center; padding:0 100px; height: 86px; background: #004098; color: #fff !important; border-radius:0 43px 0 43px; box-shadow: 7px 7px 14px 0 rgba(0,30,69,0.25); font-size: 1.19rem; font-weight: 700; transition: 0.3s; }
.btn_download1:hover { transform: translateY(-2px); box-shadow: 0px 0px 20px 0 rgba(0,30,69,0.3); }

.circle-list1 { display: flex; align-items: center; justify-content: center; gap: 50px; flex-wrap:wrap; }
.circle-list1 li { display: flex; align-items: center; justify-content: center; width: 118px; height: 118px; border-radius: 50%; border: 6px solid #b9bec2; border-radius: 50%; position: relative; text-align: center; font-weight: 500; box-sizing: border-box;}
.circle-list1 li + li:before { content: ''; display: block; position: absolute; z-index: 0; height: 0; width: 50px; border-top:2px dotted #a7aeb4; right: 100%; margin-right: 3px;}
.circle-list1 li + li:after { content: ''; display: block; position: absolute; left: -15px; z-index: 1; width: 20px; height: 20px; background: #a7aeb4 url(../images/icon_arrow_half1.png) center no-repeat; border-radius: 50%; border:1px solid #fff;} 
.circle-list1 li.on { color: #004098; border-color:#004098  }
.circle-list1 li.on:after { background-color:#004098; border-color:#000;}

@media (min-width:901px) { 
  .medi_science_map { background: url(../images/sub01_02_bg01.png) no-repeat 64px 80px; width: 1060px; height: 510px; position: relative; margin:0 auto; }
  .medi_science_map p { position: absolute !important; }
  .medi_science_map .organ_head { position: absolute; left: 396px; }
  .medi_science_map .organ_group1 li > p{ top: 130px;}
  .medi_science_map .organ_group1 li:first-child > p { left: 267px;}
  .medi_science_map .organ_group1 li:last-child > p { left: 688px;}
  .medi_science_map .organ_group2 > li > p { top: 265px}
  .medi_science_map .organ_group2 > li:nth-child(1) > p { left: 99px;}
  .medi_science_map .organ_group2 > li:nth-child(2) > p { left: 418px;}
  .medi_science_map .organ_group2 > li:nth-child(3) > p { left: 638px;}
  .medi_science_map .organ_group2 > li:nth-child(4) > p { left: 856px;}
  .medi_science_map .organ_group2 > li > .organ_group2_1 > li > p { bottom: 105px; }
  .medi_science_map .organ_group2 > li:nth-child(1) > .organ_group2_1 > li:nth-child(1) > p { left: 0px; }
  .medi_science_map .organ_group2 > li:nth-child(1) > .organ_group2_1 > li:nth-child(2) > p { left: 136px;}
  .medi_science_map .organ_group2 > li:nth-child(1) > .organ_group2_1 > li:nth-child(3) > p { left: 272px;}
  .medi_science_map .organ_group2 > li:nth-child(1) > .organ_group2_1 > li:nth-child(1) > ul li:nth-child(1) > p { bottom:0; left: 0; }
  .medi_science_map .organ_group2 > li:nth-child(2) > .organ_group2_1 > li:nth-child(1) > p { left: 456px; }
  .medi_science_map .organ_group2 > li:nth-child(3) > .organ_group2_1 > li:nth-child(1) > p { left: 609px; }
  .medi_science_map .organ_group2 > li:nth-child(3) > .organ_group2_1 > li:nth-child(2) > p { left: 745px; }
  .medi_science_map .organ_group2 > li:nth-child(4) > .organ_group2_1 > li:nth-child(1) > p { left: 896px; }
  
}

@media ( max-width:1200px){  
  .medi_science_map { zoom: 0.9; }

}
@media (max-width:1100px){ 
  .medi_science_map { zoom: 0.85; }
}
@media (max-width: 1000px){ 
  .medi_science_map { zoom: 0.75; }
  .equip_listl { gap: 30px; }
  .equip_listl li { padding: 30px; }
  .equip_listl .equip_img { height: 150px; }
  
}
@media (max-width: 900px){ 
  .medi_science_map { zoom: 1; }
  .medi_science_map li > p { position: relative; z-index: 1;}
  .medi_science_map .organ_group1 { justify-content: center; position: relative; padding: 30px 20px 20px 20px; gap: 50px; }
  .medi_science_map .organ_group1:after { content:''; position: absolute; display: block; left: 50%; top:0; bottom:0; width: 1px; background: #004098; margin-left: -1px; ;}
  .medi_science_map .organ_group1:before { content:''; position: absolute; display: block; top: 50%; left: 30%; right:30%; height: 1px; background: #004098; z-index: 0;}
  .medi_science_map .organ_group1 > li { max-width: 250px;}
  .medi_science_map .organ_group1 > li > p { width: 100%; padding: 0 5px; }
  .medi_science_map .organ_group2 { flex-wrap:wrap; position: relative; padding: 15px 20px 0 60px; max-width: 600px; margin:0 auto; }
  .medi_science_map .organ_group2:before { content:''; position: absolute; display: block; top:0; height: 1px; background: #004098; left: 35px; right:50%; }
  .medi_science_map .organ_group2 > li { flex: 1 1 100%; position: relative;}
  .medi_science_map .organ_group2 li:after { content:''; position: absolute; display: block; height: 1px; background: #004098; z-index: 0; top: 20px; left: -25px; width: 25px;}
  
  .medi_science_map .organ_group2 li:before { content:''; position: absolute; display: block; top:-15px; bottom:0; width: 1px; background: #004098; left: -25px;}
  .medi_science_map .organ_group2 li:last-child:before { bottom: unset; height: 36px;}
  .medi_science_map .organ_group2 > li > p { width: 35%; min-width: 150px; margin: 0; }
  .medi_science_map .organ_group2 > li > p:after { content: ''; display: block; position:absolute; left: -29px;top:50%; margin:-8px 0 0 0; border-radius: 50%; background: #004098; width: 9px; height: 9px; }
  .medi_science_map .organ_group2_1 { flex-wrap: wrap; padding:15px 0 0 30px; }
  .medi_science_map .organ_group2_1 li { position: relative; display: flex; flex-wrap: wrap; flex: 1 1 100%; }
  .medi_science_map .organ_group2_1 li:before { left: -15px;  } 
  .medi_science_map .organ_group2_1 li:after { width: 15px; left: -15px;}
  .medi_science_map .organ_group2_1 ul { padding: 15px 0 0 30px; flex-wrap:wrap; flex: 1 1 100%; }
  
  .medi_science_map .organ_group2 ul p { width: 35%; min-width: 150px; }
  .medi_science_map .organ_group2 ul br { display: none;}
  .btn_download1 { padding: 0 30px; min-width: 30%; justify-content: center; }
  .circle-list1 { gap: 10px 30px; }
  .circle-list1 li + li:before { width: 30px ; }
}


@media (max-width:980px){ 
  .pc_map { display: none;  }
  .mobile_map { display: block; }
  
}
@media (max-width:800px){

  .college_intro2 .main_intro_tit { font-size: 1.8rem; margin:1.5rem 0; }
  .college_intro2 .main_intro_desc { font-size: 1.5rem; }
  .college_wrap2 .full_img { margin-top:3rem; }
  .college_wrap2 .feature_box.type2 .feature_item { flex: 1 1 100%; }
  .college_wrap2 .feature_box .feature_item_tit { margin-top:0; }
  .college_wrap2 .num_list2 li { gap: 5px; }
  .college_wrap2 .num_list2 .list_num { font-size:0.8rem; width: 24px; height: 24px; flex: 0 0 24px; }
  .college_wrap2 .feature_box .feature_bottom { font-size: 2rem; padding: 30px 20px; min-height: auto; text-align: center;}
  .college_wrap2 .feature_box .feature_item + .feature_item { border: 0 none; border-top: 1px solid #004098;}

  .map_address { font-size: 1.3rem; }
  .map_address img { width: 32px;}
  .map_box1 { margin-top: 30px; }
  .map_box1 .map_bot > * { flex: 1 1 100%; height: 50px; justify-content: center; padding: 0;}
  .map_box1 .map_link { border: 0 none; border-top: 1px solid #004098; }
  .find_way_box { flex-wrap:wrap; padding: 20px 10px; margin-top: 30px; height: auto; gap:15px;  }
  .map_target_box { flex: 1 1 100%; margin:0; flex-wrap:wrap; }
  .map_target_box input { flex: 1;}
  .map_target_box .search_way_btn { flex: 1 1 100%; }
  .inner_con_wrap1 {}
  .inner_con_wrap1 .inner_tit_box1 { display: flex; flex: 1 1 100%; border-width: 3px; padding-top: 20px; }
  .inner_con_wrap1 .inner_tit_box1 .con_tit { font-size: 1.5rem; }
  .inner_con_wrap1 .inner_tit_box1 .con_tit span { margin-top: 5px;}
  .inner_con_wrap1 .inner_tit_box1 > img { margin: 0 0 0 20px; max-width: 50px; align-self: center;}
  .equip_listl li { flex: 1 1 100%; padding:20px; }
  .equip_listl .equip_img { margin-bottom:20px; height: 180px;}
}  
@media (min-width: 641px) and (max-width: 980px) {
}
@media (max-width:640px){ 
}