@charset "UTF-8";

/* biomed */
article{font-size:1.05rem;}
.txt_black { color: #000; }
.txt_blue { color: #004098; }
.txt_orange { color: #ff8500; }
.clear_both:after { content: ''; display: block; clear: both;}
.inner_flex { display: flex; }

.font_17px{font-size: 1.05rem;}
.font_18px{font-size: 1.125rem;}
.font_20px{font-size: 1.25rem;}
.font_24px{font-size: 1.5rem;}
.font_28px{font-size: 1.75rem;}
.bold_txt{font-weight: bold;}
.mt_1rem{margin-top: 1rem;}
.mt_2rem{margin-top: 2rem;}

h3.title{    font-size: 2rem;font-weight: 700;color: #004098;margin-bottom: 2rem;}
.h4_title{font-size: 1.75rem;line-height: 1.5;}    
.h5_title{line-height: 1.5;font-size: 1.5rem}  
.h_title{font-size: 1.75rem !important;color: #000 !important;line-height: 1.5;background: url('../images/sph/h_title_icon.png') no-repeat left 12px;padding-left: 30px;font-weight: 600;}  
.cont_font01{ font-size: 1.06rem;    line-height: 2;}
.gmarkt{ font-family: 'Gmarket';}
.montserrat{font-family: 'Montserrat', sans-serif;}
.agaramond{ font-family: 'Agaramond';}
.contents_bule{background: #004098;color:#fff;font-size: 1.25rem;line-height: 2.5rem;text-align: center;padding: 1.5rem 1rem;margin:2rem 0}
.icon_tel{display: inline-block;background: url('../images/sph/icon_tel1.png') no-repeat left 8px;padding:5px 0 5px 30px;}
.icon_fax{display: inline-block;background: url('../images/sph/icon_fax.png') no-repeat left 8px;padding:5px 0 5px 30px;}
.icon_mail{display: inline-block;background: url('../images/sph/icon_mail.png') no-repeat left 8px;padding:5px 0 5px 30px;}

.menu_tabs_01{display: flex;margin: 3rem 0;}
.menu_tabs_01 li{width: 33.3%;margin-left: -1px;}
.menu_tabs_01.half li{width: 50%;margin-left: 0px;}
.menu_tabs_01 li a{display: block;border: 1px solid #001e45;font-size: 1.125rem;text-align: center;padding: .6em;}
.menu_tabs_01 li.on a{background: #001e45;color: #fff;}

.list_contents01{margin: 3rem 0;}
.list_contents01 dd{position: relative;padding: 6px 5px 6px 40px;}
.list_contents01 dd:after{background: #000;width: 4px;height: 4px;border-radius: 50%;display: block;content:'';position: absolute;top:15px;left:30px}
.list_contents0{}
.list_contents02 li{position: relative;padding: 6px 5px 6px 25px;display: block;box-sizing: border-box;}
.list_contents02 li:after{background: #004098;width: 4px;height: 4px;border-radius: 50%;display: block;content:'';position: absolute;top:15px;left:15px}
.list_contents03 li{padding: 5px 2px 5px 2px;display: block;}
.list_contents03 li::before{display:inline-block;content:'-';padding-right: 5px;}
.list_title01{position: relative;padding: 6px 5px 6px 25px;display: block;box-sizing: border-box;}
.list_title01:after{background: #004098;width: 5px;height: 5px;border-radius: 50%;display: block;content:'';position: absolute;top:15px;left:15px}

.table_style01{border-bottom: 1px solid #004098 ;}
.table_style01 table{width: 100%;border-top: 2px solid #004098;}
.table_style01 table th{background:#e7f2fb;border-bottom: 1px solid #004098;color: #004098;border-right: 1px solid #dadfe7;font-size 17px;padding: 15px 10px;box-sizing: border-box;}
.table_style01 table td{border-bottom: 1px solid #dadee7;border-right: 1px solid #dadfe7;padding: 1rem;text-align: center;}
.table_style01 table td.left{text-align: left;}
.table_style01 table th:last-child, .table_style01 table tr td:last-child{border-right:0}
.table_style01 table th.line01, .table_style01 table td.line01{border-right: 1px solid #dadfe7 !important;}
.table_style01 table th.line02{border-bottom: 1px solid #dadfe7 !important;}
.table_style01 table td.desline{background:repeating-linear-gradient(45deg, #fff 4px, #fff 4px, #ffffff 7px, #efefef 10px);}
.table_style01 table .last_total td{background: #f7f7f7;}

.table_styleX01{border-bottom: 1px solid #004098 ;}
.table_styleX01 table{width: 100%;border-top: 2px solid #004098;}
.table_styleX01 table th{background:#e7f2fb;border-bottom: 1px solid #dadee7;color: #004098;border-right: 1px solid #dadfe7;font-size 17px;padding: 15px 10px;box-sizing: border-box;text-align: center;}
.table_styleX01 table td{border-bottom: 1px solid #dadee7;border-right: 1px solid #dadfe7;padding: 1rem;text-align: center;}
.table_styleX01 table th:last-child, .table_styleX01 table tr td:last-child{border-right:0}

@media (max-width:960px) { 
    .m_br{display: none;}
    .m_scroll_b{overflow-x: auto;}
    
}


    /* 인사말 */
    .sph_wrap{ color: #000;font-size: 1.0625rem;}
    .greeting_div01{margin-bottom:5rem;}
    .greeting_div01 > div .h4_title{letter-spacing: -1px; margin: 2rem 0;}
    .greeting_div01 > div .h5_title{letter-spacing: -1px; margin: 3rem 0 1rem;}
    .greeting_div01 .photo{    position: relative; float: right; margin-left: 3em;}
    .greeting_div01 .contDiv{ font-size: 1.06rem;    line-height: 2;}
    .greeting_div01 .contDiv p{margin-top: 1.5rem;}
    .greeting_div01 > div p span.eng{display: inline;font-size: 2.375rem;}
    .greeting_div02 .ul_list{display: flex;margin-left: 1px;}
    .greeting_div02 .ul_list li{border: 1px solid #004098;padding: 2rem;    flex: 1;margin-left: -1px;box-sizing: border-box;}
    .greeting_div02 .ul_list li > div{text-align: center;margin-top: 1rem;}
    .greeting_div02 .img_single{text-align: center;}
    .greeting_div02 .ul_list li > div span{display:block;color: #004098;padding: 1rem 0;}
    .greeting_div02  .txtbox01{background: #004098;color: #fff;text-align: center;font-size: 1.25rem;padding:2rem 1rem;}
    .greeting_div02  .line{border-top:1px solid #004098 ;}
    .greeting_div02  .txtbox02 > p{position: relative;text-align: center;}
    .greeting_div02  .txtbox02 > p::after{display: block;content:'';position: absolute;top:0;left:50%;transform: rotateX('-50%');}
    .greeting_div02  .txtbox02 .txt01{font-family: 'Agaramond';font-size: 2.5rem;color: #004098;font-weight: 600;padding-top: 80px;}
    .greeting_div02  .txtbox02 .txt01::after{width: 1px;height: 65px;background: #004098;}
    .greeting_div02  .txtbox02 .txt02{font-size: 1.25rem;;color: #004098;padding-top: 30px;margin-top: 20px;}
    .greeting_div02  .txtbox02 .txt02::after{background: #004098;width: 10px;height: 10px;border-radius: 50%;;}

    @media (max-width:1200px) { 
        .greeting_div01 .photo{float: none;margin-left: 0;width: 100%;text-align: center;}
        .greeting_div01 .photo img{max-width: 70%;}
        .greeting_div01 .h4_title span{display: inline;}
    }
    @media (max-width:680px) { 
        .greeting_div01 .photo img{max-width: 100%;}
        .greeting_div02 .ul_list{flex-wrap: wrap;flex-direction: row;}
        .greeting_div02 .ul_list li{margin-bottom: -1px;flex: 1 50%}
        .greeting_div01 > div p span.eng{font-size:2rem}
        .greeting_div02 .txtbox01{font-size: 1.15rem;}
    }
    

  /* 연혁 */
  .sph_history{display: flex;}
  .sph_history .history_ttle{width: 230px;color: #004098;flex: 0.25;}
  .sph_history .history_ttle p{font-size: 3rem;font-weight: 700;}
  .sph_history .history_ttle span{font-size: 1.875rem;font-weight: 700;line-height: 1;margin: 2rem 0 2rem 0;display: block;}
  .sph_history .history_list {background: url('../images/sph/sub01_03_line_y.png') repeat-y left;flex: 0.85}
  .sph_history .history_list dl{position: relative;padding-left: 95px;box-sizing: border-box;margin-bottom: 3rem;}
  .sph_history .history_list dl:after{position: absolute;top:15px;left:0;display: block;content: '';width:83px;height:13px;background: url('../images/sph/sub01_03_line.png')  no-repeat ;}
  .sph_history .history_list dt{position: relative;font-size: 2.375rem;color: #004098;}
  .sph_history .history_list dl.first:before{position: absolute;top:0;left:4px;display: block;content: '';width:5px;height:15px;background: #fff;}
  .sph_history .history_list dl.last{margin-bottom: 0;}
  .sph_history .history_list dl.last:before{position: absolute;bottom:0;left:4px;display: block;content: '';width:5px;height:calc(100% - 20px);background: #fff;}
  .sph_history .history_list dd{padding: 5px 0;display: block;}
  .sph_history .history_list dd span{font-weight: 500;margin-right: 10px;}
  .sph_history .history_list dd.photo{padding:20px 0}
  @media (max-width:1160px) { 
      .sph_history{flex-direction: column;}
      .sph_history .history_ttle{width: auto;}
      .sph_history .history_ttle span {margin: 0;}
      .sph_history .history_ttle span br{display: none;}
      .sph_history .history_list dl{padding-left: 30px;}
      .sph_history .history_list dl:after{width: 20px;}
  }


  /* 교학팀 */
.sph_div01_04{border-top: 2px solid #004098;border-bottom: 1px solid #004098;display: flex;}
.sph_div01_04 .__list {flex: 1;display: flex;align-items: center}
.sph_div01_04 .__list > p{flex: 1;}
.sph_div01_04 .__list  > div{flex:1}
.sph_div01_04 .__list > div >  dl > dt{display: block;color: #004098;padding: 10px 0;}
.sph_div01_04 .__list > div >  dl > dt span{font-size: 24px;font-weight: 600;}
.sph_div01_04 .__list > div >  dl > dd{display: block;font-weight: 600;}
.sph_div01_04 .__list > div >  dl > dd:nth-child(2){margin-bottom: 1.5rem;}
@media (max-width:1080px) {
   .sph_div01_04{flex-direction: column}
   .sph_div01_04 .__list > div{flex: 2;padding-left: 20px;}
   .sph_div01_04 .__list:first-child{border-bottom: 1px solid #ccc;} 
}




    /* 교육목표 */
 
    .vision_div01 {}
    .vision_div01 .title_a{color: #004098;font-weight: 500;text-align: center;background: url('../images/sph/sub03_01_icon01.png') no-repeat center bottom;height:300px; }
    .vision_div01 .title_a ul{}
    .vision_div01 .title_a ul li{display: block;}
    .vision_div01 .title_a ul li.montserrat{font-size: 22px;}
    .vision_div01 .title_a ul li span{font-size: 3rem;font-weight: 800;}
    .vision_div01 .title_a ul li strong{font-size:28px;letter-spacing: -1px;display: inline-block;padding: 0 20px;color: #000;    vertical-align: super;margin: 2rem 0;}
    .vision_div01 .cont_box{}
    .vision_div01 .cont_box .top_title{position: relative;padding-bottom: 50px;}
    .vision_div01 .cont_box .top_title::after{content: '';display: block;width: 7px;height: 54px;background: url('../images/sph/sub03_01_line.png') no-repeat center bottom;
        position: absolute;bottom:-4px;left: 50%;transform: translateX(-50%);}
    .vision_div01 .cont_box .top_title > div{background: url('../images/sph/sub03_01_img01.png') no-repeat center bottom;height: 370px;}
    .vision_div01 .cont_box .top_title  p{width: 225px;color: #fff;text-align: center;margin: 0 auto;padding-top: 175px;}
    .vision_div01 .cont_box .top_title .txt01{font-weight: 400;font-size: 1.0625rem;text-transform:uppercase ;margin-bottom: 10px;}
    .vision_div01 .cont_box .top_title .txt02{font-weight: 700;font-size: 2rem;}
    .vision_div01 .cont_box .list_ul {padding-top:80px;}
    .vision_div01 .cont_box .list_ul ul{display: flex;}
    .vision_div01 .cont_box .list_ul li{position: relative;;border: 1px solid #004098;width: 33%;margin-left: -1px;padding: 2.5rem 1rem}
    .vision_div01 .cont_box .list_ul li::after{content: '';display: block;width: 1px;height: 50px;background: #004098;position: absolute;top:-80px;left: 50%;transform: translateX(-50%);}
    .vision_div01 .cont_box .list_ul li::before{content: '';display: block;width:100%;height: 1px;background: #004098;position: absolute;top:-80px;}
    .vision_div01 .cont_box .list_ul li:first-child:before{left:50%}
    .vision_div01 .cont_box .list_ul li:last-child:before{right:50%}
    .vision_div01 .cont_box .list_ul li > p{position: absolute;top:-30px;left: 50%;transform: translateX(-50%);}
    .vision_div01 .cont_box .list_ul li dl{}
    .vision_div01 .cont_box .list_ul li dt{font-size: 1.125rem;text-align: center;}
    .vision_div01 .cont_box .list_ul li dd{color: #004098;text-align: center;display: block;margin:10px 0}
    .vision_div01 .cont_box .point_txt{text-transform:uppercase ;font-weight: 700;font-size: 2.375rem;text-align: center;margin-top: 2rem;color: #004098;}
    .vision_div01 .cont_box .point_txt em{color: #ffa415;}

    @media (max-width:980px) {
        .vision_div01 .contents_bule br{display: none;}
        .vision_div01 .cont_box .top_title > div{background-size: auto 90%;height: 320px;}
        .vision_div01 .cont_box .top_title p{padding-top: 165px;}
        .vision_div01 .cont_box .top_title .txt02{font-size: 1.6rem;}
        .vision_div01 .cont_box .list_ul{padding-top:33px}
        .vision_div01 .cont_box .list_ul ul{flex-direction: column;gap:50px}
        .vision_div01 .cont_box .list_ul li{width: 100%;box-sizing: border-box;padding: 2.5rem 1rem 1rem 1rem}
        .vision_div01 .cont_box .list_ul li::before{display: none;}
        .vision_div01 .cont_box .list_ul li::after{top:-50px;height: 30px;}
        .vision_div01 .cont_box .list_ul li:first-child:after{display: none;}
    }

    /* 선택 */
    .sph_select{}
    .sph_select > section{display: flex;justify-content: space-between;margin-bottom: 5rem;}
    .sph_select > section > div{}
    .sph_select > section .title span{width: 180px;border-top: 6px solid #004098;display: block;}
    .sph_select > section .title p.han{font-size: 28px;padding: 1.3rem 0 0.5rem ;letter-spacing: -1px;}
    .sph_select > section .title p.agaramond{font-size: 38px;line-height: 1;}
    .sph_select > section .contents{width: 745px;}
    .sph_select > section .contents .txt{line-height: 1.8;margin-bottom:1rem;}

        @media (max-width:1120px) {
            .sph_select > section{flex-direction: column;}
            .sph_select > section .title p.agaramond{font-size: 2rem;}
            .sph_select > section .title p.agaramond br{display: none;}
            .sph_select > section .contents, .sph_select > section .contents img{width: 100%;}
    }

 /* 논문 */
.sph_div02_01{}
.sph_div02_01 h4{margin: 1.5rem 0;}
.sph_div02_01 ul{margin-bottom: 4rem;}
.sph_div02_01 li{display: flex;margin-bottom: 20px;}
.sph_div02_01 li > p{flex: 1;}
.sph_div02_01 li > dl{flex: 6;}
.sph_div02_01 li > dl dt{color: #004098;font-size: 24px;font-weight: 500;padding: 3px 5px 6px 30px}
.sph_div02_01 li > dl dd{padding:10px 30px;line-height: 1.7;display: block;}
.sph_div02_01.__style02 li > dl dd{padding: 5px 30px}

.sph_div02_01 .numbering_list01{margin-bottom: 0;margin-top: -10px;}
.numbering_list01 li{display: block;margin-bottom: 0;padding: 5px 0 5px 30px;line-height: 1.5;}
.numbering_list01 li span{background: #004098;width: 25px;height: 25px;line-height: 25px;border-radius: 50%;color: #fff;text-align: center;margin:0 5px 0 -30px;}
.numbering_list01 strong{color: #000;}
.sph_div02_01 .comment_div1{border: 1px solid #004098;padding: 10px 20px;}
.sph_div02_01 .comment_div1 p{color: #004098;font-weight: 200;background: url('../images/sph/sub05_04_02_icon01.png') no-repeat left 5px;padding-left: 22px;font-size: 16px;}
.sph_div02_01 .etc_title{padding: 1rem 0;font-weight: 600;}
.sph_div02_01 .etc_txt01{color: #004098;text-decoration: underline;}
.sph_div02_01 .etc_txt02{margin-bottom: 10px;}

@media (max-width:780px) {
   .sph_div02_01 li > dl dt{font-size: 20px;padding: 5px 5px 6px 25px}
   .sph_div02_01 li > p img{width: 90px;max-width: none;}
}

   
    .circle-list1 { display: flex; align-items: center;  gap: 50px; flex-wrap:wrap; }
    .circle-list1 li { display: flex; align-items: center; justify-content: center; min-width: 118px; height: 118px; background: #fff;border-radius: 60px; line-height: 1.2;border: 6px solid #b9bec2; position: relative; text-align: center; font-weight: 500; box-sizing: border-box; padding:0 10px; flex-wrap:wrap; flex-direction: column; gap: 5px;margin-bottom: 0;}
    .circle-list1 li + li:before { content: ''; display: block; position: absolute; z-index: 0; height: 0; width: 50px; border-top:2px dotted #a7aeb4; right: 100%; margin-right: 3px;}
    .circle-list1 li + li:after { content: ''; display: block; position: absolute; left: -15px; z-index: 1; width: 20px; height: 20px; background: #a7aeb4 url(../images/sph/icon_arrow_half1.png) center no-repeat; border-radius: 50%; border:1px solid #fff;} 
    .circle-list1 li.on { color: #004098; border-color:#004098  }
    .circle-list1 li.on:after { background-color:#004098; border-color:#000;}
    .circle-list1 li.type2 { padding: 0 20px; }
    .circle-list1 .txt_mini { font-size: 0.8rem; color: #000; font-weight: 500; line-height: 1.2; }
    
    @media (max-width: 900px){ 
        .circle-list1 { gap: 10px 30px; }
        .circle-list1 li + li:before { width: 30px ; }
        
    }

.sph_div02_02 ul{margin-bottom: 1rem;}
.sph_div02_02 li{display: flex;}
.sph_div02_02 li > p{flex: 1;}
.sph_div02_02 li > ul{flex: 6;}

@media (max-width:780px) {
   
    .sph_div02_02 li > p img{width: 90px;max-width: none;}
    .sph_div02_02 li > .list_contents02 li{flex-direction: column;}
 }
 