@charset "UTF-8";

/* Noto Sans Korean */
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Korean Thin');
  src: url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),     
  url(../fonts/NotoSansKR-Thin.woff) format('woff'),
  url(../fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200;
  src: local('Noto Sans Korean Light');
  src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
  url(../fonts/NotoSansKR-Light.woff) format('woff'),
  url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Korean DemiLight');
  src: url(../fonts/NotoSansKR-DemiLight.woff2) format('woff2'),
  url(../fonts/NotoSansKR-DemiLight.woff) format('woff'),
  url(../fonts/NotoSansKR-DemiLight.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Korean Regular');
  src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
  url(../fonts/NotoSansKR-Regular.woff) format('woff'),
  url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Korean Medium');
  src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
  url(../fonts/NotoSansKR-Medium.woff) format('woff'),
  url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Korean bold');
  src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
  url(../fonts/NotoSansKR-Bold.woff) format('woff'),
  url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Korean black');
  src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
  url(../fonts/NotoSansKR-Black.woff) format('woff'),
  url(../fonts/NotoSansKR-Black.otf) format('opentype');
}



/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light');
  src: url(../fonts/Roboto-Light.woff2) format('woff2'),
  url(../fonts/Roboto-Light.woff) format('woff'),
  url(../fonts/Roboto-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mediunm');
  src: url(../fonts/Roboto-Medium.woff2) format('woff2'),
  url(../fonts/Roboto-Medium.woff) format('woff'),
  url(../fonts/Roboto-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto bold');
  src: url(../fonts/Roboto-Bold.woff2) format('woff2'),
  url(../fonts/Roboto-Bold.woff) format('woff'),
  url(../fonts/Roboto-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black');
  src: url(../fonts/Roboto-Black.woff2) format('woff2'),
  url(../fonts/Roboto-Black.woff) format('woff'),
  url(../fonts/Roboto-Black.otf) format('opentype');
}


/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular');
  src: url(../fonts/Montserrat-Regular.woff2) format('woff2'),
       url(../fonts/Montserrat-Regular.woff) format('woff'),
       url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium');
  src: url(../fonts/montserrat-Medium.woff2) format('woff2'),
       url(../fonts/montserrat-Medium.woff) format('woff'),
       url(../fonts/montserrat-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold');
  src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
       url(../fonts/Montserrat-SemiBold.woff) format('woff'),
       url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat bold');
  src: url(../fonts/montserrat-bold.woff2) format('woff2'),
       url(../fonts/montserrat-bold.woff) format('woff'),
       url(../fonts/montserrat-bold.ttf) format('truetype');
}

/* 에스코어 드림 체 */
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 100;
    src: local('S-Core Dream 1');
    src: url(../fonts/S-CoreDream-1Thin.woff2) format('woff2'),
    url(../fonts/S-CoreDream-1Thin.woff) format('woff'),
    url(../fonts/S-CoreDream-1Thin.ttf) format('truetype'),
    url(../fonts/SCDream1.otf) format('opentype'),
    url(../fonts/S-CoreDream-1Thin.svg#S-CoreDream-1Thin) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 200;
    src: local('S-Core Dream 2');
    src: url(../fonts/S-CoreDream-2ExtraLight.woff2) format('woff2'),
    url(../fonts/S-CoreDream-2ExtraLight.woff) format('woff'),
    url(../fonts/S-CoreDream-2ExtraLight.ttf) format('truetype'),
    url(../fonts/SCDream2.otf) format('opentype'),
    url(../fonts/S-CoreDream-2ExtraLight.svg#S-CoreDream-2ExtraLight) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 300;
    src: local('S-Core Dream 3');
    src: url(../fonts/S-CoreDream-3Light.woff2) format('woff2'),
    url(../fonts/S-CoreDream-3Light.woff) format('woff'),
    url(../fonts/S-CoreDream-3Light.ttf) format('truetype'),
    url(../fonts/SCDream3.otf) format('opentype'),
    url(../fonts/S-CoreDream-3Light.svg#S-CoreDream-3Light) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 400;
    src: local('S-Core Dream 4');
    src: url(../fonts/S-CoreDream-4Regular.woff2) format('woff2'),
    url(../fonts/S-CoreDream-4Regular.woff) format('woff'),
    url(../fonts/S-CoreDream-4Regular.ttf) format('truetype'),
    url(../fonts/SCDream4.otf) format('opentype'),
    url(../fonts/S-CoreDream-4Regular.svg#S-CoreDream-4Regular) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 500;
    src: local('S-Core Dream 5');
    src: url(../fonts/S-CoreDream-5Medium.woff2) format('woff2'),
    url(../fonts/S-CoreDream-5Medium.woff) format('woff'),
    url(../fonts/S-CoreDream-5Medium.ttf) format('truetype'),
    url(../fonts/SCDream5.otf) format('opentype'),
    url(../fonts/S-CoreDream-5Medium.svg#S-CoreDream-5Medium) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 600;
    src: local('S-Core Dream 6');
    src: url(../fonts/S-CoreDream-6Bold.woff2) format('woff2'),
    url(../fonts/S-CoreDream-6Bold.woff) format('woff'),
    url(../fonts/S-CoreDream-6Bold.ttf) format('truetype'),
    url(../fonts/SCDream6.otf) format('opentype'),
    url(../fonts/S-CoreDream-6Bold.svg#S-CoreDream-6Bold) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 700;
    src: local('S-Core Dream 7');
    src: url(../fonts/S-CoreDream-7ExtraBold.woff2) format('woff2'),
    url(../fonts/S-CoreDream-7ExtraBold.woff) format('woff'),
    url(../fonts/S-CoreDream-7ExtraBold.ttf) format('truetype'),
    url(../fonts/SCDream7.otf) format('opentype'),
    url(../fonts/S-CoreDream-7ExtraBold.svg#S-CoreDream-7ExtraBold) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 800;
    src: local('S-Core Dream 8');
    src: url(../fonts/S-CoreDream-8Heavy.woff2) format('woff2'),
    url(../fonts/S-CoreDream-8Heavy.woff) format('woff'),
    url(../fonts/S-CoreDream-8Heavy.ttf) format('truetype'),
    url(../fonts/SCDream8.otf) format('opentype'),
    url(../fonts/S-CoreDream-8Heavy.svg#S-CoreDream-8Heavy) format('svg');
}
@font-face {
	font-family: 'S-Core';
	font-style: normal;
    font-weight: 900;
    src: local('S-Core Dream 9');
    src: url(../fonts/S-CoreDream-9Black.woff2) format('woff2'),
    url(../fonts/S-CoreDream-9Black.woff) format('woff'),
    url(../fonts/S-CoreDream-9Black.ttf) format('truetype'),
    url(../fonts/SCDream9.otf) format('opentype'),
    url(../fonts/S-CoreDream-9Black.svg#S-CoreDream-9Black) format('svg');
}

/* SB 어그로체 */
@font-face {
  font-family: 'Sbaggro';
  font-style: normal;
  font-weight: 400;
  src: local('SB 어그로 L');
  src: url(../fonts/SbaggroL.woff2) format('woff2'),
       url(../fonts/SbaggroL.woff) format('woff'),
       url(../fonts/SbaggroL.ttf) format('truetype');
}
@font-face {
  font-family: 'Sbaggro';
  font-style: normal;
  font-weight: 500;
  src: local('SB 어그로 M');
  src: url(../fonts/SbaggroM.woff2) format('woff2'),
       url(../fonts/SbaggroM.woff) format('woff'),
       url(../fonts/SbaggroM.ttf) format('truetype');
}
@font-face {
  font-family: 'Sbaggro';
  font-style: normal;
  font-weight: 600;
  src: local('SB 어그로 B');
  src: url(../fonts/SbaggroB.woff2) format('woff2'),
       url(../fonts/SbaggroB.woff) format('woff'),
       url(../fonts/SbaggroB.ttf) format('truetype');
}

/* SUIT */
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 100;
  src: local('SUIT');
  src: url(../fonts/SUIT-Light.woff2) format('woff2'),
       url(../fonts/SUIT-Light.woff) format('woff'),
       url(../fonts/SUIT-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 100;
  src: local('SUIT');
  src: url(../fonts/SUIT-Thin.woff2) format('woff2'),
       url(../fonts/SUIT-Thin.woff) format('woff'),
       url(../fonts/SUIT-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 200;
  src: local('SUIT');
  src: url(../fonts/SUIT-Light.woff2) format('woff2'),
       url(../fonts/SUIT-Light.woff) format('woff'),
       url(../fonts/SUIT-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 300;
  src: local('SUIT');
  src: url(../fonts/SUIT-ExtraLight.woff2) format('woff2'),
       url(../fonts/SUIT-ExtraLight.woff) format('woff'),
       url(../fonts/SUIT-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 400;
  src: local('SUIT');
  src: url(../fonts/SUIT-Regular.woff2) format('woff2'),
       url(../fonts/SUIT-Regular.woff) format('woff'),
       url(../fonts/SUIT-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 500;
  src: local('SUIT');
  src: url(../fonts/SUIT-Medium.woff2) format('woff2'),
       url(../fonts/SUIT-Medium.woff) format('woff'),
       url(../fonts/SUIT-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 600;
  src: local('SUIT');
  src: url(../fonts/SUIT-SemiBold.woff2) format('woff2'),
       url(../fonts/SUIT-SemiBold.woff) format('woff'),
       url(../fonts/SUIT-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 700;
  src: local('SUIT');
  src: url(../fonts/SUIT-Bold.woff2) format('woff2'),
       url(../fonts/SUIT-Bold.woff) format('woff'),
       url(../fonts/SUIT-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Suit';
  font-style: normal;
  font-weight: 900;
  src: local('SUIT');
  src: url(../fonts/SUIT-Heavy.woff2) format('woff2'),
       url(../fonts/SUIT-Heavy.woff) format('woff'),
       url(../fonts/SUIT-Heavy.ttf) format('truetype');
}


/* gmarket font */
@font-face {
  font-family: 'GmarketSansLight';
  src: url(../fonts/GmarketSansLight.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url(../fonts/GmarketSansMedium.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url(../fonts/GmarketSansBold.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket';
  src: url(../fonts/GmarketSansLight.otf) format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket';
  src: url(../fonts/GmarketSansMedium.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket';
  src: url(../fonts/GmarketSansBold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}
